<div>
  <h1 mat-dialog-title>
    New Activity
    <button mat-icon-button [mat-dialog-close]="data" class="pull-right">
      <mat-icon aria-label="clear">clear</mat-icon>
    </button>
  </h1>
  <form class="example-form" [formGroup]="projectActivityForm" (ngSubmit)="onFormSubmit(projectActivityForm.value)">
    <div mat-dialog-content>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <mat-form-field class="example-full-width">
                <textarea matInput formControlName="ActivityDescription" placeholder="Activity Description"
                  matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="7"></textarea>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <mat-form-field>
                <input matInput formControlName="PlannedStartDate" [matDatepicker]="planningStartDatepicker"
                  placeholder="Start Date" />
                <mat-datepicker-toggle matSuffix [for]="planningStartDatepicker"></mat-datepicker-toggle>
                <mat-datepicker color="primary" #planningStartDatepicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <mat-form-field>
                <input matInput [min]="startDate" formControlName="PlannedEndDate"
                  [matDatepicker]="planningEndDatepicker" placeholder="End Date" />
                <mat-datepicker-toggle matSuffix [for]="planningEndDatepicker"></mat-datepicker-toggle>
                <mat-datepicker color="primary" #planningEndDatepicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Budget Line" formControlName="BudgetLineId">
                  <mat-option *ngFor="let item of budgetLineList" [value]="item.BudgetLineId">
                    {{ item.BudgetName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Assignee" formControlName="EmployeeID">
                  <mat-option *ngFor="let item of employeeList" [value]="item.EmployeeId">
                    {{ item.EmployeeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <!--<mat-form-field class="example-full-width">
                 <mat-select placeholder="Location" formControlName="OfficeId">
                  <mat-option
                    *ngFor="let item of officeList"
                    [value]="item.OfficeId"
                  >
                    {{ item.OfficeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Select Province" formControlName="ProvinceId"
                  (selectionChange)="onProvinceDetailChange($event)" multiple>
                  <mat-option *ngFor="let item of provinceSelectionList" [value]="item.value">{{ item.label }}
                  </mat-option>
                </mat-select>

                <!-- <mat-spinner class="center_loader custom_load" *ngIf="provinceDistrictFlag;" diameter="20">
                </mat-spinner> -->
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Select District" formControlName="DistrictID" multiple>
                  <mat-option *ngFor="let item of districtSelectionList" [value]="item.value">{{ item.label }}
                  </mat-option>
                </mat-select>
                <!-- <mat-spinner class="center_loader custom_load" *ngIf="provinceDistrictFlag || districtFlag;" diameter="20">
                </mat-spinner> -->
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
              <span>Recurring</span>
              <mat-slide-toggle formControlName="Recurring" class="padding_left_10" color="primary" [checked]="true">
              </mat-slide-toggle>
            </div>

            <div *ngIf="recurringFlag" class="col-sm-6 col-sm-offset-3 text-center">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="RecurringCount" placeholder="Recur count" type="number" />
              </mat-form-field>
            </div>
            <div *ngIf="recurringFlag" class="col-sm-12 text-center">
              <mat-radio-group class="example-radio-group" formControlName="RecurrinTypeId">
                <mat-radio-button class="example-radio-button" *ngFor="let item of recurringTypeList" [value]="item.Id">
                  {{ item.Name }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="pull-right">
      <button mat-raised-button [mat-dialog-close]="data">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="addActivityLoader">
        <span *ngIf="!addActivityLoader; else activityAddLoaderTemplate">Add</span>
        <ng-template #activityAddLoaderTemplate>
          <div class="spinner_center padding_top_5 padding_bottom_5">
            <mat-spinner [diameter]="25"> </mat-spinner>
          </div>
        </ng-template>
      </button>
    </div>
  </form>
</div>
