<div class="container width_100">
    <div class="row">
        <div class="col-md-12" class="items-float-right">
            <hum-button [type]="'add'" [text]="'ADD JOB GRADE'" (click)="addJobGrade()"></hum-button>
        </div>
        <div class="col-md-12">
            <div class="departmentTable">
                <hum-table [headers]="jobGradeHeaders$" [items]="jobGradeList$" [hideColums$]="hideColums$" (actionClick)="actionEvents($event)" [actions]="actions"></hum-table>
            </div>
            <mat-paginator [length]="RecordCount" [pageSize]="pageModel.PageSize" [pageSizeOptions]="[10, 5, 25, 100]" (page)="pageEvent($event)">
            </mat-paginator>
        </div>
    </div>
</div>