<div mat-dialog-title><h3>Request a New Item</h3></div>
<div class="row">
    <div class="col-md-12">
      <form [formGroup]="addLogisticItemsForm" (ngSubmit)="addItem(addLogisticItemsForm.value)">
          <!-- <mat-form-field class="example-full-width">
              <input matInput formControlName="Item" placeholder="Item">
          </mat-form-field> -->
          <p>Select the item you want to include in this Logistic Request</p>
          <lib-search-dropdown
            placeholder="Store Item"
            [multiSelect]="false"
            placeholderSearchLabel="Find Items..."
            noEntriesFoundLabel="No matching items found"
            [dataSource]="storeItemsList"
            [selectedValue]="ItemIds"
            (selectionChanged)="onOpenedItemSelectChange($event)"
          ></lib-search-dropdown>
          <p>How much do you expect selected items to cost per unit?</p>
          <mat-form-field class="example-full-width">
              <input matInput type="number" formControlName="EstimatedUnitCost" placeholder="Estimated Unit Cost">
          </mat-form-field>
          <p>How many units do you want to request?</p>
          <mat-form-field class="example-full-width">
              <input matInput type="number" formControlName="RequestedUnits" placeholder="Requested Units">
          </mat-form-field>
          <hum-button [type]="'save'" [text]="'Request'" [isSubmit]="true"></hum-button>
          <hum-button [type]="'cancel'" [text]="'Cancel'" (click)="cancelItem()"></hum-button>

      </form>
    </div>
  </div>
