<div class="row">
    <div class="col-md-12">
      <form [formGroup]="addLogisticItemsForm" (ngSubmit)="addItem(addLogisticItemsForm.value)">
          <!-- <mat-form-field class="example-full-width">
              <input matInput formControlName="Item" placeholder="Item">
          </mat-form-field> -->
          <lib-search-dropdown
            placeholder="Select Items"
            [multiSelect]="false"
            placeholderSearchLabel="Find Items..."
            noEntriesFoundLabel="No matching items found"
            [dataSource]="storeItemsList"
            (selectionChanged)="onOpenedItemSelectChange($event)"
            ></lib-search-dropdown>
          <mat-form-field class="example-full-width">
              <input matInput type="number" formControlName="Quantity" placeholder="Quantity">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput type="number" formControlName="EstimatedCost" placeholder="Estimated Cost">
          </mat-form-field>
          <hum-button [type]="'save'" [text]="'Save'" [isSubmit]="true"></hum-button>
          <hum-button [type]="'cancel'" [text]="'Cancel'" (click)="cancelItem()" class="pull-right"></hum-button>

      </form>
    </div>
  </div>
