<div class="row">
  <div class="col-md-12">
    <span class="pull-left">
      <h4>Filters</h4>
    </span>
    <span class="pull-right">
      <!-- <hum-button [type]="'filter'" [text]="'advance filters'" (click)="isBasic=!isBasic"></hum-button> -->
      <hum-button [type]="'clear'" [text]="'clear filters'" (click)="clearFilters()"></hum-button>
    </span>
  </div>
</div>
<div class="row">
  <form [formGroup]= "vehicleTrackerFilterForm">
  <div class="col-md-12">
    <div class="col-md-3">
        <mat-form-field class="example-full-width">
            <input matInput formControlName="PlateNo" placeholder="Plate No">
          </mat-form-field>
    </div>
    <div class="col-md-3">
        <lib-hum-dropdown [options]="officeList$" formControlName="OfficeId" [placeHolder]="'Office'"
        (change)="getOfficeSelectedValue($event)"></lib-hum-dropdown>
    </div>
    <div class="col-md-3">
      <lib-hum-dropdown [options]="employeeList$" formControlName="EmployeeId" [placeHolder]="'Driver'"
        ></lib-hum-dropdown>
  </div>
    <div class="col-md-3">
        <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Total Cost" formControlName="TotalCost">
        </mat-form-field>
    </div>
  </div>
  </form>
  </div>
  <div class="row">
    <div class="col-md-10"></div>
      <div class="col-md-2">
          <hum-button [type]="'filter'" [text]="'Apply Filter'" (click)="onApplyFilters()"></hum-button>
      </div>
  </div>
