input, input:focus {
    border: transparent; 
    box-shadow: none;
    border-bottom: 1px solid;
}
input:focus {
    border: transparent; 
    box-shadow: none;
    border-bottom: 1px solid transparent;
}