<div class="row">
  <div class="col-md-12">
      <div mat-dialog-title><h4>Add New Supplier</h4></div>
      <form [formGroup]="addSupplierForm" (ngSubmit)="addSupplier(addSupplierForm.value)">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="Supplier" placeholder="Supplier Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="number" formControlName="Quantity" placeholder="Quantity">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="number" formControlName="FinalCost" placeholder="Final Cost">
        </mat-form-field>
        <hum-button [type]="'save'" [text]="'Save'" [isSubmit]="true"></hum-button>
        <hum-button [type]="'cancel'" [text]="'Cancel'" (click)="cancel()" class="pull-right"></hum-button>
      </form>
  </div>
</div>
