<lib-sub-header-template>
  <span class="action_header">General
  </span>
</lib-sub-header-template>

<mat-card humAddScroll [height]="250">
  <div class="row">
    <div class="col-sm-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Education Degree</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-education-degree></app-education-degree>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Office</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-office-master></app-office-master>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Department</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-department-master></app-department-master>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Job Grades</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-job-grade-master></app-job-grade-master>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Attendance Group</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-attendance-group-master></app-attendance-group-master>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Profession</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-profession-master></app-profession-master>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Qualification</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-qualification-master></app-qualification-master>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>Leave Type</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-leave-type></app-leave-type>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

</mat-card>
