.font_size_smaller {
  font-size: xx-small;
}
.accent_color_code {
  color: #1aaf98;
}
.primary_color_code {
  color: #4d5ca0;
}
.warn_color_code {
  color: #f44336;
}
.pointer_default {
  cursor: default;
}
.font_weight{
  font-weight: bold;
}