.font_caps_12 {
    text-transform: uppercase;
}

.font_caps_12_bold {
    text-transform: uppercase;
    font-weight: 600;
}

.font_smallcaps_12 {
    font-variant-caps: all-small-caps;
    text-transform: uppercase;
}

.font_caps_10 {
    padding-top:2px;
    padding-bottom:px;
    font-variant-caps: all-petite-caps;
    text-transform: uppercase;
}

.right_align {
    text-align: right;
}

