.vs/HumanitarianAssistance/v16
.vs/HumanitarianAssistance/v15
.vs/HumanitarianAssistance/DesignTimeBuild

/.vs/HumanitarianAssistance/v15/Server/sqlite3
/.vs/config/applicationhost.config


HumanitarianAssistance.Application/obj
HumanitarianAssistance.Application/bin

HumanitarianAssistance.Common/obj
HumanitarianAssistance.Common/bin

HumanitarianAssistance.Domain/obj
HumanitarianAssistance.Domain/bin

HumanitarianAssistance.Infrastructure/obj
HumanitarianAssistance.Infrastructure/bin

HumanitarianAssistance.Persistence/obj
HumanitarianAssistance.Persistence/bin
HumanitarianAssistance.WebApi/ClientApp/package-lock.json
HumanitarianAssistance.WebApi/NewUI/package-lock.json
