HumanitarianAssistance.Entities/obj/
HumanitarianAssistance.Service/obj/
HumanitarianAssistance/HumanitarianAssistance.Common/obj/
HumanitarianAssistance/obj/
HumanitarianAssistance.Service/bin/
HumanitarianAssistance/bin/
HumanitarianAssistance.Entities/bin/
DataAccess/obj/
DataAccess/bin/
/HumanitarianAssistance/HumanitarianAssistance.Common/bin/Debug/netcoreapp2.1
HumanitarianAssistance/HumanitarianAssistance.Common/bin/

