<mat-card humAddScroll>
    <div class="row header">
        <span class="action_header">Salary Configuration
      <hum-button
        [type]="'edit'"
        [text]="'RECONFIGURE'"
        (click)="addSalaryConfiguration()"
      ></hum-button>
    </span>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Salary Currency</td>
                            <td>{{ employeeCurrencyAndAmount.CurrencyName }}</td>
                        </tr>
                        <tr>
                            <td>Active Base Salary</td>
                            <td>{{ employeeCurrencyAndAmount.MonthlyAmount }}</td>
                        </tr>
                        <tr>
                            <td>Capacity Building</td>
                            <td>{{ employeeCurrencyAndAmount.CapacityBuilding }}</td>
                        </tr>
                        <tr>
                            <td>Security</td>
                            <td>{{ employeeCurrencyAndAmount.Security }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div class="row header">
        <span class="action_header">Monthly Salary Breakdown
      <hum-button
        [type]="'add'"
        [disabled]="monthlySalaryBreakdown.Month == '' || isSalaryApproved"
        [text]="'ADD BONUS'"
        (click)="addBonus()"
      ></hum-button>
      <hum-button
        [type]="'addNew'"
        [disabled]="monthlySalaryBreakdown.Month == '' || isSalaryApproved"
        [text]="'ADD FINE'"
        (click)="addFine()"
      ></hum-button>
      <hum-button
        [type]="'add'"
        [disabled]="monthlySalaryBreakdown.Month == '' || isSalaryApproved"
        [text]="'ADD ADVANCE RECOVERY'"
        (click)="addAdvance()"
      ></hum-button>
      <hum-button
        [type]="'save'"
        [text]="'APPROVE SALARY'"
        [disabled]="monthlySalaryBreakdown.Month == '' || isSalaryApproved"
        (click)="approveSalary()"
      >
      </hum-button>
      <hum-button
        [type]="'exclamation'"
        [text]="'REVOKE SALARY'"
        [disabled]="!isSalaryApproved"
        (click)="revokeSalary()"
      ></hum-button>
      <hum-button
        [type]="'download'"
        [text]="'EXPORT PDF'"
        [disabled]="!isSalaryApproved"
        (click)="onExportMonthlyPaySlipPdf()"
      ></hum-button>
      <button mat-button [matMenuTriggerFor]="MonthMenu">
        <h5 style="color: #0390D1;">
          {{ selectedMonth.name | uppercase }} &nbsp;<i
            class="fas fa-caret-down"
          ></i>
        </h5>
      </button>
      <mat-menu #MonthMenu="matMenu">
        <button
          (click)="selectedMonthChanged(month)"
          *ngFor="let month of monthsList$ | async"
          mat-menu-item
        >
          {{ month.name }}
        </button>
      </mat-menu>
    </span>
    </div>
    <br />
    <div class="row" *ngIf="isNoError">
        <div class="col-md-12">
            <div class="col-md-4">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Active Hourly Rate</td>
                            <td>{{ monthlySalaryBreakdown.HourlyRate | number : '1.2-2' }}</td>
                        </tr>
                        <tr>
                            <td>Month</td>
                            <td>{{ monthlySalaryBreakdown.Month }}</td>
                        </tr>
                        <tr>
                            <td>Total Gross Salary</td>
                            <td>{{ monthlySalaryBreakdown.GrossSalary | number : '1.2-2' }}</td>
                        </tr>
                        <tr>
                            <td>Total Net Salary</td>
                            <td>{{ monthlySalaryBreakdown.NetSalary | number : '1.2-2' }}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{{ monthlySalaryBreakdown.Status }}</td>
                        </tr>
                        <tr>
                            <td>Salary Paid Amount</td>
                            <td>{{ monthlySalaryBreakdown.SalaryPaidAmount | number : '1.2-2' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="isNoError">
        <div class="col-md-12">
            <mat-tab-group>
                <mat-tab label="Accumulated">
                    <div class="col-md-12">
                        <hum-table [headers]="accumulatedHeaders$" [hideColums$]="hideColumsAccumulatedSalaryHeads" [isDefaultAction]="false" [items]="accumulatedList$"></hum-table>
                    </div>
                </mat-tab>
                <mat-tab label="Bonuses & Fines">
                    <div class="col-md-12">
                        <hum-table [headers]="bonusAndFineHeaders$" [hideColums$]="hideColumsBounusFine" [isDefaultAction]="false" [items]="bonusAndFineList$" [actions]="actions" (actionClick)="bonusFineEvents($event)"></hum-table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="row" *ngIf="!isNoError">
        <div class="col-md-12">
            <i class="fas fa-info-circle icon_color_yellow"></i>&nbsp;
            <b>{{ errorMessage }}</b>
            <hum-button *ngIf="showGenerateAttendanceButton" [type]="'save'" [text]="'Mark Attendance'" (click)="markWholeMonthAttendance()"></hum-button>
        </div>
    </div>
</mat-card>
