<mat-card humAddScroll>
    <div class="row header">
        <span class="action_header">Salary Configuration
      <hum-button [type]="'edit'" [text]="'RECONFIGURE'" (click)="addSalaryConfiguration()"></hum-button>
    </span>
    </div><br/>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Salary Currency</td>
                            <td>{{employeeCurrencyAndAmount.CurrencyName}}</td>
                        </tr>
                        <tr>
                            <td>Active Base Salary</td>
                            <td>{{employeeCurrencyAndAmount.MonthlyAmount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    <div class="row header">
        <span class="action_header">Monthly Salary Breakdown
    <hum-button [type]="'add'" [text]="'ADD BONUS'" (click)="addBonus()"></hum-button>
    <hum-button  [type]="'addNew'" [text]="'ADD FINE'" (click)="addFine()"></hum-button>

    <button mat-button [matMenuTriggerFor]="MonthMenu">
      <h5 style="color: #0390D1;">{{selectedMonth.name | uppercase}}  &nbsp;<i class="fas fa-caret-down"></i></h5>
    </button>
<mat-menu #MonthMenu="matMenu">
      <button (click)="selectedMonthChanged(month)" *ngFor="let month of monthsList$ | async" mat-menu-item>{{month.name}}</button>
    </mat-menu>


  </span>
    </div><br/>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Active Hourly Rate</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Month</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Total Gross Salary</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Total Net Salary</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Salary Paid Amount</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <mat-tab-group>
                <mat-tab label="Accumulated">
                    <div class="col-md-12">
                        <hum-table [headers]="accumulatedHeaders$" [isDefaultAction]="false" [items]="accumulatedList$"></hum-table>
                    </div>
                </mat-tab>
                <mat-tab label="Bonuses & Fines">
                    <div class="col-md-12">
                        <hum-table [headers]="bonusAndFineHeaders$" [isDefaultAction]="false" [items]="bonusAndFineList$" [actions]="actions" (actionClick)="empActionEvents($event)"></hum-table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</mat-card>
