<div>
    <h1 mat-dialog-title>Add Procurement</h1>
    <hr>
</div>
  <form [formGroup]='addProcurementForm' (ngSubmit)="addProcurement()">
      <mat-dialog-content>

          <div class="row">
              <div class="col-md-12">
                <div class="col-md-4">
                  <lib-hum-dropdown  [validation]="addProcurementForm.controls['InventoryTypeId'].hasError('required')" [disabled]="addProcurementForm.controls['InventoryTypeId'].disabled" [options]="inventoryType$" formControlName='InventoryTypeId' [placeHolder]="'Inventory'"
                    ></lib-hum-dropdown>
                </div>
                <div class="col-md-4">
                  <lib-hum-dropdown [validation]="addProcurementForm.controls['InventoryId'].hasError('required')" [options]="storeInventory$" [disabled]="addProcurementForm.controls['InventoryId'].disabled" formControlName='InventoryId' [placeHolder]="'Inventory(Master)'"
                    (change)="getMasterInventorySelectedValue($event)"></lib-hum-dropdown>
                </div>
                <div class="col-md-4">
                  <lib-hum-dropdown [validation]="addProcurementForm.controls['ItemGroupId'].hasError('required')" [options]="storeItemGroups$" [disabled]="addProcurementForm.controls['ItemGroupId'].disabled" formControlName='ItemGroupId' [placeHolder]="'Item Group'"
                    (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="col-md-4">
                    <lib-hum-dropdown [validation]="addProcurementForm.controls['ItemId'].hasError('required')" [options]="storeItems$" [disabled]="addProcurementForm.controls['ItemId'].disabled" formControlName='ItemId' [placeHolder]="'Item'"
                      ></lib-hum-dropdown>
                  </div>
                  <div class="col-md-4">
                    <lib-hum-dropdown [validation]="addProcurementForm.controls['PurchaseId'].hasError('required')" [options]="purchases$" [disabled]="addProcurementForm.controls['PurchaseId'].disabled" formControlName='PurchaseId' [placeHolder]="'Purchase Name'"
                      ></lib-hum-dropdown>
                  </div>
                </div>
              </div>

            <h5>Issued Detail</h5>

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-4">
                  <mat-form-field>
                    <input  matInput min="0" type="number" oninput="validity.valid||(value='');" id="IssuedQuantity" formControlName='IssuedQuantity' placeholder="Issued Quantity">
                    <mat-error *ngIf="addProcurementForm.controls['IssuedQuantity'].hasError('max')">Issued quantity must be less than purchased quantity</mat-error>
                    <mat-error *ngIf="addProcurementForm.controls['IssuedQuantity'].hasError('required')">required</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <lib-hum-dropdown [validation]="addProcurementForm.controls['IssuedToEmployeeId'].hasError('required')" [options]="employeeList$" formControlName='IssuedToEmployeeId'
                    [placeHolder]="'Issued To Employee'" (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <input matInput [matDatepicker]="IssueDate" formControlName='IssueDate' placeholder="Issue Date">
                    <mat-datepicker-toggle matSuffix [for]="IssueDate"></mat-datepicker-toggle>
                    <mat-datepicker #IssueDate></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-4">
                  <lib-hum-dropdown [validation]="addProcurementForm.controls['ProjectId'].hasError('required')" [options]="projects$" formControlName='ProjectId' [placeHolder]="'Project'"
                    (change)="getMasterInventorySelectedValue($event)"></lib-hum-dropdown>
                </div>
                <div class="col-md-4">
                  <lib-hum-dropdown  [validation]="addProcurementForm.controls['StoreSourceId'].hasError('required')"  [options]="storeSource$" formControlName='StoreSourceId'
                    [placeHolder]="'Issued To Location'" (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
                </div>
                <div class="col-md-4">
                  <lib-hum-dropdown [validation]="addProcurementForm.controls['StatusId'].hasError('required')" [options]="statusList$" formControlName='StatusId' [placeHolder]="'Status At Time Of Issue'"
                    (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-4">
                  <mat-checkbox formControlName='MustReturn'>Must Return</mat-checkbox>
                </div>
              </div>
            </div>
            <hr>
      </mat-dialog-content>
      <mat-dialog-actions class="items-float-right">
            <hum-button [type]="'save'" [text]="'save'" [isSubmit]="true"></hum-button>
            <hum-button (click)='onCancelPopup()' [type]="'cancel'" [text]="'cancel'"></hum-button>
        </mat-dialog-actions>
  </form>
