<lib-sub-header-template>
  <span class="action_header">Procurement Details Form
    <hum-button form="ngForm" [disabled]="!addProcurementForm.valid" [type]="'save'" [text]="'SAVE'" (click)="saveProcurement()"></hum-button>
  </span>
</lib-sub-header-template>
<mat-divider></mat-divider>
<mat-card humAddScroll>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form id="ngForm" #documentEditForm="ngForm" [formGroup]= "addProcurementForm">
          <div class="row">
            <div class="col-sm-12">
              <b>When was this Procurement issued?</b>
            </div>
            <div class="col-sm-12">
              <mat-form-field>
                <input matInput [matDatepicker]="IssueDate" formControlName='IssueDate' placeholder="Issue Date">
                <mat-datepicker-toggle matSuffix [for]="IssueDate"></mat-datepicker-toggle>
                <mat-datepicker #IssueDate></mat-datepicker>
              </mat-form-field>
            </div>
            <br>
            <div class="col-sm-12">
              <b>Who was this Procurement issued to?</b>
            </div>
            <div class="col-sm-12">
              <lib-hum-dropdown [validation]="addProcurementForm.controls['IssuedToEmployeeId'].hasError('required')"
              [options]="employeeList$" formControlName='IssuedToEmployeeId' [placeHolder]="'Issued To Employee'"
              (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
            </div>
            <br>
            <div class="col-sm-12">
              <b>What quantity was originally issued?</b>
            </div>
            <div class="col-sm-12">
              <mat-form-field>
                <input (change)="validateMaxProcurement()" matInput min="0" type="number"
                  oninput="validity.valid||(value='');" id="IssuedQuantity" formControlName='IssuedQuantity'
                  placeholder="Issued Quantity">
                <mat-error *ngIf="addProcurementForm.controls['IssuedQuantity'].hasError('required')">required</mat-error>
              </mat-form-field>

            </div>
            <br>
            <div class="col-sm-12">
              <b>What condition was the Item(s) at the time of issue?</b>
            </div>
            <div class="col-sm-12">
              <lib-hum-dropdown [validation]="addProcurementForm.controls['StatusId'].hasError('required')"
              [options]="statusList$" formControlName='StatusId' [placeHolder]="'Status At Time Of Issue'"
              (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
            </div>
            <br>
            <div class="col-sm-12">
              <b>Which voucher is this issue tracked?</b>
            </div>
            <div class="col-sm-12">
              <lib-hum-dropdown [validation]="addProcurementForm.controls['StatusId'].hasError('required')"
              [options]="statusList$" formControlName='StatusId' [placeHolder]="'Status At Time Of Issue'"
              (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
            </div>
            <br>
            <div class="col-sm-12">
              <b>Which project is this Procurement issued for?</b>
            </div>
            <div class="col-sm-12">
              <lib-hum-dropdown [validation]="addProcurementForm.controls['ProjectId'].hasError('required')"
              [options]="projects$" formControlName='ProjectId' [placeHolder]="'Project'"
              (change)="getMasterInventorySelectedValue($event)"></lib-hum-dropdown>
            </div>
            <br>
            <div class="col-sm-12">
              <b>Where is this Procurement issued to?</b>
            </div>
            <div class="col-sm-12">
              <lib-hum-dropdown [validation]="addProcurementForm.controls['StoreSourceId'].hasError('required')"
              [options]="storeSource$" formControlName='StoreSourceId' [placeHolder]="'Issued To Location'"
              (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
            </div>
            <br>
            <div class="col-sm-12">
              <b>Are the Procured items to be Returned?</b>
            </div>
            <div class="col-sm-12">
              <mat-checkbox formControlName='MustReturn'>Must Return</mat-checkbox>
            </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</mat-card>
