<div [ngSwitch]="requestStatus">
  <div *ngSwitchCase="1" style="margin-top: 25%;">
    <i class="fas fa-info-circle icon_align icon_color_pending"></i>
    <h3 class="text-center">PURCHASE ORDER PENDING</h3>
  </div>
  <div *ngSwitchCase="2" style="margin-top: 25%;">
      <i class="fas fa-exclamation-circle icon_align icon_color_cancel"></i>
      <h3 class="text-center">CANCELLED REQUEST</h3>
  </div>
  <div *ngSwitchCase="3" >
    <h4 class="letter_spacing_2">Purchase Order Details</h4>
    <p>These are all the items that have been purchased for this logistics procurement request.
      You will find these purchases in the store pages as well.
    </p>
    <p>
      <strong>Note</strong>: Users can only select items that have been specified in the logistics procurement
      request as items that can be added into the purchased items list below. If an item is not specified in the procurement
      request specification to the left, you will not be able to select here.
    </p>
    <div>
      <h4>Purchased Items
          <hum-button [type]="'add'" [text]="'SUBMIT PURCHASES'" (click)="submitPurchase()"></hum-button>
      </h4>
      <span><i class="fas fa-info-circle icon_color_yellow"></i> Awaiting <b>Store Officer</b> to <b>Submit</b> purchased items list.</span>
      <hum-table [headers]="purchasedItemsHeaders$" [items]="purchasedItemsData$" *ngIf="this.selectedItems!=undefined"></hum-table>
    </div>
  </div>
  <div *ngSwitchCase="4" >
    <h4 class="letter_spacing_2">Purchase Order Details</h4>
    <p>These are all the items that have been purchased for this logistics procurement request.
      You will find these purchases in the store pages as well.
    </p>
    <p>
      <strong>Note</strong>: Users can only select items that have been specified in the logistics procurement
      request as items that can be added into the purchased items list below. If an item is not specified in the procurement
      request specification to the left, you will not be able to select here.
    </p>
    <div>
      <h4>Purchased Items
        <hum-button (click)="rejectPurchaseOrder()" [type]="'cancel'" [text]="'REJECT'"></hum-button>
        <hum-button (click)="approvePurchaseOrder()" [type]="'save'" [text]="'APPROVE'"></hum-button>
        <hum-button [type]="'pdf'" [text]="'GOODS RECIEVED NOTE'"></hum-button>
      </h4>
      <div *ngIf="goodsNoteSubmitted">
        <span><i class="fas fa-info-circle icon_color_yellow"></i> Signed version of goods recieved note. <a href="{{goodsRecievedModel.AttachmentUrl}}" target="_blank"><i class="fa fa-download fa-2" aria-hidden="true"></i></a></span><br>
        <span><i class="fas fa-info-circle icon_color_yellow"></i> Inventory approved by <b>{{goodsRecievedModel.UploadedBy}}</b>.Awaiting <b>Finance Officer</b> to <b>Approve</b> voucher.</span>
      </div>
      <span *ngIf="!goodsNoteSubmitted"><i class="fas fa-info-circle icon_color_yellow"></i> Submitted. Awaiting <b>Control Officer</b> to <b>Approve</b> purchased items list.</span>
      <hum-table [headers]="purchasedItemsHeaders$" [items]="purchasedItemsData$"></hum-table>
    </div>
  </div>
  <div *ngSwitchCase="7">

  </div>
  <div *ngSwitchDefault>

  </div>
</div>
