<mat-card humAddScroll>
    <div class="row header">
        <span class="action_header">Salary Taxes
      <button mat-button [matMenuTriggerFor]="CurrencyMenu">
        <h5 style="color: #0390D1;">
          DISPLAY CURRENCY &nbsp;<i class="fas fa-caret-down"></i>
        </h5>
      </button>
      <mat-menu #CurrencyMenu="matMenu">
        <button *ngFor="let currency of currencyList$ | async" mat-menu-item>
          {{ currency.name }}
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="FinancialYearMenu">
        <h5 style="color: #0390D1;">
          FINANCIAL YEAR &nbsp;<i class="fas fa-caret-down"></i>
        </h5>
      </button>
      <mat-menu #FinancialYearMenu="matMenu">
        <button
          *ngFor="let financialYear of financialYearList$ | async"
          mat-menu-item
        >
          {{ financialYear.name }}
        </button>
      </mat-menu>
      <hum-button [type]="'download'" [text]="'PDF EXPORT'"></hum-button>
    </span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <hum-table [headers]="taxListHeaders$" [items]="taxList$"></hum-table>
        </div>
    </div>
    <br />
    <div class="row header">
        <span class="action_header">Salary Pension
      <button mat-button [matMenuTriggerFor]="CurrencyMenu">
        <h5 style="color: #0390D1;">
          DISPLAY CURRENCY &nbsp;<i class="fas fa-caret-down"></i>
        </h5>
      </button>
      <mat-menu #CurrencyMenu="matMenu">
        <button *ngFor="let currency of currencyList$ | async" mat-menu-item>
          {{ currency.name }}
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="FinancialYearMenu">
        <h5 style="color: #0390D1;">
          FINANCIAL YEAR &nbsp;<i class="fas fa-caret-down"></i>
        </h5>
      </button>
      <mat-menu #FinancialYearMenu="matMenu">
        <button
          *ngFor="let financialYear of financialYearList$ | async"
          mat-menu-item
        >
          {{ financialYear.name }}
        </button>
      </mat-menu>
      <hum-button [type]="'download'" [text]="'PDF EXPORT'"></hum-button>
    </span>
    </div>
    <div class="row">
        <div class="col-md-8">
            <hum-table [headers]="pensionListHeaders$" [items]="pensionList$"></hum-table>
        </div>
    </div>
</mat-card>