<mat-card humAddScroll>
    <div class="row header">
        <span class="action_header">Salary Taxes
      <button mat-button [matMenuTriggerFor]="TaxCurrencyMenu">
        <h5 style="color: #0390D1;">
          {{selectedCurrencyTax.name | uppercase}}  &nbsp;<i class="fas fa-caret-down"></i>
        </h5>
      </button>
      <mat-menu #TaxCurrencyMenu="matMenu">
        <button (click)="selectedCurrencyChangedForTax(taxCurrency)" *ngFor="let taxCurrency of currencyList$ | async" mat-menu-item>
          {{ taxCurrency.name }}
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="TaxFinancialYearMenu">
        <h5 style="color: #0390D1;">
          {{selectedFinancialYearTax.name | uppercase}} &nbsp;<i class="fas fa-caret-down"></i>
        </h5>
      </button>
      <mat-menu #TaxFinancialYearMenu="matMenu">
        <button (click)="selectedFinancialYearForTax(financialYear)"
          *ngFor="let financialYear of financialYearList$ | async"
          mat-menu-item
        >
          {{ financialYear.name }}
        </button>
      </mat-menu>
      <hum-button [type]="'download'" [text]="'PDF EXPORT'"></hum-button>
    </span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <hum-table [headers]="taxListHeaders$" [items]="taxList$"></hum-table>
        </div>
    </div>
    <br />
    <div class="row header">
        <span class="action_header">Salary Pension
      <button mat-button [matMenuTriggerFor]="PensionCurrencyMenu">
        <h5 style="color: #0390D1;">
          {{selectedCurrencyPension.name | uppercase}} &nbsp;<i class="fas fa-caret-down"></i>
        </h5>
      </button>
      <mat-menu #PensionCurrencyMenu="matMenu">
        <button (click)="selectedCurrencyChangedForPension(pensionCurrency)" *ngFor="let pensionCurrency of currencyList$ | async" mat-menu-item>
          {{ pensionCurrency.name }}
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="PensionFinancialYearMenu">
        <h5 style="color: #0390D1;">
          {{selectedFinancialYearPension.name | uppercase}}&nbsp;<i class="fas fa-caret-down"></i>
        </h5>
      </button>
      <mat-menu #PensionFinancialYearMenu="matMenu">
        <button (click)="selectedFinancialYearForPension(financialYear)"
          *ngFor="let financialYear of financialYearList$ | async"
          mat-menu-item
        >
          {{ financialYear.name }}
        </button>
      </mat-menu>
      <hum-button [type]="'download'" [text]="'PDF EXPORT'"></hum-button>
    </span>
    </div>
    <div class="row">
        <div class="col-md-8">
            <hum-table [headers]="pensionListHeaders$" [items]="pensionList$"></hum-table>
        </div>
    </div>
</mat-card>