.main-heading.clearfix {/*border-bottom: 1px solid #e2e2e2;*/margin-bottom: 5px !important; margin-right: 5px !important;}
.dx-button.button-info.dx-button.dx-button-normal.dx-widget.dx-button-has-text{ margin-top: 10px !important;}
.col-sm-12.dv-pyrll-cont{ padding: 0 8px;}