<lib-sub-header-template>
  <span class="action_header">Purchases & Procurements
  </span>

  <div class="action_section">
    <span> <a [routerLink]="['/store/purchase/add']">+ ADD PURCHASE</a> </span>
    <span> <a>DISPLAY CURRENCY</a> </span>
    <span> <a>PDF EXPORT</a> </span>
    <span> <a>FIELD CONFIGURATION</a> </span>
  </div>
</lib-sub-header-template>
<div class="row">
  <div class="col-md-12">
    <app-purchase-filters></app-purchase-filters>
    <hum-table *ngIf="purchaseList$" [headers]="purchaseListHeaders$" [items]="purchaseList$"></hum-table>
  </div>

</div>
