span {
    padding-left: 20px
}
.side-menu{
    top: 0px;
}

div.purchaseTable {
  overflow: auto;
}

div.purchaseTable {
  white-space: nowrap;
}
.font-size{
  font-size:12px;
}

.fnt-label-size {
  font-size: 16px !important;
  color:#0390D1;
 }
