<lib-sub-header-template>
  <span class="action_header">Purchases & Procurements
      <hum-button [type]="'add'" [text]="'ADD PURCHASE'"></hum-button>
      <hum-button [type]="'down'" [text]="'DISPLAY CURRENCY'"></hum-button>
  </span>
  

  <div class="action_section">
 
    <hum-button [type]="'text'" [text]="'PDF EXPORT'"></hum-button>
    <hum-button [type]="'text'" [text]="'FIELD CONFIGURATION'"></hum-button>
    <!-- <span> <a [routerLink]="['/store/purchase/add']">ADD PURCHASE</a> </span>
    <span> <a>DISPLAY CURRENCY</a> </span>
    <span> <a>PDF EXPORT</a> </span>
    <span> <a>FIELD CONFIGURATION</a> </span> -->
  </div>
</lib-sub-header-template>
<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-purchase-filters (purchaseFilterSelected)="onpurchaseFilterSelected($event)"></app-purchase-filters>
        <mat-divider></mat-divider>
        <h4>Purchases</h4>
        <hum-table [headers]="purchaseListHeaders$" [items]="purchaseList$" [subHeaders]="subListHeaders$" [subTitle]="''"></hum-table>
      </div>

    </div>
  </div>
</mat-card>