<div class="activities-control-main">
  <div class="activities">
    <div class="row">
      <div class="col-sm-4 font_larger">
        Activities Control
        <button
          mat-icon-button
          (click)="activitiesAddFlag = !activitiesAddFlag"
        >
          <mat-icon aria-label="add">add</mat-icon>
        </button>
      </div>
    </div>

    <div class="row" *ngIf="activitiesAddFlag">
      <div class="col-sm-9 col-sm-offset-1">
        <app-people-add-form
          [userList]="userList"
          [roleList]="roleList"
          (addForm)="onAddForm($event)"
        ></app-people-add-form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <app-listing-delete
          [userList]="userList"
          [roleList]="roleList"
          [tableContentList]="tableContentList"
          (editForm)="editForm($event)"
          (deleteConfirm)="deleteConfirm($event)"
        ></app-listing-delete>
      </div>
    </div>
  </div>
</div>
