<lib-sub-header-template>
  <span class="action_header">
    <a class="back_arrow" routerLink="/store/generator/tracker">
      <i class="fas fa-arrow-left"></i>
    </a>
    Generator Details
    <hum-button [type]="'add'" [text]="'ADD Hours'" (click)="openHoursModal($event)"></hum-button>
    <hum-button [type]="'text'" [text]="'Edit details'" (click)="goToDetails()"></hum-button>
  </span>
  <div class="action_section">
  </div>
</lib-sub-header-template>
<mat-divider></mat-divider>
<mat-tab-group [ngStyle]="scrollStyles" (selectedTabChange)="onTabClick($event)">
    <mat-tab label="DETAILS">
      <ng-template matTabContent>
        <ng-container *ngTemplateOutlet="generatorDetails"></ng-container>
      </ng-template>
    </mat-tab>
    <mat-tab label="MONTHLY BREAKDOWN">
        <div style="padding-left: 50px;">
          <div class="row">
            <div class="col-md-2">
              <lib-hum-dropdown [options]="monthlyBreakdownYearList$" [formControl]="monthlyBreakdownYear"
                (change)="getMonthlyBreakdownYear($event)" [placeHolder]="'Year'">
              </lib-hum-dropdown>
            </div>
            <div class="col-md-2">
              <mat-card>
                <p>Starting Usage:</p><h4>{{generatorMonthlyBreakdownList.StartingUsage}}</h4>
              </mat-card>
            </div>
            <div class="col-md-2">
              <mat-card>
                  <p>Incurred Usage:</p><h4>{{generatorMonthlyBreakdownList.IncurredUsage}}</h4>
                </mat-card>
            </div>
            <div class="col-md-2">
              <mat-card title="Standard Fuel Consumption Rate">
                  <p>SFC Rate:</p><h4>{{generatorMonthlyBreakdownList.StandardFuelConsumptionRate}}</h4>
                </mat-card>
            </div>
            <div class="col-md-2">
                <mat-card title="Standard Mobil Oil Consumption Rate">
                    <p>SMOC Rate:</p><h4>{{generatorMonthlyBreakdownList.StandardMobilOilConsumptionRate}}</h4>
                  </mat-card>
            </div>
            <div class="col-md-2">
              <mat-card>
                  <p>Starting Cost:</p><h4>{{generatorMonthlyBreakdownList.StartingCost}}</h4>
                </mat-card>
            </div>
          </div>
        </div>

        <mat-card style="margin-top: 5px;">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12">
                <table class="table table-striped">
                  <thead>
                    <th>
                      <h5>Generator Usage Analysis</h5>
                    </th>
                    <th>
                      <h5>Jan</h5>
                    </th>
                    <th>
                      <h5>Feb</h5>
                    </th>
                    <th>
                      <h5>Mar</h5>
                    </th>
                    <th>
                      <h5>Apr</h5>
                    </th>
                    <th>
                      <h5>May</h5>
                    </th>
                    <th>
                      <h5>Jun</h5>
                    </th>
                    <th>
                      <h5>Jul</h5>
                    </th>
                    <th>
                      <h5>Aug</h5>
                    </th>
                    <th>
                      <h5>Sept</h5>
                    </th>
                    <th>
                      <h5>Oct</h5>
                    </th>
                    <th>
                      <h5>Nov</h5>
                    </th>
                    <th>
                      <h5>Dec</h5>
                    </th>
                  </thead>
                  <tbody>
                    <tr>

                    </tr>
                  </tbody>
                </table>

                <table class="table table-striped">
                  <thead>
                    <th>
                      <h5>Vehicle Cost Analysis</h5>
                    </th>
                    <th>
                      <h5>Jan</h5>
                    </th>
                    <th>
                      <h5>Feb</h5>
                    </th>
                    <th>
                      <h5>Mar</h5>
                    </th>
                    <th>
                      <h5>Apr</h5>
                    </th>
                    <th>
                      <h5>May</h5>
                    </th>
                    <th>
                      <h5>Jun</h5>
                    </th>
                    <th>
                      <h5>Jul</h5>
                    </th>
                    <th>
                      <h5>Aug</h5>
                    </th>
                    <th>
                      <h5>Sept</h5>
                    </th>
                    <th>
                      <h5>Oct</h5>
                    </th>
                    <th>
                      <h5>Nov</h5>
                    </th>
                    <th>
                      <h5>Dec</h5>
                    </th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Fuel Total Cost</td>

                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Mobil Oil Total Cost</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Spare Parts Total Cost</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Services & Maintenance Total Cost</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Vehicle Starting Cost</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Total Cost</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </mat-card>

      </mat-tab>
    <mat-tab label="LOGS">
      <ng-template matTabContent>
        <app-logs></app-logs>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
<!-- Generator Details template-->
<ng-template #generatorDetails>
  <mat-card>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <h5>Generator Usage Analysis</h5>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Incurred Usage(Hours)</td>
                <td>{{generatorDetailForm.IncurredUsage}}</td>
              </tr>
              <tr>
                <td>Starting Usage(Hours)</td>
                <td>{{generatorDetailForm.StartingUsage}}</td>
              </tr>
              <tr>
                <td>Current Usage(Hours)</td>
                <td>{{generatorDetailForm.CurrentUsage}}</td>
              </tr>
              <tr>
                <td>Total Fuel Usage(Liter)</td>
                <td>{{generatorDetailForm.TotalFuelUsage}}</td>
              </tr>
              <tr>
                <td>Total Mobil Oil Usage(Liter)</td>
                <td>{{generatorDetailForm.TotalMobilOilUsage}}</td>
              </tr>
              <tr>
                <td>Standard Fuel Consumption Rate(Liter Per Hour)</td>
                <td>{{generatorDetailForm.StandardFuelConsumptionRate}}</td>
              </tr>
              <tr>
                <td>Actual Fuel Consumption Rate(Liter Per Hour)</td>
                <td>{{generatorDetailForm.ActualFuelConsumptionRate}}</td>
              </tr>
              <tr>
                <td>Standard Mobil Oil Consumption Rate(Liter Per Hour)</td>
                <td>{{generatorDetailForm.StandardMobilOilConsumptionRate}}</td>
              </tr>
              <tr>
                <td>Actual Mobil Oil Consumption Rate(Liter Per Hour)</td>
                <td>{{generatorDetailForm.ActualMobilOilConsumptionRate}}</td>
              </tr>
            </tbody>
          </table>
          <h5>Generator Cost Analysis</h5>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Total Fuel Cost</td>
                <td>{{generatorDetailForm.FuelTotalCost}}</td>
              </tr>
              <tr>
                <td>Mobil Oil Total Cost</td>
                <td>{{generatorDetailForm.MobilOilTotalCost}}</td>
              </tr>
              <tr>
                <td>Spare Parts Total Cost</td>
                <td>{{generatorDetailForm.SparePartsTotalCost}}</td>
              </tr>
              <tr>
                <td>Services & Maintenance Total Cost</td>
                <td>{{generatorDetailForm.ServicesAndMaintenanceTotalCost}}</td>
              </tr>
              <tr>
                <td>Generator Starting Cost</td>
                <td>{{generatorDetailForm.GeneratorStartingCost}}</td>
              </tr>
              <tr>
                <td>Total Cost</td>
                <td>{{generatorDetailForm.FuelTotalCost+
                    generatorDetailForm.MobilOilTotalCost+
                    generatorDetailForm.SparePartsTotalCost+
                    generatorDetailForm.ServicesAndMaintenanceTotalCost+
                    generatorDetailForm.GeneratorStartingCost
                }}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-md-6">
          <h5>Generator Details</h5>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>KV</td>
                <td>{{generatorDetailForm.Voltage}}</td>
              </tr>
              <tr>
                <td>Employee Name</td>
                <td>{{generatorDetailForm.PurchasedBy}}</td>
              </tr>
              <tr>
                <td>Model Year</td>
                <td>{{generatorDetailForm.ModelYear}}</td>
              </tr>
              <tr>
                <td>Location</td>
                <td>{{generatorDetailForm.OfficeName}}</td>
              </tr>
              <tr>
                <td>Purchase Id</td>
                <td><a *ngIf="generatorDetailForm && generatorDetailForm.PurchaseId != null" [routerLink]="['/store/purchase/edit', generatorDetailForm?.PurchaseId]">{{generatorDetailForm.PurchaseName}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-card>

</ng-template>
