<lib-sub-header-template>
  <span class="action_header">
    <a class="back_arrow" routerLink="/store/generator/tracker">
      <i class="fas fa-arrow-left"></i>
    </a>
    Generator Details
    <hum-button [type]="'add'" [text]="'ADD Hours'" (click)="openHoursModal($event)"></hum-button>
    <hum-button [type]="'text'" [text]="'Edit details'" (click)="goToDetails()"></hum-button>
  </span>
  <div class="action_section">
  </div>
</lib-sub-header-template>
<mat-divider></mat-divider>
<mat-tab-group [ngStyle]="scrollStyles">
    <mat-tab label="DETAILS">
      <ng-template matTabContent>
        <ng-container *ngTemplateOutlet="generatorDetails"></ng-container>
      </ng-template>
    </mat-tab>
    <mat-tab label="MONTHLY BREAKDOWN"> Content 2 </mat-tab>
    <mat-tab label="LOGS">
      <ng-template matTabContent>
        <app-logs></app-logs>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
<!-- Generator Details template-->
<ng-template #generatorDetails>
  <mat-card>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <h5>Generator Usage Analysis</h5>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Incurred Usage(Hours)</td>
                <td>{{generatorDetailForm.IncurredUsage}}</td>
              </tr>
              <tr>
                <td>Starting Usage(Hours)</td>
                <td>{{generatorDetailForm.StartingUsage}}</td>
              </tr>
              <tr>
                <td>Current Usage(Hours)</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Total Fuel Usage(Liter)</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Total Mobil Oil Usage(Liter)</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Standard Fuel Consumption Rate(Liter Per Hour)</td>
                <td>{{generatorDetailForm.FuelConsumptionRate}}</td>
              </tr>
              <tr>
                <td>Actual Fuel Consumption Rate(Liter Per Hour)</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Standard Mobil Oil Consumption Rate(Liter Per Hour)</td>
                <td>{{generatorDetailForm.MobilOilConsumptionRate}}</td>
              </tr>
              <tr>
                <td>Actual Mobil Oil Consumption Rate(Liter Per Hour)</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
          <h5>Generator Usage Analysis</h5>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Total Fuel Cost</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Mobil Oil Total Cost</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Spare Parts Total Cost</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Services & Maintenance Total Cost</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Generator Starting Cost</td>
                <td>-</td>
              </tr>
              <tr>
                <td>Total Cost</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-md-6">
          <h5>Generator Details</h5>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>KV</td>
                <td>{{generatorDetailForm.Voltage}}</td>
              </tr>
              <tr>
                <td>Employee Name</td>
                <td>{{generatorDetailForm.PurchasedBy}}</td>
              </tr>
              <tr>
                <td>Model Year</td>
                <td>{{generatorDetailForm.ModelYear}}</td>
              </tr>
              <tr>
                <td>Location</td>
                <td>{{generatorDetailForm.OfficeName}}</td>
              </tr>
              <tr>
                <td>Purchase Id</td>
                <td><a>{{generatorDetailForm.PurchaseName}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-card>

</ng-template>
