.form-group.autoComplete{position: relative;}
:host /deep/  .ui-autocomplete.ui-widget input {width:92% !important;}
.form-group.autoComplete button{ POSITION: ABSOLUTE;RIGHT: -4px;  PADDING: 3PX 6PX; HEIGHT: 31PX;}
:host /deep/  .autoComplete ,:host /deep/  .ui-autocomplete.ui-widget  ,:host /deep/  .ui-autocomplete.ui-widget input{width:100%; display: block;}
:host /deep/  .ui-autocomplete.ui-widget input , :host /deep/  .ui-multiselect.ui-widget.ui-state-default{  border-width: 0 0 1px 0; border-color: #949494;border-style: solid; background:transparent;}
:host /deep/ .autoComplete button{   position: absolute; top: 4px;  right: 12px;  border: none;background: transparent;
        border-radius: 50%;   height: 44px;     width: 25px;  color: #757575;    font-size: 20px;line-height: 22px;}
        :host /deep/.mat-form-field , :host /deep/.ui-multiselect{width:100%;}

        :host /deep/  .ui-multiselect-label{font-weight:400;}
        :host /deep/  .ui-multiselect .ui-multiselect-panel{width:100%;}
        :host /deep/  .mat-dialog-container{padding:0;}
        :host /deep/ .dialog_heading{border-bottom:1px solid;padding-bottom:5px;}
        :host /deep/ .cdk-overlay-pane{position: relative; top:25px;}
        :host /deep/ .mat-dialog-container{border-radius: 0;}
        :host /deep/   .ui-multiselect-label-container label {
            display: none;
          }
          .close_btn{color:#000;}
        //   :host /deep/   .ui-multiselect-label-container:after {
        //     content: 'whatever it is you want to add';
        //   }
        :host /deep/  #ProvinceId .ui-multiselect-label-container:after {
                content: 'Select Province';
              }
              :host /deep/  #districtId .ui-multiselect-label-container:after {
                content: 'Select District';
              }
              :host /deep/  #SecurityonsiderationId .ui-multiselect-label-container:after {
                content: 'Security Consideration';
              }
              .tp_10{position: relative;top:20px;}
              .form-group {
                margin-bottom:0px;
            }

            :host /deep/  mat-card.radius_0.mat-card {
              border-radius: 0 !important;
              margin: 20px 0;
              padding: 15px 10px 28px;
              margin: 015px -7px;background:#f1f1f126;
          }
          :host /deep/    .mat-form-field-appearance-legacy .mat-form-field-label{color:#989696 !important}
  .spin-mr-left { margin-top: 17px;padding-left: 0px; }       
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .padding_top_5px { padding-top: 5px;}