<!-- <h2 class="page-heading">Users</h2> -->
<div class="main-page dv-main-pg">
  <div class="heading-hdr">
    <div class="clearfix">
      <h3 class="page-heading" [ngClass]="{ myclass: false }">Users</h3>
    </div>
  </div>
  <!-- Add USer BUtton -->

  <div class="row" *ngIf="isEditingAllowed" style="padding:10px;border-bottom: 0 none;">
    <!-- User listing Datatable -->
    <div class="col-sm-6">
        <div class="ui-widget-header" style="padding:10px;border-bottom: 0 none;">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Search" />
          </div>
    </div>

    <div class="col-sm-2">
      <a
        class="btn btn-primary pull-right add-common-btn"
        (click)="openModalAddPermissions(AddPermissionsTemplate)"
      >
        <i class="fa fa-user-plus"></i> Add Permissions
      </a>
    </div>

    <div class="col-sm-2">
      <a
        class="btn btn-primary pull-right add-common-btn"
        (click)="openModalEditRolePermissions(EditPermissionsTemplate)"
      >
        <i class="fa fa-user-plus"></i> Edit Role Permissions
      </a>
    </div>

    <div class="col-sm-2">
      <a
        class="btn btn-primary pull-right add-common-btn"
        (click)="openModalWithClass(template)"
      >
        <i class="fa fa-user-plus"></i> Add User
      </a>
    </div>
  </div>

  
  <p-dataTable
    [value]="userDetails"
    [rows]="10"
    [paginator]="true"
    [pageLinks]="5"
    [rowsPerPageOptions]="[10, 20, 30]"
    sortMode="multiple"
  >
    <p-column field="FirstName" header="FirstName" [sortable]="true"></p-column>
    <p-column field="LastName" header="LastName" [sortable]="true"></p-column>
    <p-column field="Email" header="Email" [sortable]="true"></p-column>
    <!-- <p-column field="Office" header="Office" [sortable]="true"></p-column> -->
    <p-column field="Status" header="Status" [sortable]="true"></p-column>
    <p-column
      field="Action"
      header="Action"
      [sortable]="true"
      *ngIf="isEditingAllowed"
    >
      <p-column field="UserId" header="UserId" [hidden]="true"></p-column>

      <ng-template let-col let-car="rowData" pTemplate="body" let-i="rowIndex">
        <a
          (click)="openModalPermissions(templatePermissions, userDetails[i])"
          title="Add Roles"
        >
          <i class="fa fa-sitemap" aria-hidden="true"></i>
        </a>
        <a
          (click)="openModalEditPermissions(templateEditUser, userDetails[i])"
          title="Edit User"
        >
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        <a
          (click)="
            openModelOnResetPassword(ResetPasswordTemplate, userDetails[i])
          "
          title="Reset Password"
        >
          <i class="fa fa-exchange" aria-hidden="true"></i>
        </a>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<!-- Add USERS MODAL POPUP -->

<ng-template #template>
  <form
    name="userForm"
    [formGroup]="userForm"
    class="login-inner"
    (ngSubmit)="userForm.valid && userFormSubmit(userForm.value)"
    novalidate
  >
    <div class="modal-header gray-header">
      <h4 class="modal-title pull-left">Add User</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div
      class="modal-body gray-body popup-default-form"
      style="background-color:#fff;color:#000"
    >
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>First Name:</label> <span style="color:red">*</span>
            </div>
            <div
              class="col-sm-7"
              [ngClass]="{
                'has-error': userForm.submitted && !FirstName.valid
              }"
            >
              <input
                type="text"
                class="form-control"
                formControlName="FirstName"
                placeholder="First Name"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>Last Name:</label> <span style="color:red">*</span>
            </div>
            <div class="col-sm-7">
              <input
                class="form-control"
                type="text"
                formControlName="LastName"
                placeholder="Last Name"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>Email:</label> <span style="color:red">*</span>
            </div>
            <div class="col-sm-7">
              <input
                class="form-control"
                type="Email"
                formControlName="Email"
                placeholder="Email"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5"><label>Phone:</label></div>
            <div class="col-sm-7">
              <input
                min="1000000000"
                max="99999999999999"
                maxlength="14"
                class="form-control"
                type="number"
                formControlName="Phone"
                placeholder="Phone"
                pattern=".{10,14}"
                oninput="this.value=this.value.slice(0,this.maxLength)"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>Password:</label> <span style="color:red">*</span>
            </div>
            <div class="col-sm-7">
              <input
                class="form-control"
                type="password"
                formControlName="Password"
                placeholder="Password"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>Confirm Password:</label> <span style="color:red">*</span>
            </div>
            <div class="col-sm-7">
              <input
                class="form-control"
                type="password"
                formControlName="ConfirmPassword"
                placeholder="Confirm Password"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>Office:</label> <span style="color:red">*</span>
            </div>
            <div class="col-sm-7">
              <!-- <p-dropdown [options]="officeId" class="form-control" formControlName="OfficeId" placeholder="Select an Office" (onChange)="onChangeOffice($event.value)"
                                required></p-dropdown> -->
              <p-multiSelect
                [options]="officeId"
                [(ngModel)]="selectedOffices"
                displaySelectedLabel="selectedValueInRoles"
                class="form-control"
                formControlName="OfficeId"
                defaultLabel="Select an Office"
              ></p-multiSelect>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5"><label>Status:</label></div>
            <div class="col-sm-7">
              <p-dropdown
                [options]="status"
                class="form-control"
                formControlName="Status"
                placeholder="Select a Status"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5">
                            <label>Department:</label>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-sm-7">
                            <p-dropdown [options]="department" class="form-control" formControlName="Department" placeholder="Select a Department"></p-dropdown>
                        </div>
                    </div>
                </div> -->
      </div>

      <!-- <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5">
                            <label>Status:</label>
                        </div>
                        <div class="col-sm-7">
                            <p-dropdown [options]="status" class="form-control" formControlName="Status" placeholder="Select a Status"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
    <div class="modal-footer gray-body">
      <div class="pull-right">
        <button
          type="submit"
          [disabled]="!userForm.valid"
          class="btn btn-default btn-primary add-btn-basic"
        >
          Save
        </button>
        <a (click)="modalRef.hide()" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </form>

  <div>
    <ngx-loading
      [show]="loading"
      [config]="{ backdropBorderRadius: '14px' }"
    ></ngx-loading>
  </div>
</ng-template>

<!-- Edit USERS MODAL POPUP -->

<ng-template #templateEditUser>
  <form
    name="userEditForm"
    [formGroup]="userEditForm"
    class="login-inner"
    (ngSubmit)="userEditForm.valid && userEditFormSubmit(userEditForm.value)"
    novalidate
  >
    <div class="modal-header gray-header">
      <h4 class="modal-title pull-left">Edit User</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalEditUserPermission.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div
      class="modal-body gray-body popup-default-form"
      style="background-color:#fff;color:#000"
    >
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>First Name:</label> <span style="color:red">*</span>
            </div>
            <div
              class="col-sm-7"
              [ngClass]="{
                'has-error': userEditForm.submitted && !FirstName.valid
              }"
            >
              <input
                type="text"
                class="form-control"
                formControlName="FirstName"
                placeholder="First Name"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>Last Name:</label> <span style="color:red">*</span>
            </div>
            <div class="col-sm-7">
              <input
                class="form-control"
                type="text"
                formControlName="LastName"
                placeholder="Last Name"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>Email:</label> <span style="color:red">*</span>
            </div>
            <div class="col-sm-7">
              <input
                class="form-control"
                type="Email"
                formControlName="Email"
                placeholder="Email"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5"><label>Phone:</label></div>
            <div class="col-sm-7">
              <input
                class="form-control"
                type="number"
                formControlName="Phone"
                placeholder="Phone"
                min="1000000000"
                max="99999999999999"
                maxlength="14"
                pattern=".{10,14}"
                oninput="this.value=this.value.slice(0,this.maxLength)"
              />
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>Office:</label> <span style="color:red">*</span>
            </div>
            <div class="col-sm-7">
              <p-multiSelect
                [options]="officeId"
                [(ngModel)]="selectedOffices"
                displaySelectedLabel="selectedValueInRoles"
                class="form-control"
                formControlName="OfficeId"
                defaultLabel="Select an Office"
              ></p-multiSelect>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5"><label>Status:</label></div>
            <div class="col-sm-7">
              <p-dropdown
                [options]="status"
                class="form-control"
                formControlName="Status"
                placeholder="Select a Status"
              ></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer gray-body">
      <div class="pull-right">
        <button
          type="submit"
          [disabled]="!userEditForm.valid"
          class="btn btn-default btn-primary add-btn-basic"
        >
          Save
        </button>
        <a (click)="modalEditUserPermission.hide()" class="btn btn-default"
          >Cancel</a
        >
      </div>
    </div>
  </form>
</ng-template>

<!-- Modal Popup for Roles -->

<ng-template #templatePermissions>
  <form
    name="userRoles"
    [formGroup]="userRoles"
    class="login-inner"
    (ngSubmit)="userRoles.valid && assignRolesToUser(userRoles.value)"
    novalidate
  >
    <div class="modal-header gray-header ">
      <h4 class="modal-title pull-left">Add Roles</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRefPermission.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body gray-body" style="background-color:#fff;color:#000">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5"><label>Add Roles:</label></div>
            <div class="col-sm-7">
              <div>
                <ngx-loading
                  [show]="loadingRolesMultiselect"
                  [config]="{ backdropBorderRadius: '14px' }"
                ></ngx-loading>
              </div>
              <p-multiSelect
                [options]="roles"
                [(ngModel)]="selectedValueInRoles"
                displaySelectedLabel="selectedValueInRoles"
                class="form-control"
                formControlName="Roles"
                defaultLabel="Select Roles"
              ></p-multiSelect>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer gray-body">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary add-btn-basic">
          Save
        </button>
        <a (click)="modalRefPermission.hide()" class="btn btn-default"
          >Cancel</a
        >
      </div>
    </div>
  </form>
  <ngx-loading [show]="loading"></ngx-loading>
</ng-template>

<ng-template #AddPermissionsTemplate>
  <form
    name="AddPermissions"
    class="login-inner"
    (ngSubmit)="
      AddPermissions.valid && PermissionsInRoles(AddPermissions.value)
    "
    novalidate
  >
    <div class="modal-header gray-header ">
      <h4 class="modal-title pull-left">Add Roles & Permissions</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalPermission.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body gray-body" style="background-color:#fff;color:#000">
      <div class="row">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2" style="padding-left: 58px;">
                <label style="
                padding-top: 9px;
            ">Roles:</label>
              </div>
              <div class="col-sm-6" style="padding-right: 50px;">
                <input
                  class="form-control"
                  name="RoleName"
                  type="text"
                  [(ngModel)]="applicationPagePermissions.RoleName"
                  placeholder="Role Name"
                  pInputText
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="row">
            </div>
            <div class="col-sm-12">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#UsersModule"
                        >Users Module</a
                      >
                    </h4>
                  </div>
                  <div id="UsersModule" class="panel-collapse collapse">
                    <table class="table">
                      <thead>
                        <tr>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th style="width: 633.33px;">Pages</th>
                          <th>View</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of userPermission">
                          <td [hidden]="true">{{ item.PageId }}</td>
                          <td [hidden]="true">{{ item.ModuleName }}</td>
                          <td [hidden]="true">{{ item.ModuleId }}</td>
                          <td>{{ item.PageName }}</td>
                          <td>
                            <p-checkbox
                              name="View"
                              binary="true"
                              [(ngModel)]="item.View"
                            ></p-checkbox>
                          </td>
                          <td>
                            <p-checkbox
                              name="Edit"
                              binary="true"
                              [(ngModel)]="item.Edit"
                            ></p-checkbox>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#CodeModule"
                        >Configuration Pages</a
                      >
                    </h4>
                  </div>
                  <div id="CodeModule" class="collapse">
                    <table class="table">
                      <thead>
                        <tr>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th>Pages</th>
                          <th>View</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of codePermission">
                          <td [hidden]="true">{{ item.PageId }}</td>
                          <td [hidden]="true">{{ item.ModuleName }}</td>
                          <td [hidden]="true">{{ item.ModuleId }}</td>
                          <td>{{ item.PageName }}</td>
                          <td>
                            <p-checkbox
                              name="View"
                              binary="true"
                              [(ngModel)]="item.View"
                            ></p-checkbox>
                          </td>
                          <td>
                            <p-checkbox
                              name="Edit"
                              binary="true"
                              [(ngModel)]="item.Edit"
                            ></p-checkbox>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#AccountingModule"
                        >Accounting Module</a
                      >
                    </h4>
                  </div>
                  <div id="AccountingModule" class="collapse">
                    <table class="table">
                      <thead>
                        <tr>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th>Pages</th>
                          <th>View</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of accountingPermission">
                          <td [hidden]="true">{{ item.PageId }}</td>
                          <td [hidden]="true">{{ item.ModuleName }}</td>
                          <td [hidden]="true">{{ item.ModuleId }}</td>
                          <td>{{ item.PageName }}</td>
                          <td>
                            <p-checkbox
                              name="View"
                              binary="true"
                              [(ngModel)]="item.View"
                            ></p-checkbox>
                          </td>
                          <td>
                            <p-checkbox
                              name="Edit"
                              binary="true"
                              [(ngModel)]="item.Edit"
                            ></p-checkbox>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#HRModule">HR Module</a>
                    </h4>
                  </div>
                  <div id="HRModule" class="collapse">
                    <table class="table">
                      <thead>
                        <tr>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th>Pages</th>
                          <th>View</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of employeePermission">
                          <td [hidden]="true">{{ item.PageId }}</td>
                          <td [hidden]="true">{{ item.ModuleName }}</td>
                          <td [hidden]="true">{{ item.ModuleId }}</td>
                          <td>{{ item.PageName }}</td>
                          <td>
                            <p-checkbox
                              name="View"
                              binary="true"
                              [(ngModel)]="item.View"
                            ></p-checkbox>
                          </td>
                          <td>
                            <p-checkbox
                              name="Edit"
                              binary="true"
                              [(ngModel)]="item.Edit"
                            ></p-checkbox>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#StoreModule"
                        >Store Module</a
                      >
                    </h4>
                  </div>
                  <div id="StoreModule" class="collapse">
                    <table class="table">
                      <thead>
                        <tr>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th>Pages</th>
                          <th>View</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of storePermission">
                          <td [hidden]="true">{{ item.PageId }}</td>
                          <td [hidden]="true">{{ item.ModuleName }}</td>
                          <td [hidden]="true">{{ item.ModuleId }}</td>
                          <td>{{ item.PageName }}</td>
                          <td>
                            <p-checkbox
                              name="View"
                              binary="true"
                              [(ngModel)]="item.View"
                            ></p-checkbox>
                          </td>
                          <td>
                            <p-checkbox
                              name="Edit"
                              binary="true"
                              [(ngModel)]="item.Edit"
                            ></p-checkbox>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#MarketingModule"
                        >Marketing Module</a
                      >
                    </h4>
                  </div>
                  <div id="MarketingModule" class="collapse">
                    <table class="table">
                      <thead>
                        <tr>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th>Pages</th>
                          <th>View</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of marketingPermission">
                          <td [hidden]="true">{{ item.PageId }}</td>
                          <td [hidden]="true">{{ item.ModuleName }}</td>
                          <td [hidden]="true">{{ item.ModuleId }}</td>
                          <td>{{ item.PageName }}</td>
                          <td>
                            <p-checkbox
                              name="View"
                              binary="true"
                              [(ngModel)]="item.View"
                            ></p-checkbox>
                          </td>
                          <td>
                            <p-checkbox
                              name="Edit"
                              binary="true"
                              [(ngModel)]="item.Edit"
                            ></p-checkbox>
                          </td>
                        </tr>
                        <tr>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th></th>
                          <th>Approve</th>
                          <th>Reject</th>
                        </tr>
                        <tr *ngFor="let item of projectManagementPermissions">
                          <td [hidden]="true">{{ item.PageId }}</td>
                          <td [hidden]="true">{{ item.ModuleName }}</td>
                          <td [hidden]="true">{{ item.ModuleId }}</td>
                          <td>{{ item.PageName }}</td>
                          <td>
                            <p-checkbox
                              name="Approve"
                              binary="true"
                              [(ngModel)]="item.Approve"
                            ></p-checkbox>
                          </td>
                          <td>
                            <p-checkbox
                              name="Reject"
                              binary="true"
                              [(ngModel)]="item.Reject"
                            ></p-checkbox>
                          </td>
                        </tr>
                        <tr>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th></th>
                          <th>Agree</th>
                          <th>Disagree</th>
                        </tr>
                        <tr *ngFor="let item of agreeDisagreePermissions">
                          <td [hidden]="true">{{ item.PageId }}</td>
                          <td [hidden]="true">{{ item.ModuleName }}</td>
                          <td [hidden]="true">{{ item.ModuleId }}</td>
                          <td>{{ item.PageName }}</td>
                          <td>
                            <p-checkbox
                              name="Agree"
                              binary="true"
                              [(ngModel)]="item.Agree"
                            ></p-checkbox>
                          </td>
                          <td>
                            <p-checkbox
                              name="Disagree"
                              binary="true"
                              [(ngModel)]="item.Disagree"
                            ></p-checkbox>
                          </td>
                        </tr>
                        <tr>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th></th>
                          <th>Order Schedule Request</th>
                          <th></th>
                        </tr>
                        <tr *ngFor="let item of orderSchedulePermissions">
                          <td [hidden]="true">{{ item.PageId }}</td>
                          <td [hidden]="true">{{ item.ModuleName }}</td>
                          <td [hidden]="true">{{ item.ModuleId }}</td>
                          <td>{{ item.PageName }}</td>
                          <td>
                            <p-checkbox
                              name="OrderSchedule"
                              binary="true"
                              [(ngModel)]="item.OrderSchedule"
                            ></p-checkbox>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" href="#ProjectModule"
                        >Project Module</a
                      >
                    </h4>
                  </div>
                  <div id="ProjectModule" class="collapse">
                    <table class="table">
                      <thead>
                        <tr>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th [hidden]="true"></th>
                          <th>Pages</th>
                          <th>View</th>
                          <th>Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of projectsPermission">
                          <td [hidden]="true">{{ item.PageId }}</td>
                          <td [hidden]="true">{{ item.ModuleName }}</td>
                          <td [hidden]="true">{{ item.ModuleId }}</td>
                          <td>{{ item.PageName }}</td>
                          <td>
                            <p-checkbox
                              name="View"
                              binary="true"
                              [(ngModel)]="item.View"
                            ></p-checkbox>
                          </td>
                          <td>
                            <p-checkbox
                              name="Edit"
                              binary="true"
                              [(ngModel)]="item.Edit"
                            ></p-checkbox>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer gray-body">
      <div class="pull-right">
        <button type="submit" class="btn btn-primary add-btn-basic">
          Save
        </button>
        <a (click)="modalPermission.hide()" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </form>
  <ngx-loading [show]="loadingPermission"></ngx-loading>
</ng-template>

<ng-template #ResetPasswordTemplate>
  <form
    name="ChangePassword"
    [formGroup]="ChangePassword"
    class="login-inner"
    (ngSubmit)="onSubmitPasswordChange(ChangePassword.value)"
  >
    <div class="modal-header gray-header ">
      <h4 class="modal-title pull-left">Reset Password</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalChangePassword.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body gray-body" style="background-color:#fff;color:#000">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>New Password:</label> <span style="color:red">*</span>
            </div>
            <div class="col-sm-7">
              <input
                class="form-control"
                type="password"
                formControlName="NewPassword"
                placeholder="New Password"
              />
              <div
                *ngIf="
                  ChangePassword.controls['NewPassword'].errors &&
                  !ChangePassword.controls['NewPassword'].pristine
                "
                class="error-msg"
              >
                <div
                  [hidden]="
                    !ChangePassword.controls['NewPassword'].errors.required
                  "
                >
                  New Password is required.
                </div>
                <div
                  [hidden]="
                    !ChangePassword.controls['NewPassword'].errors
                      .patternInvalid
                  "
                >
                  New Password is invalid.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-5">
              <label>Confirm Password:</label> <span style="color:red">*</span>
            </div>
            <div class="col-sm-7">
              <input
                type="password"
                class="form-control"
                formControlName="ConfirmPassword"
                placeholder="Confirm Password"
              />

              <div
                *ngIf="
                  ChangePassword.controls['ConfirmPassword'].errors &&
                  !ChangePassword.controls['ConfirmPassword'].pristine
                "
                class="error-msg"
              >
                <div
                  *ngIf="
                    !ChangePassword.controls['ConfirmPassword'].errors
                      .ConfirmPassword
                  "
                >
                  Confirm Password is wrong.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer gray-body">
      <div class="pull-right">
        <button
          type="submit"
          [disabled]="!ChangePassword.valid"
          class="btn btn-primary add-btn-basic"
        >
          Save
        </button>
        <a (click)="modalResetPassword.hide()" class="btn btn-default"
          >Cancel</a
        >
      </div>
    </div>
  </form>
  <div>
    <ngx-loading
      [show]="loading"
      [config]="{ backdropBorderRadius: '14px' }"
    ></ngx-loading>
  </div>
</ng-template>

<ng-template #EditPermissionsTemplate>
  <div class="modal-header gray-header ">
    <h4 class="modal-title pull-left">Edit Role Permissions</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalPermission.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body gray-body" style="background-color:#fff;color:#000">
    <div class="row">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-2" style="padding-left: 58px;">
              <label style="padding-top: 3px;">Roles:</label>
            </div>
            <div class="col-sm-3" style="padding-right: 50px;">
              <p-dropdown
                [options]="roles"
                [(ngModel)]="ddnSelectedRole"
                name="ddnSelectedRole"
                (onChange)="GetRolePermissions()"
                [style]="{ width: '200px' }"
                editable="false"
                placeholder="Select Role"
                *ngIf="!editRole"
              ></p-dropdown>
              <input
                name="ddnSelectedRole"
                type="text"
                [(ngModel)]="ddnSelectedRole.name"
                placeholder="Role Name"
                *ngIf="editRole"
                pInputText
              />
            </div>
            <div class="col-sm-7" *ngIf="ddnSelectedRole!=undefined"><a (click)="EditRole()">Edit</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12" style="padding-top: 15px;">
        <div class="row">
          <div class="row">
            <div class="col-sm-12" style="padding-left: 58px;"></div>
          </div>
          <div class="col-sm-12">
                <div class="panel-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#UsersModule"
                          >Users Module</a
                        >
                      </h4>
                    </div>
                    <div id="UsersModule" class="panel-collapse collapse">
                      <table class="table">
                        <thead>
                          <tr>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th style="width: 633.33px;">Pages</th>
                            <th>View</th>
                            <th>Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of editUserPermission">
                            <td [hidden]="true">{{ item.PageId }}</td>
                            <td [hidden]="true">{{ item.ModuleName }}</td>
                            <td [hidden]="true">{{ item.ModuleId }}</td>
                            <td>{{ item.PageName }}</td>
                            <td>
                              <p-checkbox
                                name="View"
                                binary="true"
                                [(ngModel)]="item.View"
                              ></p-checkbox>
                            </td>
                            <td>
                              <p-checkbox
                                name="Edit"
                                binary="true"
                                [(ngModel)]="item.Edit"
                              ></p-checkbox>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
  
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#CodeModule"
                          >Configuration Pages</a
                        >
                      </h4>
                    </div>
                    <div id="CodeModule" class="collapse">
                      <table class="table">
                        <thead>
                          <tr>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th>Pages</th>
                            <th>View</th>
                            <th>Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of editCodePermission">
                            <td [hidden]="true">{{ item.PageId }}</td>
                            <td [hidden]="true">{{ item.ModuleName }}</td>
                            <td [hidden]="true">{{ item.ModuleId }}</td>
                            <td>{{ item.PageName }}</td>
                            <td>
                              <p-checkbox
                                name="View"
                                binary="true"
                                [(ngModel)]="item.View"
                              ></p-checkbox>
                            </td>
                            <td>
                              <p-checkbox
                                name="Edit"
                                binary="true"
                                [(ngModel)]="item.Edit"
                              ></p-checkbox>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
  
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#AccountingModule"
                          >Accounting Module</a
                        >
                      </h4>
                    </div>
                    <div id="AccountingModule" class="collapse">
                      <table class="table">
                        <thead>
                          <tr>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th>Pages</th>
                            <th>View</th>
                            <th>Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of editAccountingPermission">
                            <td [hidden]="true">{{ item.PageId }}</td>
                            <td [hidden]="true">{{ item.ModuleName }}</td>
                            <td [hidden]="true">{{ item.ModuleId }}</td>
                            <td>{{ item.PageName }}</td>
                            <td>
                              <p-checkbox
                                name="View"
                                binary="true"
                                [(ngModel)]="item.View"
                              ></p-checkbox>
                            </td>
                            <td>
                              <p-checkbox
                                name="Edit"
                                binary="true"
                                [(ngModel)]="item.Edit"
                              ></p-checkbox>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
  
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#HRModule">HR Module</a>
                      </h4>
                    </div>
                    <div id="HRModule" class="collapse">
                      <table class="table">
                        <thead>
                          <tr>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th>Pages</th>
                            <th>View</th>
                            <th>Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of editEmployeePermission">
                            <td [hidden]="true">{{ item.PageId }}</td>
                            <td [hidden]="true">{{ item.ModuleName }}</td>
                            <td [hidden]="true">{{ item.ModuleId }}</td>
                            <td>{{ item.PageName }}</td>
                            <td>
                              <p-checkbox
                                name="View"
                                binary="true"
                                [(ngModel)]="item.View"
                              ></p-checkbox>
                            </td>
                            <td>
                              <p-checkbox
                                name="Edit"
                                binary="true"
                                [(ngModel)]="item.Edit"
                              ></p-checkbox>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
  
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#StoreModule"
                          >Store Module</a
                        >
                      </h4>
                    </div>
                    <div id="StoreModule" class="collapse">
                      <table class="table">
                        <thead>
                          <tr>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th>Pages</th>
                            <th>View</th>
                            <th>Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of editStorePermission">
                            <td [hidden]="true">{{ item.PageId }}</td>
                            <td [hidden]="true">{{ item.ModuleName }}</td>
                            <td [hidden]="true">{{ item.ModuleId }}</td>
                            <td>{{ item.PageName }}</td>
                            <td>
                              <p-checkbox
                                name="View"
                                binary="true"
                                [(ngModel)]="item.View"
                              ></p-checkbox>
                            </td>
                            <td>
                              <p-checkbox
                                name="Edit"
                                binary="true"
                                [(ngModel)]="item.Edit"
                              ></p-checkbox>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
  
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#MarketingModule"
                          >Marketing Module</a
                        >
                      </h4>
                    </div>
                    <div id="MarketingModule" class="collapse">
                      <table class="table">
                        <thead>
                          <tr>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th>Pages</th>
                            <th>View</th>
                            <th>Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of editMarketingPermission">
                            <td [hidden]="true">{{ item.PageId }}</td>
                            <td [hidden]="true">{{ item.ModuleName }}</td>
                            <td [hidden]="true">{{ item.ModuleId }}</td>
                            <td>{{ item.PageName }}</td>
                            <td>
                              <p-checkbox
                                name="View"
                                binary="true"
                                [(ngModel)]="item.View"
                              ></p-checkbox>
                            </td>
                            <td>
                              <p-checkbox
                                name="Edit"
                                binary="true"
                                [(ngModel)]="item.Edit"
                              ></p-checkbox>
                            </td>
                          </tr>
                          <tr>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th></th>
                            <th>Approve</th>
                            <th>Reject</th>
                          </tr>
                          <tr *ngFor="let item of EditApproveRejectRolePermission">
                            <td [hidden]="true">{{ item.PageId }}</td>
                            <td [hidden]="true">{{ item.ModuleName }}</td>
                            <td [hidden]="true">{{ item.ModuleId }}</td>
                            <td>{{ item.PageName }}</td>
                            <td>
                              <p-checkbox
                                name="Approve"
                                binary="true"
                                [(ngModel)]="item.Approve"
                              ></p-checkbox>
                            </td>
                            <td>
                              <p-checkbox
                                name="Reject"
                                binary="true"
                                [(ngModel)]="item.Reject"
                              ></p-checkbox>
                            </td>
                          </tr>
                          <tr>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th></th>
                            <th>Agree</th>
                            <th>Disagree</th>
                          </tr>
                          <tr *ngFor="let item of EditAgreeDisagreeRolePermission">
                            <td [hidden]="true">{{ item.PageId }}</td>
                            <td [hidden]="true">{{ item.ModuleName }}</td>
                            <td [hidden]="true">{{ item.ModuleId }}</td>
                            <td>{{ item.PageName }}</td>
                            <td>
                              <p-checkbox
                                name="Agree"
                                binary="true"
                                [(ngModel)]="item.Agree"
                              ></p-checkbox>
                            </td>
                            <td>
                              <p-checkbox
                                name="Disagree"
                                binary="true"
                                [(ngModel)]="item.Disagree"
                              ></p-checkbox>
                            </td>
                          </tr>
                          <tr>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th></th>
                            <th>Order Schedule Request</th>
                            <th></th>
                          </tr>
                          <tr *ngFor="let item of EditOrderScheduleRolePermission">
                            <td [hidden]="true">{{ item.PageId }}</td>
                            <td [hidden]="true">{{ item.ModuleName }}</td>
                            <td [hidden]="true">{{ item.ModuleId }}</td>
                            <td>{{ item.PageName }}</td>
                            <td>
                              <p-checkbox
                                name="OrderSchedule"
                                binary="true"
                                [(ngModel)]="item.OrderSchedule"
                              ></p-checkbox>
                            </td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
  
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" href="#ProjectModule"
                          >Project Module</a
                        >
                      </h4>
                    </div>
                    <div id="ProjectModule" class="collapse">
                      <table class="table">
                        <thead>
                          <tr>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th [hidden]="true"></th>
                            <th>Pages</th>
                            <th>View</th>
                            <th>Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of editProjectsPermission">
                            <td [hidden]="true">{{ item.PageId }}</td>
                            <td [hidden]="true">{{ item.ModuleName }}</td>
                            <td [hidden]="true">{{ item.ModuleId }}</td>
                            <td>{{ item.PageName }}</td>
                            <td>
                              <p-checkbox
                                name="View"
                                binary="true"
                                [(ngModel)]="item.View"
                              ></p-checkbox>
                            </td>
                            <td>
                              <p-checkbox
                                name="Edit"
                                binary="true"
                                [(ngModel)]="item.Edit"
                              ></p-checkbox>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer gray-body">
    <div class="pull-right">
      <button
        (click)="onRolesPermissionUpdate()"
        class="btn btn-primary add-btn-basic"
      >
        Save
      </button>
      <a (click)="modalPermission.hide()" class="btn btn-default">Cancel</a>
    </div>
  </div>

  <!-- </form> -->
  <ngx-loading [show]="loadingPermission"></ngx-loading>
</ng-template>

<!-- Loader Before User Listings -->
<!-- <div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
</div> -->
