<div>
  <h1 mat-dialog-title>{{title}}</h1>
  <hr>
</div>
<form [formGroup]='addGradeForm' (ngSubmit)="saveJobGrade()">
  <mat-dialog-content>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="example-full-width">
          <input matInput formControlName="GradeName" placeholder="Grade Name">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="items-float-right">
    <hum-button *ngIf="!isFormSubmitted" [type]="'save'" [text]="'save'" [isSubmit]="true" [disabled]="!addGradeForm.valid || !addGradeForm.dirty"></hum-button>
    <hum-button *ngIf="isFormSubmitted" [type]="'loading'" [text]="'Saving....'"></hum-button>
    <hum-button (click)='onCancelPopup()' [type]="'cancel'" [text]="'cancel'"></hum-button>
  </mat-dialog-actions>
</form>
