<h3 mat-dialog-title>Termination Form</h3>
<mat-dialog-content>
  <form [formGroup]="terminationForm" (ngSubmit)="formSubmit(terminationForm.value)">
    <div class="alert alert-warning" *ngIf="err!==null">{{err}}</div>
    <mat-form-field>
      <input #resignDate class="fixedWidth"
        formControlName="TerminationDate" matInput [matDatepicker]="picker" placeholder="Termination Date" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput
          placeholder="Reason For Termination"
          formControlName="ReasonOfTermination">
      </textarea>
    </mat-form-field>
    <button type="submit" #submitbtn style="display: none;"></button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <hum-button [type]="'save'" [text]="'Save'" (click)="submitbtn.click()"></hum-button>
    <hum-button [type]="'cancel'" [text]="'Cancel'" (click)="onCancelPopup()" ></hum-button>
</mat-dialog-actions>
