*{font-family: 'Roboto', sans-serif;}
h1{font-size:30px;}
h2{font-size:28px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:12px;}
// p{font-size:12px;}
.font-12{font-size:12px;vertically-align:middle;}
tr{cursor: pointer;}
body {  margin: 0;height:100%;background: #f6f8f9;font-family: 'Roboto', sans-serif !important;font-weight: 400;}
html{min-height: 100%;}
a{cursor:pointer;text-decoration: none;}
 a:hover{text-decoration: none;}
 .font_22{font-size: 22px;}
 .width_8{width:8px;}
 .table.table-bordered tr:first-child td{border-bottom:none;}
 .table.table-bordered tr:nth-child(2) td{border-top:1px solid #cfcfcf;}
 .table.table-bordered tr.selected:nth-child(2) td{border-top:1px solid transparent;}
//body-fixed

.body-content {padding-top:15px; padding-bottom: 20px;}
// .body-content {padding-top:90px; padding-bottom: 20px;}
 .main_heading{ text-transform: uppercase; font-weight: 500; color: #222222;font-size: 18px;padding-left: 12px;}
 .black_icon{color:#333;}
//  .top_header { position: fixed; width: 100%; top: 0;z-index: 1;}
//   .top_header .mat-card{padding-bottom:0 !important; border-radius: 0 !important;}
 .table.table-bordered tr td {border-top:none;border-left:none;border-right:none; border-bottom:1px solid #cfcfcf;}
 .table-bordered{border:none;}
 .mar_tp_40{margin-top: 40px;}
 .navbar {min-height: auto;  margin-bottom: 5px;}
.navbar.navbar-default{background: transparent; border: none;}
.navbar-collapse ,.navbar-collapse ul {padding: 0;margin:0}
.navbar-collapse.collapse { margin-top: 15px; }
.navbar-collapse ul li {display: inline-block;margin-right: 20px;}
.navbar-collapse ul li a{color:#767676; border-bottom: 2px solid transparent; padding-bottom: 2px;}
.navbar-collapse ul li a:hover{ color: #151b26; font-weight: 400; padding-bottom: 10px; border-bottom:2px solid #151b26;}
.navbar-collapse,.navbar-collapse ul {padding: 0;margin:0}
.menu-button { background: #607d8b; color: white; border: none; cursor:pointer;  outline:none;}
// .main_body{padding-left:240px;}
.add_new{color:#b5b5b5;}
.grey-text{color:#a1a1a1 !important;font-size:12px;}
.table.table-bordered tr td p{margin-bottom: 0;}
.table.table-bordered tr td{color:#212121; font-weight: 400 !important;vertical-align: middle;font-size:14px;}
.table.table-bordered tr td:first-child{padding-left:0; }
.diamond{position:relative}
.table.table-bordered tr td:first-child,.table.table-bordered tr td:last-child{border-width:0 0 0 0;}
.diamond:before{background:url(../../assets/img/diamond.png) no-repeat;width:20px;height:20px;position:absolute;content:''; top:7px; left:-10px;}



.menu-button { background: #607d8b; color: white; border: none; cursor:pointer;  outline:none;}
// .main_body{padding-left:240px;}
.add_new{color:#b5b5b5;}
.grey-text{color:#a1a1a1 !important;font-size:12px;}
.table.table-bordered tr td p { margin-bottom: 0;font-size: 16px;color: #000;}
.table.table-bordered tr td{color:#212121; font-weight: 500; vertical-align: middle;}
.table.table-bordered tr td:first-child{padding-left:0; }
.diamond{position:relative}
.diamond:before{background:url(../../assets/img/diamond.png) no-repeat;width:20px;height:20px;position:absolute;content:''; top:9px; left:-10px;}
.mar_tp_20{margin-top: 20px;}
.example-full-width.mat-form-field{width:100%;}
.mat-form-field-label{color: #222222 !important;}
.grey_icon{color:#c8c8c8;}
.asign_check i{ font-size: 15px; float: left; margin-right: 15px; position: relative;top:8px;}
.active.asign_check i{color:#4cc9ff ; font-size: 15px; float: left; margin-right: 15px; position: relative;top:8px;}
.asign_check{ font-size: 12px;}
.blue i{color:#4cc9ff;}
.bdr_btm{border-bottom: 1px solid #8f8f8f;}
.pad_btm_25{padding-bottom: 25px;}
.notification_div ul{padding-left: 18px;font-size: 14px;}
.notification_div ul li{position:relative;list-style:none;margin-bottom: 5px; }
.notification_div ul li:before {  content: "\f0f3"; font-family: FontAwesome;  display: inline-block;
  margin-left: -1.3em;  width: 1.3em; }
  .notification_div ul li a{color:#717171;font-size: 12px;padding-left:20px;}
  .active_notify:before{color:#3481a1;}
  .user_name { width: 39px;float: left;  position: relative;  top: 10px;}
  .user_name p{ display: inline-block;background: #93d155; color: #fff;  height: 25px;
    width: 25px; box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);border-radius: 50%; font-size: 12px; text-align: center; padding-top: 4px;}
.user_text p{ float: left; width: 76%;}
span.italic_undeline { font-weight: 500; text-decoration: underline;font-style: italic;}
.listing{padding-left:30px;color:#222; font-size: 12px;}
.listing ul{margin-left: 4px;}
.documents li{float: left;margin-right: 10px;list-style: none;}
.documents{padding:28px 0 28px 41px;}
.documents li a .mat-card i{margin-bottom: 0;  font-size: 34px;  padding: 25px 40px 25px;}
.blue{color:#4c8cf4;}
.green{color:#43a047;}
.red{color:#e2574c;}
.documents li a .mat-card{padding: 0 !important;}
.documents li a .mat-card p{background: #d6d6d6; text-align: center;padding: 6px;}
.col-sm-2.send{width:10%;}
.send a{    font-size: 30px; text-align: right;  position: relative; top: 20px;}
.grey_bg, .grey_bg .mat-card{background: #f6f8f9;}
.mar_tp_10{margin-top: 10px;}
.pad_left-28{padding-left: 28px;}
.form-control.project_input{font-size: 22px; color: #000; font-weight: 700; border:1px solid transparent; box-shadow: none;}
.mar_minus-15{margin:0 0 0 -15px;}
.form-control.project_input:hover,.form-control.project_input:focus{border: 1px solid #d5dce0;}
.form-control.text_manage{ border:1px solid transparent; box-shadow: none;}
.form-control.text_manage:hover,.form-control.text_manage:focus{border: 1px solid #d5dce0;}
.form-control.transparent_bg{background: transparent;}
.grey_color i ,.grey_color{color: #707070 !important;}
.red_color i ,.red_color{color: #fc0404 !important;}
.table{display: table;}
.table-cell{display: table-cell; float: none; top:auto; vertical-align: middle;}
.ocean_blue {  background: #4cc9ff !important;}
.mat-card{border-radius: 6px !important;}

.Genrating.min-hg-160 .mat-card{min-height: 160px; padding:0 !important; text-align: center;}
.Genrating.min-hg-160 .mat-card p{font-weight: 500; font-size: 12px;text-transform: uppercase;}
.doc-upload-wrap span,
.doc-upload-wrap span a { display:block;}
.doc-upload-wrap .proposals {position: absolute;bottom: 0;left: 15px;right: 15px;text-align: center;color: #000;font-size: 10px;}
.doc-upload-wrap .only-txt .proposals { color:#787878;}
.drop{ position: absolute;left: 0;right: 0; font-weight: 300 !important;  top: 60px;}
.drag .mat-card{  border: 1px dashed #707070;}
.width_25 .col-sm-2{width:170px;}
.ocean_blue_color {  color: #4cc9ff !important;}
.final_price p { padding-top: 0;}
.final_price i{color: #fff;font-size: 12px;}
.table.table-bordered tbody tr td:last-child a, .main_heading a{padding-left: 20px;}
.table.table-bordered tbody tr td:last-child a:first-child ,.main_heading a:first-child{padding-left: 0;}
.top_9{position:relative; top:3px;}
.pad_left_5{padding-left: 5px;}
.value_round{font-size: 12px !important; font-weight: 300 !important;}
.value_round:hover,.value_round:focus{border-radius: 50px !important;}
.mar_btm_0{margin-bottom: 0;}
.mar_tp_7{margin-top: 7px;}
.mar_l_R_10{margin: 0 10px;}
.pad_btm_7{padding-bottom: 7px;}
.font-10{font-size: 10px !important;}
.summary li{float: left; text-align: center;list-style: none; width:25%;font-size: 12px;}
.summary { padding: 0;}
.summary li p { font-weight: 700; color: #707070; font-size: 11px; margin-top: 5px;}
.disabled{opacity: 0.4%;}
.side_pad a{padding: 0 5px;}
.detaild_program ul li{float:left; width:40%; margin-right: 10px;}
.detaild_program ul{padding: 0;}
.detaild_program ul li .mat-form-field{width:75px;}
.detaild_program ul li:first-child{list-style: none;}
.body_header .mat-card{border-radius: 0 !important; padding-bottom: 0 !important;}
.sub-menu.collapse.in li:hover ,.sub-menu.collapse.in li.active{background-color: #00d4b1 !important;}
.sub-menu.collapse.in li:hover a ,.sub-menu.collapse.in li.active a{color:black !important;}
//.sub-menu.collapse {padding-left: 15px !important;}
.body_header{  position: fixed;  width: 100%;  top: 0; z-index: 10001;}
.bdr_heading{border-bottom:1px solid; padding-bottom:5px; margin-bottom:20px;}

// color scheme//

.color-list { display: flex; flex-direction: column;}
.color {display: flex; flex-direction: column;flex: 1 0 10em;    box-shadow: 0 0 8px #d9d4d4;  overflow: hidden;
  padding: 1em; color: white; transition: flex-basis 500ms ease-in-out;}
.color:hover {flex-basis: 20em;}
.color:hover .details { opacity: 1;}
.name { font-size: 1.2em; font-weight: 600;}
.details {  margin: 0; padding: 0;  list-style: none; opacity: 0;  transition: opacity 500ms ease-in-out;}
.details li {  font-size: 1em;  line-height: 2em;}
.primary_color{background:rgb(26,26,26);}
.secondary_color{background:#f6fbff;color:#333;}
.secondary_2{background:#f7f7f7;color:#333;}
// button css//
.btn { border: 2px solid #1A1A1A; border-radius: 6px;color: #1A1A1A;
  cursor: pointer;  display: flex; align-self: center; font-size: 14px; font-weight: 400;
  line-height: 1; padding: 14px 24px;text-decoration: none;text-align: center;
  text-transform: uppercase; }
.btn:hover, .btn:focus { color: #fff !important; outline: 0;}
.primary_btn {border-color: #1A1A1A; color:#1a1a1a !important;border-radius:6px;color: #fff;; background:transparent;}
.primary_btn:hover {background:#1A1A1A;}
.secondary_btn {border-color: #767676; border-radius:6px;color:#767676 !important; background:transparent}
.secondary_btn:hover{background:#767676;}

.disable{opacity:0.4; cursor:no-drop;}
//----browse btn css--//
.upload-box .btn-file {
  background: linear-gradient(to right, #434343 0%, black 100%);
}
.upload-box .hold {
float: left;
width: 100%;
position: relative;
}
.upload-box .hold a {
font-size:14px;
color: #666;
text-decoration: none;
}

.upload-box .btn-file {
position: relative;
overflow: hidden;
float: left;
padding: 13px 24px;
font-size:14px;
color: #fff;
margin: 0 10px 0 0;
text-transform: uppercase;
border-radius: 3px;
cursor: pointer;
}
.upload-box .btn-file input[type=file] {
position: absolute;
top: 0;
right: 0;
min-width: 100%;
min-height: 100%;
font-size: 100px;
text-align: right;
opacity: 0;
outline: none;
background: #fd0707;
cursor: inherit;
display: block;
}
// table hover css//
 tr.selected{background:#f6fbff;}
.table.table-bordered > tbody > tr:hover{background:#f7f7f7;}
.table.table-bordered  tr.selected td{border-bottom:1px solid #73a9f0; box-shadow:0px -1px 0px #73a9f0;}
.circle a{    font-size: 30px;
  border: 1px solid;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  /* padding: 10px; */
  display: block;
  text-align: center;
  color: #333;
}
// icon css
.blue-circle{border-radius: 50%; height: 30px;  display: inline-block;
  width: 30px; text-align: center; border:1px dashed #838383;}
  .blue-circle i{ position:relative; top:5px; color:#838383; }
  .blue-circle.active ,.selected td .blue-circle{ background: #4cc9ff; border:1px solid #4cc9ff}
  .blue-circle.active i ,.selected td .blue-circle i{color:#fff;}
  // form css
  .input-group .input-group-addon ,  .input-group .form-control{border:none;background-color: transparent;box-shadow:none;}
  .input-group .form-control{height:42px;}
  .inputGroupContainer ,.selectContainer{border:1px solid transparent; border-radius: 6px;}
  .inputGroupContainer:hover  ,.inputGroupContainer:focus ,.selectContainer:hover,.selectContainer:focus{background:#f7f7f7;border: 1px solid #c7c7c7;
   }
   .input-group-addon i { border: 1px dashed #838383 !important; height: 30px;  width: 30px;
    display: inline-block; border-radius: 50%;  line-height: 28px; text-align: center;color: #838383;
    padding: 0 3px;font-size: 21px;}

    //.inputGroupContainer:hover .input-group .input-group-addon i ,.inputGroupContainer:focus .input-group .input-group-addon i ,.selectContainer:focus .input-group .input-group-addon i ,.selectContainer:hover .input-group .input-group-addon i{ background: #4cc9ff; border:1px solid #4cc9ff !important; color:#fff;}

   // checkboxes & radio buttons

  .ex-checkbox,
  .ex-radio {
    position: relative;
    margin: 12px 0;
    font-size: 14px;
  }

//   .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
//     background-color: #4cc9ff !important;
// }
// .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
//   background-color: #4cc9ff !important;
// }
.long_text label .mat-checkbox-label{white-space:pre-wrap;}
.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  font-weight: 400 !important;
}
.disable .mat-checkbox{cursor:not-allowed;}
  .ex-radio label {
    padding-left: 32px;
    line-height: 140%;
    font-weight: normal;
    display: inline-block;
    position: relative;
  }

  .ex-checkbox input[type=checkbox],
  .ex-radio input[type=radio] {
    margin: 0;
    opacity: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 10;
    position: absolute;
  }


  //  checkboxes

  .ex-checkbox input[type=checkbox] + label::after {
    border: 2px solid #838383;
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    left: 0;
    top:0;
    border-radius:4px;
    background-color: #fff;
  }
  .ex-checkbox #checkbox_four[type=checkbox]:checked + label::after{ border: 2px solid #838383 !important;}
  .ex-checkbox input[type=checkbox]:hover + label::before {
    // border: 2px solid #4cc9ff;
  }

  .ex-checkbox input[type=checkbox]:focus + label::before {
   // box-shadow: 0 0 1px #4cc9ff;
    outline: none;
  }

  .ex-checkbox input[type=checkbox]:checked + label::before {
    content: '\2714';
    color: #4cc9ff;
    position: absolute;
    left: 4px;
    z-index: 10001;
  }
  .ex-checkbox input[type=checkbox]:checked+ label::after{border: 2px solid #4cc9ff;}
  .ex-checkbox input[type=checkbox]:checked:hover + label::before {
    background-size: 30px 30px;
  }

  .ex-checkbox input[type=checkbox]:disabled {
    cursor: not-allowed;
  }

  .ex-checkbox input[type=checkbox]:disabled + label {
    color: #1a1a1a;
    cursor: not-allowed;
  }

  .ex-checkbox input[type=checkbox]:disabled:checked + label::before {
    border: 1px solid transparent;
    content:'\2714';  color: #bcbcbc;
    opacity: .7;  }

  .ex-checkbox input[type=checkbox]:disabled + label::before {
    border: 1px solid #bcbcbc;
  }
  // radio css

  .ex-radio input[type=radio] + label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    border: 2px solid #838383;
    border-radius: 50%;
    background-color: #fff;
    transition: border 0.3s ease-in-out;
  }

  .ex-radio input[type=radio]:hover + label::before {
    border: 2px solid #4cc9ff;
  }

  .ex-radio input[type=radio]:focus + label::before {
    box-shadow: 0 0 1px #4cc9ff;
    outline: none;
  }

  .ex-radio input[type=radio]:checked + label::before,
  .ex-radio input[type=radio]:checked:hover + label::before {
    border: 1px solid #4cc9ff;
  }

  .ex-radio input[type=radio] +  label::after {
    position: absolute;
    content: " ";
    width: 12px;
    height: 12px;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    background-color: #ffffff;
    transform: scale(0, 0);
    transition: transform 0.3s ease-in-out;
  }

  .ex-radio input[type=radio]:checked +  label::after {
    background-color: #4cc9ff;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  .ex-radio input[type="radio"]:disabled {
    cursor: not-allowed;
  }

  .ex-radio input[type="radio"]:disabled + label {
    color: #bcbcbc;
    cursor: not-allowed;
  }

  .ex-radio input[type=radio]:disabled +  label::before,
  .ex-radio input[type=radio]:checked:disabled +  label::before {
    border: 1px solid #bcbcbc;
  }

  .ex-radio input[type=radio]:checked:disabled +  label::after {
    background-color:#b7e9ff;
  }
  //date picker
  .date_picker input{  float: left; display: inline-block; border: none; padding:6px 0; background:transparent !important;}
  .date_picker input:focus{border:none; outline:none;}
  .date_picker .mat-datepicker-toggle { position: absolute;right: 26px; top: 6px;}
    .date_picker{padding: 6px 12px;display: block;clear: both;height: 44px;}
   .blue-circle .mat-icon-button .mat-button-wrapper{position: relative;top: -5px;left: -5px;}
   .blue-circle .mat-icon-button .mat-button-wrapper svg{height: 20px;width: 20px; line-height: 0;}
.date_picker:hover{ background: #f7f7f7; border: 1px solid #c7c7c7;}
.date_picker{border:1px solid transparent; border-radius:6px;}
.mat-datepicker-toggle button{background:transparent !important;}
.responsive_table-responsive {overflow:auto; margin:0 -16px;}
.add_plus{    position: absolute;right: -1px; border: 1px solid #c7c7c7; padding:10px; color: #c7c7c7;
  border-radius: 4px;cursor:pointer;z-index:9999999;}
  .inputGroupContainer:hover .add_plus ,  .inputGroupContainer:hover .add_plus:hover{border:1px solid transparent;color:#c7c7c7;}

 .btn.btn-success{  border-color: #4cae4c !important; color: #4cae4c !important;}
 .btn.btn-danger{  border-color: #ac2925 !important; color: #ac2925 !important;}
 .action.button button .mat-button-wrapper i{padding-right: 8px;}
 .action.button button{ margin: 0 10px;}
 .action.button{display:inline-block;padding: 0 0 20px;}
 .action.button .btn:hover i, .action.button .btn:hover{color:#fff !important; }
 //autocomplete
 .ui-dropdown-panel ,.ui-multiselect .ui-multiselect-panel ,.ui-autocomplete-panel ,.ui-calendar .ui-datepicker{background: #fff;}


.ui-chkbox .ui-chkbox-box {
  border: 1px solid #a6a6a6;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: background-color 0.2s, border-color 0.2s;
  -o-transition: background-color 0.2s, border-color 0.2s;
  -webkit-transition: background-color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, border-color 0.2s;
}
.pi-check:before {
  content: "✔";
}
 .icon-wrap{display:none;}
.icon-wrap{
  position: relative;
float: left;
  background: transparent;
  height:40px;
  width: 40px;
  border-radius: 4px;
}

.icon{
  height:5px;
  width:60px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

 }
.icon:hover{ cursor:pointer;}

.bar{
  height: 5px;
  width:35px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color:#1a1a1a;
  transform: translate(-50%,-50%) rotate(0deg);
  transition: all ease 0.5s;}

 .bar:before{
    content:"";
    position: absolute;
    height: inherit;
   width: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    width: 50%;
    transition: all ease 0.5s;
    top: -10px;
    left: 0;
    transform-origin: left;
  }
  .bar:after{
     content:"";
    position: absolute;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    width: 50%;
    transition: all ease 0.5s;
    bottom:-10px;
    right: 0;
    transform-origin: right;
  }
.bar.open{
  transform:translate(-50%,-50%) rotate(135deg);}
  .bar.open:before{
    top:0;
    transform: translateX(100%) rotate(-90deg);
  }
  .bar.open:after{
    bottom:0;
    transform: translateX(-100%) rotate(-90deg);
  }
.middle-header{
text-align: center
}
// toggle css
// .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
//   background-color: #4cc9ff !important;
// }
// .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
//   background-color: rgb(123, 208, 245) !important;
// }
// .mat-slide-toggle.mat-checked .mat-ripple-element {
//   background-color: #4cc9ff !important;
// }
// .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
//   background-color: #4cc9ff !important;
// }
// .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
//   border-color: #4cc9ff !important;
// }

//opacity
.opacity{    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 10;
  cursor: not-allowed;
}
.disable{position: relative;}
//datepicker toggle css
.mat-datepicker-toggle{border: 1px dashed #838383 ; height: 30px;  width: 30px;  border-radius: 50%;  display: inline-block;
  position: relative;  top: -7px; font-size: 19px; color:#838383; }
  mat-datepicker-toggle.blue_date.mat-datepicker-toggle {
    background: #4cc9ff;
    color: #fff;
    border: 1px solid;
}
.grey_colorDate{border: 1px dashed #838383 ; height: 30px;  width: 30px;  border-radius: 50%;  display: inline-block;
  position: relative;  top: -7px; font-size: 19px; color:#838383; }
/// charts of account
.arrow_accord {  width: 0;
  height: 0;
  border-left:5px solid transparent;
  border-right: 5px solid transparent;
  position:relative; top:10px;
  border-top: 5px solid #000; cursor:pointer;}
  .arrow_accord.collapsed{   width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top:0;
    border-bottom: 5px solid #000;}
.panel-heading.headiing_blue{  border-radius: 0; background: #5BC0EB; position:relative;box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);}

.panel-heading.blue_bg {
  background: #f6fbff;
  border-radius: 0;
  border-bottom: 1px solid #e8e8e8;
  background: #5BC0EB;
  padding: 12px 20px;
  font-size: 16px;
}
.example-form-field.accordian_content{display:inline-block;}
.arrow_accord{float: right;}
//.panel-heading.blue_bg .example-form-field.accordian_content input{font-weight: 600;}
.example-form-field.accordian_content input{
  border-bottom:1px solid transparent;
  background:transparent;
  box-shadow: none;
  border:none;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #000000;
  width: auto;
}
.example-form-field.accordian_content input:hover, .example-form-field.accordian_content input:focus {
  /* border-width: 1px; */
  outline: none;
  border-bottom: 1px solid #000000;
  /* padding: 4px 8px; */
  /* border-radius: 4px; */
  /* background: rgba(0,0,0,0.1); */
  width: auto;
}
.panel-heading.child_div {
  border-radius: 0;
  background: #F1F1F1;
  margin-bottom: -1px;
  box-shadow: 0 1px 2px #f1f1f1;
  border-bottom: 1px solid #707070;
  border-top: 1px solid #707070;
}
//.mat-form-field ,.ui-multiselect{display: block !important;}
//.ui-multiselect-label.ui-corner-all{font-weight: 400 !important;    border-bottom: 1px solid #949494;}

.doc-upload-wrap .drop-zone{
  margin: auto;
  height: 100px;
  border: 2px dotted #747473 !important;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  min-height: 160px;
  border-radius: 4px;
}
.doc-upload-wrap .drop-zone .content{color:#747473; height:100% !important;}
// .two-mat-field-outer {display: inline-block;width: 100%;padding-left: 38px;margin-top: -8px;}
.currency_input.mat-form-field {width:25% !important;}
.two-mat-field-outer mat-form-field {width: 50% !important;display: inline-block;float: left;}
.two-mat-field-outer mat-form-field + mat-form-field{margin-left:5px;}
.counts_list { color:#000;}
  .panel-body.inner_2_div{   border: 1px solid #d7d3d3;  padding:0;border-width: 0 1px;}
  .counts_list.second_div{color:#000;}
  .panel-body.inner_3_div , .panel-body.padding_0{padding:0;}
  .panel-heading.child_div.tertiarry_level, .panel-body.inner_4div {
    background: transparent;
    border: none;
}
 a.counts_list.count_3 {
    color: #000;
}
// .add_new {
//   background: rgba(0,0,0,0.4);
//   padding: 5px 10px;
//   color: #fff;
//   border-radius: 12px;
//   font-size: 12px;
// }
a.counts_list.count_4 {
 color:#000;
}
.panel-heading.child_div.fourth_level {
  background: transparent;
  border: none;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  box-shadow: none;
}
// .header.mat-card{padding: 15px 0 0; border-radius: 0 !important; position: fixed; width: 100%;  z-index: 1; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15) !important;}
.header.mat-card{padding: 15px 0 0; border-radius: 0 !important; width: 100%;  z-index: 1; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15) !important;}

.col-sm-11.mar_left_0{padding-left: 0 !important;}
  .approve {background: #008000 !important;color: #fff !important}
  .Reject{background:#ff0000 !important; color:#fff !important}
  .gray_bg{background:#f6f8f9;}
  .custom_drop .drop-zone , .custom_drop_value{background: rgba(0,0,0,0.4);border:none !important; height:auto !important;  border-radius: 0 0 4px 4px !important;
    padding: 10px;}
  .custom_drop .drop-zone .content ,.custom_drop_value strong{ height:auto !important; color:#fff;}
  .custom_drop .drop-zone .content i {padding-right: 10px;}
  .mat-radio-label-content { padding: 0 0px;  margin: 0 15px 0 5px;font-weight: 400;}
  .custom_text{border-radius: 4px 4px 0 0 !important; border: 1px solid #8f8f8f; text-rendering:none;}
.custom_top{text-align: center; line-height: 28px;}
  .mar_tp_10{margin-top: 10px;}
.middle-header h5 { background: #f7f7f7; padding: 10px; margin-top:0;}
.total_debit h6{float: left; font-size: 14px; line-height: 22px;}
.total_debit button {float: right;}
.total_debit span{  color: #1a1a1a;font-weight: 300; padding: 0 10px;}
.total_debit { border-bottom: 1px solid #cfcfcf;}
// .total_debit.first_child{border-top: 1px solid #cfcfcf;}
.inside_btn {position: relative; top:-10px}
.blue_date button span svg{color:#fff;}
.note_text {  color: rgba(0,0,0,0.6);font-size: 12px;}
.custom_drop_value  i{    color: #fff;font-size: 14px;  padding-left: 15px;width:30px;}
.assign_custom i{font-size: 15px;}
.assign_custom i span{padding-left: 10px;font-weight: 400;}
.custom_load{position: absolute !important; top:3px; right:0}
.right_load { width: 20px; height: 20px; position: absolute !important; right: 25px;top: 0px;}
.abs_custom{position: absolute !important;top:42px;left:0;}
.relative_p{position: relative;}
.mat-pseudo-checkbox-checked::after {  left: 2px !important; width: 9px!important; height: 5px !important;}
.mat-drawer-content{height:auto !important; overflow: hidden !important; min-height: 90px;}
.right_load_r { width: 20px; height: 20px; position: absolute !important; right: 0px;top: 3px;}
.right_spinr_load{ width: 20px; height: 20px; position: absolute !important; right: 16px;top: 14px;}
