<hum-config-card [showCard]="showConfig">
    <div title>Purchases Field Configuration</div>
    <div subtitle>Please select all the fields that should be displayed in the purchases list and also the PDF
        export.</div>
    <div content>
        <mat-checkbox class="example-margin" [labelPosition]="'before'">
            I'm a checkbox
        </mat-checkbox>
        <mat-checkbox class="example-margin" [labelPosition]="'before'">
            I'm a checkbox
        </mat-checkbox>
        <mat-checkbox class="example-margin" [labelPosition]="'before'">
            I'm a checkbox
        </mat-checkbox>
    </div>
    <div footer>
        <hum-button [type]="'save'" [text]="'Apply'"></hum-button>
    </div>

</hum-config-card>