<hum-config-card [showCard]="showConfig">
  <div title>Purchases Field Configuration</div>
  <div subtitle>Please select all the fields that should be displayed in the purchases list and also the PDF
    export.</div>
  <div content [ngStyle]="scrollStyles">
    <!-- <mat-list>
      <mat-list-item *ngFor="let item of columnsToShow">
        <mat-checkbox (change)="onClick($event, item)" item.value class="example-margin" [labelPosition]="'before'">
          {{item.name}}
        </mat-checkbox>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list> -->

    <mat-selection-list [(ngModel)]="selectedOptions" (ngModelChange)="change($event)" #configFilter>
        <mat-list-option *ngFor="let item of columnsToShow" [value]="item">
          {{item.name}}
        </mat-list-option>
      </mat-selection-list>

  </div>
  <div footer>
    <hum-button (click)="applyConfigFilter()" [type]="'save'" [text]="'Apply'"></hum-button>
  </div>

</hum-config-card>
