<div class="container-fluid" humAddScroll>
    <h4 class="letter_spacing_2">Resignation Exit Interview
      <hum-button [type]="'add'" [text]="'ADD RESIGNATION'" ></hum-button>
      <hum-button [type]="'edit'" [text]="'SAVE CHANGES'" (click)="submitBtn.click()"></hum-button>
      <hum-button [type]="'minus'" [text]="'REHIRE EMPLOYEE'" ></hum-button>
      <hum-button [type]="'exclamation'" [text]="'REVOKE RESIGNATION'" ></hum-button>
    </h4>
  <div class="row" >
    <div class="col-md-12">
      <form [formGroup]="resignationForm" (ngSubmit)="saveResignationForm(resignationForm.value)">
        <p class="font_size_16">When did the employee resign?</p>
        <mat-form-field>
          <input #resignDate class="fixedWidth"
            formControlName="ResignDate" matInput [matDatepicker]="picker" placeholder="Resigned On (Date)" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <p class="font_size_16">Are there any Unresolved Issues or Additional Comments?</p>
        <mat-radio-group formControlName="IsIssueUnresolved">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
        <p class="font_size_16">If answer is Yes, please explain fully</p>
        <mat-form-field style="width: 50%;" >
          <textarea formControlName="Issues" matInput rows="3" placeholder="Comments & Issues"></textarea>
        </mat-form-field>
        <mat-divider></mat-divider>
        <h4>Feeling About Employee Aspects</h4>
        <table class="table table-striped">
          <tbody formArrayName="QuestionType1">
            <tr *ngFor="let item of resignationForm.get('QuestionType1')['controls']; let i = index;" [formGroupName]="i">
              <td width="30%" class="font_size_16 font_weight_500">{{item.value.QuestionText}}</td>
              <td>
                <mat-radio-group formControlName="Answer">
                  <mat-radio-button class="font_size_16 padding_right_20" value="1">Very Satisfied</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="2">Satisfied</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="3">Dissatisfied</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
          </tbody>
        </table>
        <h4>Reason for Leaving</h4>
        <div class="row" formArrayName="QuestionType2">
          <div class="col-md-3" *ngFor="let item of resignationForm.get('QuestionType2')['controls']; let i = index;" [formGroupName]="i">
              <mat-checkbox formControlName="Answer" class="font_size_16 font_weight_500">{{item.value.QuestionText}}</mat-checkbox>
          </div>
        </div>
        <h4>The Department</h4>
        <table class="table table-striped">
          <tbody formArrayName="QuestionType3">
            <tr *ngFor="let item of resignationForm.get('QuestionType3')['controls']; let i = index;" [formGroupName]="i">
              <td width="30%" class="font_size_16 font_weight_500">{{item.value.QuestionText}}</td>
              <td>
                <mat-radio-group formControlName="Answer">
                  <mat-radio-button class="font_size_16 padding_right_20" value="1">Strongly Disagree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="2">Disagree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="3">Neutral</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="4">Agree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="5">Strongly Agree</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
          </tbody>
        </table>
        <h4>The Job Itself</h4>
        <table class="table table-striped">
          <tbody formArrayName="QuestionType4">
            <tr *ngFor="let item of resignationForm.get('QuestionType4')['controls']; let i = index;" [formGroupName]="i">
              <td width="30%" class="font_size_16 font_weight_500">{{item.value.QuestionText}}</td>
              <td>
                <mat-radio-group formControlName="Answer">
                  <mat-radio-button class="font_size_16 padding_right_20" value="1">Strongly Disagree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="2">Disagree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="3">Neutral</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="4">Agree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="5">Strongly Agree</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
          </tbody>
        </table>
        <h4>My Supervisor</h4>
        <table class="table table-striped">
          <tbody formArrayName="QuestionType5">
            <tr *ngFor="let item of resignationForm.get('QuestionType5')['controls']; let i = index;" [formGroupName]="i">
              <td width="30%" class="font_size_16 font_weight_500">{{item.value.QuestionText}}</td>
              <td>
                <mat-radio-group formControlName="Answer">
                  <mat-radio-button class="font_size_16 padding_right_20" value="1">Strongly Disagree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="2">Disagree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="3">Neutral</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="4">Agree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="5">Strongly Agree</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
          </tbody>
        </table>
        <h4>The Management</h4>
        <table class="table table-striped">
          <tbody formArrayName="QuestionType6">
            <tr *ngFor="let item of resignationForm.get('QuestionType6')['controls']; let i = index;" [formGroupName]="i">
              <td width="30%" class="font_size_16 font_weight_500">{{item.value.QuestionText}}</td>
              <td>
                <mat-radio-group formControlName="Answer">
                  <mat-radio-button class="font_size_16 padding_right_20" value="1">Strongly Disagree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="2">Disagree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="3">Neutral</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="4">Agree</mat-radio-button>
                  <mat-radio-button class="font_size_16 padding_right_20" value="5">Strongly Agree</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" #submitBtn style="display: none;"></button>
      </form>
    </div>
  </div>
</div>
