<div class="container width_100">
  <div class="row">
    <div class="col-md-12" class="items-float-right">
        <hum-button [type]="'add'" [text]="'ADD OFFICE'" (click)="addOffice()"></hum-button>
    </div>
    <div class="col-md-12">
      <div class="officeTable">
      <hum-table [headers]="officeHeaders$" [items]="officeList$"
         (actionClick)="actionEvents($event)" [actions]="actions"></hum-table>
      </div>
      <mat-paginator [length]="RecordCount" [pageSize]="pageModel.PageSize"
        [pageSizeOptions]="[10, 5, 25, 100]" (page)="pageEvent($event)">
      </mat-paginator>
    </div>
  </div>
</div>
