<div class="row">
    <form>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Favorite food" value="Sushi">
                </mat-form-field>
          </div>
        
        </div>
      </div>
    </form>
  </div>