<div class="row">
  <div class="col-sm-12">
    <mat-card [ngStyle]="scrollStyles">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="font_x_large">Questions </h4>
            </div>
            <div class="col-sm-6">
              <button mat-raised-button color="primary" (click)="onQuestionsClick()">
               Add New Question
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <button mat-raised-button color="primary" (click)="onIndicatorEditClick()">
            Edit Indicator Detail
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
                <mat-accordion displayMode="flat" multi class="mat-table">
                  <section matSort class="mat-elevation-z2 mat-header-row">
                    <span class="mat-header-cell" mat-sort-header="voucherCode">Question</span>
                    <span class="mat-header-cell" mat-sort-header="voucherDescription">Question Type</span>
                  </section>

                  <mat-expansion-panel *ngFor="let item of indicatorQuestionList"
                    >
                    <mat-expansion-panel-header class="mat-row">
                      <span class="mat-cell">{{item.IndicatorQuestion}}</span>
                      <span class="mat-cell">{{item.QuestionTypeName}}</span>
                      <span> <mat-icon class="icon_cursor small_icon tp_15 icon_width" color="warn" (click)="onDeleteQuestion(item)">
                        delete
                      </mat-icon></span>
                    </mat-expansion-panel-header>

                    <h5> Verification Sources </h5>
                    <ul *ngFor="let i of item.VerificationSources">
                      <li>{{i.VerificationSourceName}}</li>
                    </ul>


                  </mat-expansion-panel>
                </mat-accordion>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-sm-8">
        <div class="top-header clearfix">
          <h3></h3>
        </div>
      </div>
    </div>
  </div>
</div>
