<div class="row">
  <mat-card [ngStyle]="scrollStyles">
    <div class="row">
      <div class="col-sm-12">
        <P class="font_x_large display_inline_block">Questions </P>
        <button mat-icon-button (click)="onQuestionsClick()">
          <mat-icon class="plus_icon" aria-label="Add Question" pTooltip="Add Question">add</mat-icon>
        </button>
        <button class="pull-right" mat-raised-button color="primary" (click)="onIndicatorEditClick()">
          Edit Indicator Details
        </button>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-12" *ngIf="IndicatorDetailLoaderFlag; else indicatorQuestionTemplate">
        <mat-spinner class="center_loader" diameter="50"></mat-spinner>
      </div>
      <ng-template #indicatorQuestionTemplate>

        <mat-accordion displayMode="flat" multi class="mat-table">
          <section matSort class="mat-elevation-z2 mat-header-row">
            <span class="mat-header-cell" mat-sort-header="Question">Question</span>
            <span class="mat-header-cell" mat-sort-header="Question Type">Question Type</span>
          </section>

          <mat-expansion-panel *ngFor="let item of indicatorQuestionList; let j= index;" [expanded]="step === j"
            (opened)="setStep(j)" hideToggle>
            <mat-expansion-panel-header class="mat-row">
              <span class="mat-cell">{{item.IndicatorQuestion}}</span>
              <span class="mat-cell">{{item.QuestionTypeName}}</span>
              <span>
                <button mat-icon-button (click)="onQuestionEditClick(item)">
                  <mat-icon class="icon_cursor small_icon tp_15 icon_width mr_btm" aria-label="Edit Question">edit
                  </mat-icon>
                </button>
              </span>
              <span>
                <mat-icon class="icon_cursor small_icon tp_15 icon_width" color="warn" (click)="onDeleteQuestion(item)">
                  delete
                </mat-icon>
              </span>
            </mat-expansion-panel-header>
            <hr>
            <h4> Verification Sources </h4>
            <ul *ngFor="let i of item.VerificationSources">
              <li>{{i.VerificationSourceName}}</li>
            </ul>


          </mat-expansion-panel>
        </mat-accordion>
      </ng-template>
    </div>
  </mat-card>
</div>
