<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\HumanitarianAssistance.WebApi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
	  <environmentVariables>
                    <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
                </environmentVariables>
				</aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 9807e654-9bd6-4a53-b765-d0407b2c71c5-->