<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{SubActivityTitle}}
      </mat-panel-title>
      <mat-panel-description>
        <div class="row col-sm-10">Progress {{ CalculateProgress }} %</div>
        <div *ngIf="
            subActivityCompletedFlag || subActivityDetail.IsCompleted == true
          " class="row col-sm-2 height_23px">
          <mat-icon aria-label="check" class="accent_color">check</mat-icon>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <form class="example-form" [formGroup]="projectSubActivityForm">
        <div class="row">
          <div class="col-sm-2" *ngIf="markCompletePermission">
            <div>
              <button *ngIf="IsComplete == false; else disabledButton" mat-stroked-button color="primary"
                (click)="onCompleteClicked($event)">
                Complete
              </button>
              <ng-template #disabledButton>
                <button mat-raised-button color="primary" (click)="onCompleteClicked($event)">
                  Complete
                </button>
              </ng-template>
            </div>
          </div>
          <div class="col-sm-2">
            <button mat-stroked-button color="primary" (click)="openDocumentsDialog()">
              Documents
            </button>
          </div>

          <div class="col-sm-6 pull-right">
            <button *ngIf="IsStartSubActivity == null; else disabledStart" mat-stroked-button color="primary"
              (click)="onStartActivityClicked()">
              Start
            </button>

            <ng-template #disabledStart>
              <button mat-raised-button color="primary" [disabled]="true">
                Start
                <span class="pull-left spinner_center margin_top_10">
                  <mat-spinner *ngIf="startActivityLoaderFlag == true" [diameter]="20"></mat-spinner>
                </span>
              </button>
            </ng-template>
            &nbsp;
            <button *ngIf="IsEndSubActivity == null && IsStartSubActivity; else disabledEnd" mat-stroked-button color="primary"
              (click)="onEndActivityClicked()">
              End
            </button>
            <ng-template #disabledEnd>
              <button mat-raised-button color="primary" [disabled]="true">
                End
                <span class="pull-left spinner_center margin_top_10">
                  <mat-spinner *ngIf="endActivityLoaderFlag == true" [diameter]="20"></mat-spinner>
                </span>
              </button>
            </ng-template>
            &nbsp;

            <button mat-raised-button color="primary"  (click)="onChanges(projectSubActivityForm.value)" [disabled]="IsEditSubActivityLoaderFlag">
                <span class="pull-left spinner_center margin_top_10" *ngIf="IsEditSubActivityLoaderFlag">
                  <mat-spinner [diameter]="15"></mat-spinner>
                </span>
                Save
              </button>
            <!-- <button mat-stroked-button color="primary" (click)="onChanges(projectSubActivityForm.value)">
              Save
            </button> -->
          </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="SubActivityTitle" type="text"
                     placeholder="Sub Activity Title" />
                </mat-form-field>
              </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Activity Description" type="text" formControlName="ActivityDescription"
                rows="4"></textarea>
            </mat-form-field>
          </div>
          <div class="col-sm-12">
            <mat-form-field class="example-full-width">
              <textarea matInput formControlName="ChallengesAndSolutions" placeholder="Challenges & Solutions"
                type="text" rows="4"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="Target" type="number" pattern="[0-9]*" [min]="0" [max]="100"
                    [maxLength]="3" appNumberOnly="true" #activityTarget placeholder="Target (%)" />
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="PlannedStartDate" #activityStartDate [min]="subActivityDetail.PlannedStartDate"
                    [matDatepicker]="planningStartDatepicker" placeholder="Start Date" />
                  <mat-datepicker-toggle matSuffix [for]="planningStartDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker color="primary" #planningStartDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="ActualStartDate" #implementationStartDate
                    [matDatepicker]="implementationStartDatepicker" placeholder="Actual Start Date" readonly />
                  <mat-datepicker-toggle matSuffix [for]="implementationStartDatepicker" [disabled]="true">
                  </mat-datepicker-toggle>
                  <mat-datepicker color="primary" #implementationStartDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="Achieved" type="number" #activityAchieved pattern="[0-9]*" min="0"
                    appNumberOnly="true" max="100" placeholder="Achieved (%)" />
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="PlannedEndDate" [min]="subActivityDetail.PlannedStartDate"
                    [matDatepicker]="planningEndDatepicker" placeholder="End Date" />
                  <mat-datepicker-toggle matSuffix [for]="planningEndDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker color="primary" #planningEndDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="ActualEndDate" [min]="implementationStartDate.value"
                    [matDatepicker]="implementationEndDatepicker" placeholder="Actual End Date" readonly />
                  <mat-datepicker-toggle matSuffix [for]="implementationEndDatepicker" [disabled]="true">
                  </mat-datepicker-toggle>
                  <mat-datepicker color="primary" #implementationEndDatepicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <ng-container *ngIf="addExtensionPermission">
      <div class="row">
        <div class="col-sm-2">
          <h4>Extensions</h4>
        </div>
        <div class="col-sm-3">
          <button mat-icon-button (click)="onExtensionClicked()">
            <mat-icon aria-label="add">add</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <lib-listing-delete [tableHeaderList]="tableHeaderList" [tableContentList]="extensionList"
            (deleteConfirm)="deleteExtension($event)">
          </lib-listing-delete>
        </div>
      </div>
    </ng-container>

    <br />
  </mat-expansion-panel>

  <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel> -->
</mat-accordion>
