<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <div class="row">
        <div class="col-sm-6">
          <!-- <span (click)="onHideDetailPanel()"><i title="Back to List" class="fas fa-arrow-left"></i></span> -->
        </div>
        <div class="col-sm-6">
          <!-- <div *ngIf="archiveButton" class="col-sm-6"><a class="pull-right" (click)="DeletePhase(phaseId)">Archive</a></div> -->
              <div *ngIf="archiveButton" class="col-sm -6 pull-right">
                  <button pTooltip="Archive"
                  tooltipPosition="top"
                    (click)="DeleteChannel(channelId)"
                    color="warn"
                    mat-icon-button
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
            <!-- <div *ngIf="archiveButton" class="col-sm-6"><a class="pull-right" (click)="DeleteMediaCategory(mediaCategoryId)">Archive</a></div> -->
        </div>
      </div>
      <form [formGroup]="channelDetailsForm">
        <div class="row mat-detail">
            <div class="col-sm-6">
                <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="mediumId">
                  <mat-button-toggle (change)="selectionChanged('medium', $event)" *ngFor="let item of mediumList;"
                    [value]="item.MediumId" >{{item.MediumName}}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div
            *ngIf="channelDetailsLoaderFlag; else channelDetailsTemplate"
            class="col-sm-4"
          ><br/>
            <mat-spinner
              class="center_loader"
              diameter="50"
            ></mat-spinner>
          </div>
          <ng-template #channelDetailsTemplate>
           <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6 pull-right">
                  <mat-form-field class="example-full-width">
                      <input (change)="selectionChanged('channel', channelName.value)" #channelName formControlName="channelName" matInput name="channelName"
                        placeholder="Channel Name" />
                        </mat-form-field>
                </div>
           </div>
          </ng-template>
        </div>
      </form>
    </mat-card>
  </div>
</div>
