<h2 mat-dialog-title>Upload Document</h2>
<form [formGroup]="addDocumentForm" (submit)="submitAddDocument()">
    <mat-dialog-content class="mat-typography">
        <div class="row">
          <div class="col-sm-6">
              <button type="button" mat-raised-button color="primary" (click)="openInput()">Select File to Upload</button>
    <input id="fileInput" style="display:none" hidden type="file" (change)="fileChange($event.target.files)" name="file">
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
          <hum-button *ngIf="!isFormSubmitted" [isSubmit]="true" [type]="'save'" [text]="'save'">
          </hum-button>
          <hum-button *ngIf="isFormSubmitted" [type]="'loading'" [text]="'Saving....'"></hum-button>
          <hum-button (click)='cancelButtonClicked()' [type]="'cancel'" [text]="'cancel'"></hum-button>
      </mat-dialog-actions>
</form>

