<lib-sub-header-template>
  <span class="action_header">
    <a class="back_arrow" routerLink="/store/vehicle/tracker">
      <i class="fas fa-arrow-left"></i>
    </a>
    Vehicle Details
    <hum-button [type]="'add'" [text]="'Add Mileage'" (click)="openMilageModal()"></hum-button>
    <hum-button [type]="'text'" [text]="'Edit Details'" (click)="editVehicleDetail()"></hum-button>
  </span>
  <div class="action_section">
  </div>
</lib-sub-header-template>
<mat-divider></mat-divider>
<mat-tab-group [ngStyle]="scrollStyles">
  <mat-tab label="DETAILS">
    <ng-template matTabContent>
      <ng-container *ngTemplateOutlet="vehicleDetails"></ng-container>
    </ng-template>
  </mat-tab>
  <mat-tab label="MONTHLY BREAKDOWN">
      <mat-card>
          <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a month" [formControl]="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker (monthSelected)="monthSelected($event)" startView="multi-year"></mat-datepicker>
            </mat-form-field>

      <mat-card>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <h5>Vehicle Usage Analysis</h5>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>Incurred Mileage(KM)</td>

                      <td>{{vehicleDetailForm.IncurredMileage}}</td>
                    </tr>
                    <tr>
                      <td>Starting Mileage(KM)</td>
                      <td>{{vehicleDetailForm.StartingMileage}}</td>
                    </tr>
                    <tr>
                      <td>Current Mileage (KM)</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Total Fuel Usage (Litres)</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Total Mobil Oil Usage (Litres)</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Standard Fuel Consumption Rate (Litre Per 100 KM)</td>
                      <td>{{vehicleDetailForm.FuelConsumptionRate}}</td>
                    </tr>
                    <tr>
                      <td>Actual Fuel Consumption Rate (Litre Per 100 KM)</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Standard Mobil Oil Consumption Rate (Litre Per 100 KM)</td>
                      <td>{{vehicleDetailForm.MobilOilConsumptionRate}}</td>
                    </tr>
                    <tr>
                      <td>Actual Mobil Oil Consumption Rate (Litre Per 100 KM)</td>
                      <td>-</td>

                    </tr>
                  </tbody>
                </table>
                <h5>Vehicle Cost Analysis</h5>
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>Fuel Total Cost</td>

                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Mobil Oil Total Cost</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Spare Parts Total Cost</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Services & Maintenance Total Cost</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Vehicle Starting Cost</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>Total Cost</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </mat-card>
      </mat-card>

  </mat-tab>
  <mat-tab label="LOGS">
    <ng-template matTabContent>
      <app-logs></app-logs>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<!-- Vehicle Details template-->
<ng-template #vehicleDetails [ngStyle]="scrollStyles">
  <mat-card>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <h5>Vehicle Usage Analysis</h5>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Incurred Mileage(KM)</td>

                <td>{{vehicleDetailForm.IncurredMileage}}</td>
              </tr>
              <tr>
                <td>Starting Mileage(KM)</td>
                <td>{{vehicleDetailForm.StartingMileage}}</td>
              </tr>
              <tr>
                <td>Current Mileage (KM)</td>
                <td>{{vehicleDetailForm.CurrentMileage}}</td>
              </tr>
              <tr>
                <td>Total Fuel Usage (Litres)</td>
                <td>{{vehicleDetailForm.TotalFuelUsage}}</td>
              </tr>
              <tr>
                <td>Total Mobil Oil Usage (Litres)</td>
                <td>{{vehicleDetailForm.TotalMobilOilUsage}}</td>
              </tr>
              <tr>
                <td>Standard Fuel Consumption Rate (Litre Per 100 KM)</td>
                <td>{{vehicleDetailForm.StandardFuelConsumptionRate}}</td>
              </tr>
              <tr>
                <td>Actual Fuel Consumption Rate (Litre Per 100 KM)</td>
                <td>{{vehicleDetailForm.ActualFuelConsumptionRate}}</td>
              </tr>
              <tr>
                <td>Standard Mobil Oil Consumption Rate (Litre Per 100 KM)</td>
                <td>{{vehicleDetailForm.StandardMobilOilConsumptionRate}}</td>
              </tr>
              <tr>
                <td>Actual Mobil Oil Consumption Rate (Litre Per 100 KM)</td>
                <td>{{vehicleDetailForm.ActualMobilOilConsumptionRate}}</td>

              </tr>
            </tbody>
          </table>
          <h5>Vehicle Cost Analysis</h5>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Fuel Total Cost</td>

                <td>{{vehicleDetailForm.FuelTotalCost}}</td>
              </tr>
              <tr>
                <td>Mobil Oil Total Cost</td>
                <td>{{vehicleDetailForm.MobilOilTotalCost}}</td>
              </tr>
              <tr>
                <td>Spare Parts Total Cost</td>
                <td>{{vehicleDetailForm.SparePartsTotalCost}}</td>
              </tr>
              <tr>
                <td>Services & Maintenance Total Cost</td>
                <td>{{vehicleDetailForm.ServiceAndMaintenanceTotalCost}}</td>
              </tr>
              <tr>
                <td>Vehicle Starting Cost</td>
                <td>{{vehicleDetailForm.VehicleStartingCost}}</td>
              </tr>
              <tr>
                <td>Total Cost</td>
                <td>{{vehicleDetailForm.FuelTotalCost+
                  vehicleDetailForm.MobilOilTotalCost+
                  vehicleDetailForm.SparePartsTotalCost+
                  vehicleDetailForm.ServiceAndMaintenanceTotalCost+
                  vehicleDetailForm.VehicleStartingCost
                }}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-md-6">
            <h5>Vehicle Details</h5>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Plate No</td>

                <td>{{vehicleDetailForm.PlateNo}}</td>
              </tr>
              <tr>
                <td>Driver</td>
                <td>{{vehicleDetailForm.EmployeeName}}</td>
              </tr>
              <tr>
                <td>Model Year</td>
                <td>{{vehicleDetailForm.ModelYear}}</td>
              </tr>
              <tr>
                <td>Location</td>
                <td>{{vehicleDetailForm.OfficeName}}</td>
              </tr>
              <tr>
                <td>PurchaseId</td>
                <td><a [routerLink]="['/store/purchase/edit', vehicleDetailForm.PurchaseId]">{{vehicleDetailForm.PurchaseName}}</a></td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-card>

</ng-template>
