<div>

<router-outlet></router-outlet>       
 
</div>





<!-- <div *ngIf="commonService.menuVisibility">
    <app-header (checkToken)="recheckToken()" *ngIf="commonService.menuVisibility"></app-header>
</div>

<section class="wrapper" *ngIf="commonService.menuVisibility">
    <app-sidebar></app-sidebar>
    <div  class="container">
        <router-outlet></router-outlet>        
    </div>
</section> -->

<!-- <change-password> </change-password> -->
<!-- <div *ngIf="commonService.menuVisibility==false"> -->
    <!-- <router-outlet></router-outlet> -->
    <!-- <app-login (checkToken)="recheckToken()"></app-login> -->
    <!-- <app-login routerLink="/login" (checkToken)="recheckToken()"></app-login> -->
    <!-- <reset-password></reset-password> -->
<!-- </div> -->

<!-- <p-confirmDialog width="425"></p-confirmDialog>
<p-growl life="2000"></p-growl> -->

