<div class="container-fluid">
  <div class="row">
    <div [class]="colsm6">
      <div #budgetListing>
        <mat-card [ngStyle]="scrollStyles">
          <h4 class="main_heading">
            Budget Details
            <button mat-icon-button class="pull-right">
              <mat-icon>settings</mat-icon>
            </button>
            <div class="icon-file-attach">
              <label class="btn-floating btn-lg pink lighten-1 mt-0 float-left">
                <mat-icon class="icon_cursor padding_top_5" aria-label="icon-button done icon"
                  pTooltip="Excel sample data entries" tooltipPosition="top" (click)="toggleFormate()">remove_red_eye
                </mat-icon>
              </label>
              <app-budget-line-documents [Projectid]="Projectid"
                (budgetLineListRefresh)="budgetLineListExcelRefresh($event)"></app-budget-line-documents>
            </div>
          </h4>
          <div class="row">
            <div class="col-sm-6">
              <button mat-raised-button color="primary" (click)="openAddBudgetLineDialog()">
                Add
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <mat-card *ngIf="collapsed">
              <mat-card-content>
                <table class="viewtable">
                  <caption style="text-align:center">
                    Sample Data Entries For import Excel
                  </caption>
                  <tbody>
                    <tr>
                      <th>ProjectId</th>
                      <th>ProjectJobCode</th>
                      <th>ProjectJobName</th>
                      <th>BudgetCode</th>
                      <th>BudgetName</th>
                      <th>InitialBudget</th>
                      <th>CurrencyId</th>
                      <th>CurrencyName</th>
                    </tr>
                    <tr>
                      <td>{{ selectedProjectId }}</td>
                      <td *ngIf="selectedProjectId.toString().length < 2;"> P000{{ selectedProjectId }}-J001 </td>
                      <td *ngIf="selectedProjectId.toString().length == 2"> P00{{ selectedProjectId }}-J001</td>
                      <td *ngIf="selectedProjectId.toString().length == 3"> P0{{ selectedProjectId }}-J001</td>
                      <td *ngIf="selectedProjectId.toString().length == 4"> P{{ selectedProjectId }}-J001</td>

                      <td>MyJobName</td>
                      <td *ngIf="selectedProjectId.toString().length < 2">P000{{ selectedProjectId }}-B00001</td>
                      <td *ngIf="selectedProjectId.toString().length == 2"> P00{{ selectedProjectId }}-B00001</td>
                      <td *ngIf="selectedProjectId.toString().length == 3"> P0{{ selectedProjectId }}-B00001</td>
                      <td *ngIf="selectedProjectId.toString().length == 4"> P{{ selectedProjectId }}-B00001</td>
                      <td>MyBudgetName</td>
                      <td>100</td>
                      <td>1</td>
                      <td>Afgani</td>
                    </tr>
                    <tr>
                      <td>{{ selectedProjectId }}</td>
                      <td *ngIf="selectedProjectId.toString().length < 2;"> P000{{ selectedProjectId }}-J002 </td>
                      <td *ngIf="selectedProjectId.toString().length == 2"> P00{{ selectedProjectId }}-J002</td>
                      <td *ngIf="selectedProjectId.toString().length == 3"> P0{{ selectedProjectId }}-J002</td>
                      <td *ngIf="selectedProjectId.toString().length == 4"> P{{ selectedProjectId }}-J002</td>

                      <td>MySecondJobName</td>
                      <td *ngIf="selectedProjectId.toString().length < 2">P000{{ selectedProjectId }}-B00002</td>
                      <td *ngIf="selectedProjectId.toString().length == 2"> P00{{ selectedProjectId }}-B00002</td>
                      <td *ngIf="selectedProjectId.toString().length == 3"> P0{{ selectedProjectId }}-B00002</td>
                      <td *ngIf="selectedProjectId.toString().length == 4"> P{{ selectedProjectId }}-B00002</td>
                      <td>MySecondBudgetName</td>
                      <td>200</td>
                      <td>2</td>
                      <td>Europian</td>
                    </tr>
                    <tr>
                      <td>{{ selectedProjectId }}</td>
                      <td *ngIf="selectedProjectId.toString().length < 2;"> P000{{ selectedProjectId }}-J003 </td>
                      <td *ngIf="selectedProjectId.toString().length == 2"> P00{{ selectedProjectId }}-J003</td>
                      <td *ngIf="selectedProjectId.toString().length == 3"> P0{{ selectedProjectId }}-J003</td>
                      <td *ngIf="selectedProjectId.toString().length == 4"> P{{ selectedProjectId }}-J003</td>
                      <td>MyThirdJobName</td>
                      <td *ngIf="selectedProjectId.toString().length < 2">P000{{ selectedProjectId }}-B00003</td>
                      <td *ngIf="selectedProjectId.toString().length == 2"> P00{{ selectedProjectId }}-B00003</td>
                      <td *ngIf="selectedProjectId.toString().length == 3"> P0{{ selectedProjectId }}-B00003</td>
                      <td *ngIf="selectedProjectId.toString().length == 4"> P{{ selectedProjectId }}-B00003</td>
                      <td>MyThirdBudgetName</td>
                      <td>300</td>
                      <td>3</td>
                      <td>Pakistani</td>
                    </tr>
                  </tbody>
                </table>
                <p style="color:red;font-size: 12px; padding-top: 5px">
                  (*Important : You can also leave "ProjectJobCode" and
                  "BudgetCode" field empty, it will create a new Job and
                  if you have two entries with same "ProjectJobCode" in excel then it will create
                  one job for two entries.)
                </p>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="example-form-field">
                <input matInput placeholder="Search" [(ngModel)]="budgetFilter.FilterValue" (keyup.enter)="
                    budgetFilter.FilterValue != '' ? onFilterApplied() : null
                  " />
              </mat-form-field>
              <!-- Apply -->
              &nbsp;
              <button mat-raised-button color="primary" class="margin_left_10"
                [disabled]="budgetFilter.FilterValue === ''" (click)="onFilterApplied()">
                Apply
              </button>
              &nbsp;
              <!-- Reset -->
              <button mat-raised-button (click)="onFilterReset()">
                Reset
              </button>

              <!-- Filter -->
              <button mat-icon-button class="margin_left_10" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="$event.stopPropagation()">
                  <mat-checkbox [(ngModel)]="budgetFilter.BudgetLineIdFlag">BudgetLine Id</mat-checkbox>
                </button>
                <button mat-menu-item (click)="$event.stopPropagation()">
                  <mat-checkbox [(ngModel)]="budgetFilter.BudgetCodeFlag">Budget Code</mat-checkbox>
                </button>
                <button mat-menu-item (click)="$event.stopPropagation()">
                  <mat-checkbox [(ngModel)]="budgetFilter.BudgetNameFlag">Budget Name</mat-checkbox>
                </button>
                <button mat-menu-item (click)="$event.stopPropagation()">
                  <mat-checkbox [(ngModel)]="budgetFilter.ProjectJobIdFlag">Project Job Id</mat-checkbox>
                </button>
                <button mat-menu-item (click)="$event.stopPropagation()">
                  <mat-checkbox [(ngModel)]="budgetFilter.InitialBudgetFlag">Initial Budget</mat-checkbox>
                </button>
                <button mat-menu-item (click)="$event.stopPropagation()">
                  <mat-checkbox [(ngModel)]="budgetFilter.DateFlag">Created On <br>(dd/mm/yyyy)</mat-checkbox>
                </button>
              </mat-menu>
            </div>
          </div>

          <div class="row">
            <div *ngIf="BudgetListLoaderFlag; else budgetListTemplate" class="col-sm-12">
              <mat-spinner class="center_loader" diameter="50"></mat-spinner>
            </div>
            <ng-template #budgetListTemplate>
              <div class="col-sm-12 responsive_table-responsive">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td width="1%">
                        <p class="width_8"></p>
                      </td>
                      <td width="15%">Code/Id</td>
                      <td width="15%">Description</td>
                      <td width="15%">Job Code/Job Id</td>
                      <td width="15%">Project Job</td>
                      <td width="10%">Currency</td>
                      <td width="20%">Initial Budget</td>
                      <td width="10%">Expenditure</td>
                    </tr>
                    <tr (click)="onItemClick(item)" *ngFor="let item of BudgetLineDetailList" [ngClass]="{
                        txtColor: item.DebitPercentage >= 80,
                        selected: selectedBudgetId == item.BudgetLineId
                      }">
                      <td width="1%">
                        <p class="width_8"></p>
                      </td>
                      <td width="15%" class="grey-text">
                        {{ item.BudgetCode }}/{{ item.BudgetLineId }}
                      </td>

                      <td width="15%">
                        <p [ngClass]="[
                            item.DebitPercentage >= 80 ? 'diamonds' : 'diamond'
                          ]"></p>
                        {{ item.BudgetName }}
                      </td>
                      <td width="15%" class="grey-text">
                        {{ item.ProjectJobCode }}/ {{ item.ProjectJobId }}
                      </td>

                      <td width="15%">
                        <p class="diamond"></p>
                        {{ item.ProjectJobName }}
                      </td>
                      <td width="10%">
                        {{ item.CurrencyName }}
                      </td>
                      <td width="20%">
                        {{ item.InitialBudget }}
                      </td>
                      <td width="10%">
                        {{ item.Expenditure | number: "2.1-3" }}
                      </td>

                      <td width="1%" class="text-center">
                        <i *ngIf="selectedBudgetId == item.BudgetLineId" class="material-icons font-12">
                          arrow_forward_ios
                        </i>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <mat-paginator [length]="budgetFilter.totalCount" [pageSize]="budgetFilter.pageSize"
                  [pageIndex]="budgetFilter.pageIndex" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent($event)">
                </mat-paginator>
              </div>
            </ng-template>
          </div>
        </mat-card>
      </div>
    </div>

    <!-- project-budget detail -->
    <div [hidden]="!showBudgetDetail" class="col-sm-6">
      <mat-card [ngStyle]="scrollStyles">
        <app-budget-line-details [budgetId]="selectedBudgetId" [currencyList]="currencyList"
          [projectJobList]="projectJobList" [Projectid]="Projectid" [budgetDetailObj]="budgetDetailObj"
          (budgetDetailChanged)="budgetLineDetailChangedEmit($event)"
          (transactiondetail)="transactiondetailListEmit($event)">
        </app-budget-line-details>
      </mat-card>
    </div>
  </div>
</div>
