<!-- <app-dbheader [selectedHeader]="setSelectedHeader" [headerName]="setProjectHeader"></app-dbheader> -->

<div class="body-content">
    <div class="container-fluid">
      <div class="row">
        <div [class]="colsm6">
          <mat-card [ngStyle]="scrollStyles">

              <div class="row">
                <div class="col-sm-12">
                    <h4 class="main_heading">
                        Project Indicators
                     </h4>
                </div>
              </div>
              <div class="row">
                <div *ngIf="projectIndicatorListLoaderFlag; else projectIndicatorListTemplate" class="col-sm-12">
                  <mat-spinner class="center_loader" diameter="50"></mat-spinner>
                </div>
                <ng-template #projectIndicatorListTemplate>

                  <div class="col-sm-12">
                      <div class="responsive_table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td width="1%">
                            <p class="width_8"></p>
                          </td>
                          <td width="5%"></td>
                          <td width="40%"><a class="add_new" (click)="onItemClick(0)">Add
                              New....</a></td>
                          <td width="20%"></td>
                          <td width="20%"></td>
                          <td width="5%"></td>
                          <td width="1%"></td>
                        </tr>
                        <tr *ngFor="let list of projectIndicatorList" (click)="onItemClick(list.projectIndicatorId)" [ngClass]="{ selected: selectedRowID === list.projectIndicatorId }">
                          <td width="1%">
                            <p class="width_8"></p>
                          </td>
                          <td class="grey-text" width="5%">{{ list.projectIndicatorId }}</td>
                          <td width="40%" text-align="left">
                            <p class="diamond">{{ list.projectIndicatorName }}</p>
                          </td>
                          <td class="text-right" width="10%">{{ list.projectIndicatorCode }}</td>
                          <td class="text-left" width="30%">
                            <!-- <p class="diamond">{{db.Medium}}</p> -->
                          </td>
                          <td class="" width="7"><a class="blue-circle "><i class="far fa-bell"></i></a></td>
                          <td width="1%" class="text-center"><i *ngIf="selectedRowID === list.projectIndicatorId" class="material-icons font-12">
                            arrow_forward_ios </i></td>
                        </tr>
                      </tbody>
                    </table>

                  <mat-paginator [length]="indicatorFilterModel.totalCount" [pageSize]="indicatorFilterModel.pageSize"
                    [pageIndex]="indicatorFilterModel.pageIndex" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent($event)">
                  </mat-paginator>
                  </div>
                </div>
                </ng-template>
              </div>

          </mat-card>
        </div>
        <div [ngStyle]="{ visibility: showJobDetail ? 'visible' : 'hidden' }" class="col-sm-6">
          <!-- <app-donor-master (updateDonor)="updateDonorList($event)" (addDonor)="addDonorList($event)" (deleteDonor)="onDonorDeleted($event)"
            (hideDetailPanel)="hideProjectDetailPanel($event)" [donorId]="donorId"></app-donor-master> -->
              <app-project-indicator-detail [indicatorId]="projectIndicatorId" (addIndicator)="addProjectIndicator($event)"
              (editIndicator)="editIndicatorList($event)"></app-project-indicator-detail>
        </div>
      </div>
    </div>
  </div>
