<div>
  <h4 mat-dialog-title>
    Advance History
  </h4>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <div class="row">
      <hum-table [isDefaultAction]="false" [headers]="advanceHistoryHeader$" [items]="advanceHistoryList$"></hum-table>
    </div>
    <div mat-dialog-actions class="items-float-right">
      <!-- <hum-button *ngIf="!isFormSubmitted" [type]="'save'" [text]="'save'" [isSubmit]="true"
        [disabled]="!newAdvanceRequestForm.valid || !newAdvanceRequestForm.dirty"></hum-button>
      <hum-button *ngIf="isFormSubmitted" [type]="'loading'" [text]="'Saving....'"></hum-button>
      <hum-button (click)='closeDialog()' [type]="'cancel'" [text]="'cancel'"></hum-button> -->
    </div>
  </div>
</div>
