.sub-table{
    background-color: #f9f9f9
}
.main-table{
    background-color: #ffff !important;
}
.sub-table .col-md-6{
    padding-bottom: 10px !important;
}
.sub-table h5{
    margin-top: 0% !important;
    margin-bottom: 0% !important;
}
.action-span{
    margin-left: 10px;
}