.sub_header_template_main {
  background-color: white;
  height: 55px;
  padding: 10px 15px;
  box-shadow: 0 0px 10px -5px #000000d6;
}
.float_right { float: right;}
.display_inline { display: inline-block;}
