.sub_header_template_main {
  background-color: white;
  height: 55px;
  padding: 10px 15px;
  box-shadow: 0 2px 7px -5px #000000d6;
}
.sub_header_template_main1 {
  background-color: white;
  height: 55px;
  padding: 10px 15px;
  box-shadow: none;
}
.sub_header_template_main2 {
  background-color: white;
  height: 70px;
  padding: 10px 15px;
  box-shadow: none;
}
.float_right { float: right;}
.display_inline { display: inline-block; margin-top: 0px !important}
