<lib-sub-header-template>
  <span class="action_header">Appraisal Questions
    <hum-button [type]="'add'" [text]="'ADD NEW APPRAISAL QUESTION'" (click)="addAppraisalQues()"></hum-button>
  </span>
</lib-sub-header-template>

<mat-card humAddScroll>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="appraisalTable">
        <hum-table [headers]="appraisalListHeaders$" [items]="appraisalList$" [hideColums$]="hideColums$" (actionClick)="actionEvents($event)"
          [actions]="actions"></hum-table>
        </div>
        <!-- <mat-paginator [length]="RecordCount" [pageSize]="pageModel.PageSize"
          [pageSizeOptions]="[10, 5, 25, 100]" (page)="pageEvent($event)">
        </mat-paginator> -->
      </div>
    </div>
  </div>
</mat-card>
