<div class="main-page dv-main-pg">
    <div class="heading-hdr">
        <div class="clearfix">
            <h3 class="page-heading" [ngClass]="{'myclass' : false}">Employees</h3>
        </div>
    </div>

    <div class="employee-details-outer">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 emp-left-part-outer">
                <div class="emp-left-part">

                    <ul class="nav nav-tabs tabs-left">
                        <li>
                            <a href="#employee-tab-2" data-toggle="tab" (click)="tabOnClick(1)">PROSPECTIVE</a>
                        </li>
                        <li class="active">
                            <a href="#employee-tab-1" data-toggle="tab" (click)="tabOnClick(2)">ACTIVE</a>
                        </li>
                        <li>
                            <a href="#employee-tab-3" data-toggle="tab" (click)="tabOnClick(3)">TERMINATED</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="emp-list-hdr">
                            <div *ngIf="tabEventValue == 1">
                                <div class="emp-add-btn" (click)="openAddForm()" *ngIf="isEditingAllowed">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Active -->
                        <div class="tab-pane active" id="employee-tab-1">
                            <dx-select-box [dataSource]="officeDropdownList" placeholder="Choose Office"
                                (onItemClick)="onOfficeSelected($event.itemData.OfficeId)" displayExpr="OfficeName"
                                valueExpr="OfficeId" [value]="selectedOffice" [searchEnabled]="true">
                            </dx-select-box>
                            <br>
                            <div class="emp-left-listing-height">
                                <div class="emp-listing">
                                    <dx-list #list1 [dataSource]="activeEmployeeInfo" [height]="610" selectionMode="single" 
                                        [searchEnabled]="true" [searchExpr]="['EmployeeName', 'EmployeeCode']"
                                        searchMode="contains">
                                        <div *dxTemplate="let data of 'item'" class="user-left-listing"
                                            (click)="displayActiveEmpDetails(data)">
                                            <a href="javascript:void(0);">
                                                <div class="emp-list-img">
                                                    <img
                                                        src="{{data.EmployeePhoto == null || data.EmployeePhoto == ''  ? defaultImagePath : data.EmployeePhoto}}" />
                                                </div>
                                                <div class="emp-list-txt">
                                                    <div class="usr-name-hdd">
                                                        <h4>{{data.EmployeeName == null ? "" : data.EmployeeName}}</h4>
                                                    </div>
                                                    <div class="usr-sx-age">{{data.SexName == null ? "" :
                                                        data.SexName}}, {{ageCalculator(data.EmployeeDOB)}}</div>
                                                </div>
                                            </a>
                                        </div>
                                    </dx-list>
                                </div>
                            </div>
                        </div>

                        <!-- Prospective -->
                        <div class="tab-pane" id="employee-tab-2">
                            <dx-select-box [dataSource]="officeDropdownList" placeholder="Choose Office"
                                (onItemClick)="onOfficeSelected($event.itemData.OfficeId)" displayExpr="OfficeName"
                                valueExpr="OfficeId" [value]="selectedOffice" [searchEnabled]="true">
                            </dx-select-box>
                            <br>
                            <div class="emp-left-listing-height">
                                <div class="emp-listing">

                                    <dx-list #list2 [dataSource]="prospectiveEmployeeInfo" [height]="610" selectionMode="single"
                                        [searchEnabled]="true" [searchExpr]="['EmployeeName', 'EmployeeCode']"
                                        searchMode="contains">
                                        <div *dxTemplate="let data of 'item'"
                                            (click)="displayProspectiveEmpDetails(data)">
                                            <a href="javascript:void(0);">
                                                <div class="emp-list-img">
                                                    <img
                                                        src="{{data.EmployeePhoto == null || data.EmployeePhoto == '' ? defaultImagePath : data.EmployeePhoto}}" />
                                                </div>
                                                <div class="emp-list-txt">
                                                    <div class="usr-name-hdd">
                                                        <h4>{{data.EmployeeName == null ? "" : data.EmployeeName}}</h4>
                                                    </div>
                                                    <!-- <div class="usr-sx-age">{{data.SexName == null ? "" : data.SexName}}, {{data.Age == null ? "" : data.Age}}</div> -->
                                                    <div class="usr-sx-age">{{data.SexName == null ? "" :
                                                        data.SexName}}, {{ageCalculator(data.EmployeeDOB)}}</div>
                                                </div>
                                            </a>
                                        </div>
                                    </dx-list>
                                </div>
                            </div>
                        </div>

                        <!-- Terminated -->
                        <div class="tab-pane" id="employee-tab-3">
                            <dx-select-box [dataSource]="officeDropdownList" placeholder="Choose Office"
                                (onItemClick)="onOfficeSelected($event.itemData.OfficeId)" displayExpr="OfficeName"
                                valueExpr="OfficeId" [value]="selectedOffice" [searchEnabled]="true">
                            </dx-select-box>
                            <br>
                            <div class="emp-left-listing-height">
                                <div class="emp-listing">
                                    <dx-list #list3 [dataSource]="terminatedEmployeeInfo" [height]="610" selectionMode="single"
                                        [searchEnabled]="true" [searchExpr]="['EmployeeName', 'EmployeeCode']"
                                        searchMode="contains">
                                        <div *dxTemplate="let data of 'item'"
                                            (click)="displayTerminatedEmpDetails(data)">
                                            <a href="javascript:void(0);">
                                                <div class="emp-list-img">
                                                    <img
                                                        src="{{data.EmployeePhoto == null || data.EmployeePhoto == '' ? defaultImagePath : data.EmployeePhoto}}" />
                                                </div>
                                                <div class="emp-list-txt">
                                                    <div class="usr-name-hdd">
                                                        <h4>{{data.EmployeeName == null ? "" : data.EmployeeName}}</h4>
                                                    </div>
                                                    <div class="usr-sx-age">{{data.SexName == null ? "" : data.SexName
                                                        }}, {{ageCalculator(data.EmployeeDOB)}}</div>
                                                </div>
                                            </a>
                                        </div>
                                    </dx-list>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-8 col-md-9 emp-right-part-outer">
                <div
                    *ngIf="(showData != null && activeEmployeeInfo.length > 0) || (showData != null && prospectiveEmployeeInfo.length > 0)  || (showData != null && terminatedEmployeeInfo.length > 0) ">
                    <div class="emp-right-part">

                        <div id="tabs">

                            <div class="emp-right-part-hdr dv-upload-btn">
                                <div class="row">
                                    <div class="col-xs-5 col-sm-3 col-md-2">

                                        <div class="emp-dp-sec content">
                                            <div class="content-overlay"></div>
                                            <figure>
                                                <img class="content-image"
                                                    src="{{showData.EmployeePhoto == null || showData.EmployeePhoto == '' ? defaultImagePath : showData.EmployeePhoto}}"
                                                    height="100px" width="100px" alt="Profile Image" />
                                            </figure>
                                            <div class="content-details fadeIn-top">
                                                <dx-file-uploader id="imageUploader" accept="image/*"
                                                    selectButtonText="Update Image" uploadMode="useForm"
                                                    [(value)]="selectedProfileImage"
                                                    (onValueChanged)="onImageSelectUpdate($event)" [multiple]="false">
                                                </dx-file-uploader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-7 col-sm-6 col-md-5">
                                        <div class="emp-hdr-nm">
                                            <h3>{{showData.EmployeeName == null ? "" : showData.EmployeeName}}</h3>
                                            <span> {{showData.SexName == null ? "" : showData.SexName}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="dv-nw-tab">
                                <ul class="nav nav-tabs">
                                    <li *ngFor="let item of showInfoTabs" (click)="openInfoTabs(item)"
                                        [ngClass]="{'active': item.id == openInfoTab}">
                                        <a style="cursor: pointer;" data-toggle="tab">{{item.text}}</a>
                                    </li>

                                </ul>

                                <div class="tab-content">
                                    <div *ngIf="openInfoTab==0" class="tab-pane fade in active">
                                        <div *ngIf="tabEventValue != 3 ;  else terminatedEmp">
                                            <div class="btn-grp-wrap">
                                                <!-- <dx-button text="Salary Slips" *ngIf="tabEventValue==2" (click)="showSalarySlipsDatePopup()"></dx-button> -->
                                                <dx-button text="Documents" (click)="showDocs($event)"></dx-button>
                                                <dx-button text="Edit" (click)="showEditForm()"
                                                    *ngIf="isEditingAllowed"></dx-button>
                                            </div>
                                        </div>

                                        <ng-template #terminatedEmp>
                                            <div class="btn-grp-wrap">
                                                <dx-button text="Documents" type="success" (click)="showDocs($event)">
                                                </dx-button>
                                            </div>
                                        </ng-template>

                                        <div class="porject-des-listing">

                                            <!-- <div *ngIf="employeeDetailSalarySlipFlag; else salarySlipReport"> -->

                                            <ul>
                                                <li>
                                                    <h4>Employee Code:</h4>
                                                    <span>{{showData.EmployeeCode == null ? "" :
                                                        showData.EmployeeCode}}</span>
                                                </li>
                                                <li>
                                                    <h4>Employee Name:</h4>
                                                    <span>{{showData.EmployeeName == null ? "" :
                                                        showData.EmployeeName}}</span>
                                                </li>
                                                <li>
                                                    <h4>Father's Name:</h4>
                                                    <span>
                                                        {{showData.FatherName == null ? "" : showData.FatherName}}</span>
                                                </li>

                                                <li>
                                                    <h4>Sex:</h4>
                                                    <span> {{showData.SexName == null ? "" : showData.SexName}}</span>
                                                </li>
                                                <li>
                                                    <h4>Date Of Birth:</h4>
                                                    <span>
                                                        {{showData.DateOfBirth == null ? "" : (showData.DateOfBirth) }}
                                                    </span>
                                                </li>

                                                <li>
                                                    <h4>Email:</h4>
                                                    <span> {{showData.Email == null ? "" :showData.Email }}</span>
                                                </li>
                                                <li>
                                                    <h4>Phone:</h4>
                                                    <span> {{showData.Phone == null ? "" : showData.Phone}}</span>
                                                </li>
                                                <li>
                                                    <h4>Country:</h4>
                                                    <span>
                                                        {{showData.CountryName == null ? "" : showData.CountryName}}</span>
                                                </li>
                                                <li>
                                                    <h4>State:</h4>
                                                    <span> {{showData.ProvinceName == null ? "" :
                                                        showData.ProvinceName}}</span>
                                                </li>
                                                <li>
                                                    <h4>City:</h4>
                                                    <span> {{showData.City == null ? "" : showData.City}}</span>
                                                </li>
                                                <li>
                                                    <h4>Permanent Address:</h4>
                                                    <span> {{showData.PermanentAddress == null ? "" :
                                                        showData.PermanentAddress}}</span>
                                                </li>
                                                <li>
                                                    <h4>Current Address:</h4>
                                                    <span> {{showData.CurrentAddress == null ? "" :
                                                        showData.CurrentAddress}}</span>
                                                </li>
                                                <li>
                                                    <h4>Qualification:</h4>
                                                    <span> {{showData.HigherQualificationName == null ? "" :
                                                        showData.HigherQualificationName}}</span>
                                                </li>
                                                <li>
                                                    <h4>Profession:</h4>
                                                    <span> {{showData.ProfessionName == null ? "" :
                                                        showData.ProfessionName}}</span>
                                                </li>
                                                <li>
                                                    <h4>Experience Year:</h4>
                                                    <span> {{showData.ExperienceYear == null ? "" :
                                                        showData.ExperienceYear}}</span>
                                                </li>
                                                <li>
                                                    <h4>Experience Month:</h4>
                                                    <span> {{showData.ExperienceMonth == null ? "" :
                                                        showData.ExperienceMonth }}
                                                    </span>
                                                </li>
                                                <li>
                                                    <h4>Previous Work:</h4>
                                                    <span> {{showData.PreviousWork == null ? "" :
                                                        showData.PreviousWork}}</span>
                                                </li>
                                            </ul>
                                            <!-- </div> -->

                                        </div>
                                    </div>




                                    <div *ngIf="openInfoTab==1" class="tab-pane fade in active">
                                        <app-professional-info [employeeId]="employeeId" [tabEventValue]="tabEventValue"
                                            (employeeListRefresh)="employeeListRefresh()"
                                            (triggerEmployeeLeavePopUp)="triggerEmployeeLeavePopUp($event)">
                                        </app-professional-info>
                                    </div>
                                    <div *ngIf="openInfoTab==2" class="tab-pane fade in active">
                                        <app-history [employeeId]="employeeId" [tabEventValue]="tabEventValue">
                                        </app-history>
                                    </div>
                                    <div *ngIf="openInfoTab==3" class="tab-pane fade in active">
                                        <app-leave-info [employeeId]="employeeId" [tabEventValue]="tabEventValue">
                                        </app-leave-info>
                                    </div>
                                    <div *ngIf="openInfoTab==4" class="tab-pane fade in active">

                                        <app-health [employeeId]="employeeId" [tabEventValue]="tabEventValue">
                                        </app-health>

                                        <!-- <app-health-info [employeeId]="employeeId" [tabEventValue]="tabEventValue"></app-health-info> -->
                                    </div>
                                    <div *ngIf="openInfoTab==5" class="tab-pane fade in active">
                                        <div class="mainScheduler">
                                            <app-scheduler [employeeId]="employeeId"></app-scheduler>
                                        </div>
                                    </div>
                                    <div *ngIf="openInfoTab==6" class="tab-pane fade in active">
                                        <app-payroll [employeeId]="employeeId"></app-payroll>
                                    </div>
                                    <div *ngIf="openInfoTab==7" class="tab-pane fade in active">
                                        <!-- <app-monthly-attendance-report [employeeId]="employeeId"></app-monthly-attendance-report> -->
                                        <app-pension [employeeId]="employeeId"></app-pension>
                                    </div>

                                    <div *ngIf="openInfoTab==8" class="tab-pane fade in active">
                                        <app-analytical-info [employeeId]="employeeId"></app-analytical-info>
                                    </div>

                                    <div *ngIf="openInfoTab==9" class="tab-pane fade in active">
                                        <app-contract-info [employeeId]="employeeId"></app-contract-info>
                                    </div>

                                    <!-- <div *ngIf="openInfoTab==8" class="tab-pane fade in active">
                                        <app-pension [employeeId]="employeeId"></app-pension>
                                    </div> -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div>
        <ngx-loading [show]="loading"></ngx-loading>
    </div>
</div>


<!-- ADD DOC POPUP-->
<dx-popup class="popup" [width]="600" [height]="800" [showTitle]="true" title="Add Document Details"
    [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="popupAddDocumentVisible">

    <div *dxTemplate="let data of 'content'">
        <form action="your-action" (submit)="addDocumentDetails(empDocuments)">
            <dx-form id="form" [formData]="empDocuments" [colCount]="2" [readOnly]="false" [showColonAfterLabel]="true"
                [showValidationSummary]="true" validationGroup="docgeneralDetails">

                <dxi-item dataField="DocumentName">
                    <dxi-validation-rule type="required" message="Document Name is required">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="stringLength" [min]="2" message="Name must have at least 2 symbols">
                    </dxi-validation-rule>
                </dxi-item>

                <dxi-item dataField="DocumentDate" editorType="dxDateBox">
                    <dxi-validation-rule type="required" message="Document Date is required">
                    </dxi-validation-rule>
                </dxi-item>

                <dxi-item dataField="DocumentFilePath" class="add-from-upload-btn">
                    <dxo-label text="Document File"></dxo-label>
                    <dx-file-uploader selectButtonText="Select file" labelText="" accept="*" uploadMode="useForm"
                        (onValueChanged)="onDocSelect($event)" [multiple]="false">
                    </dx-file-uploader>
                    <dxi-validation-rule type="required" message="Document is required">
                    </dxi-validation-rule>
                </dxi-item>
            </dx-form>
            <div class="btn-grp-wrap">
                <dx-button text="Save" type="success" validationGroup="docgeneralDetails" [useSubmitBehavior]="true">
                </dx-button>
                <dx-button text="Cancel" (click)="HideAddDocPopup()"></dx-button>
            </div>
        </form>
    </div>

</dx-popup>

<!-- Document Popup -->
<dx-popup class="popup doc-popup-content" [width]="800" [height]="600" [showTitle]="false" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupVisibleDocument" [shading]="true" shadingColor="rgba(0, 0, 0, 0.5)">
    <div *dxTemplate="let data of 'content'">

        <div class="row">
            <div class="col-sm-12">
                <div class="main-heading">
                </div>
                <div class="doc-iframe-outer">
                    <iframe [src]="docpath" style="text-align: center;" height="500px" width="400px"></iframe>
                </div>
            </div>
            <div class="doc-popftr" *ngIf="isEditingAllowed">
                <div class="doc-popftr-inside">
                    <div class="doc-popup-dwnload-icon">
                        <a [href]="docpath" target="_blank" [download]="filePathUrl">
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                    <div class="doc-popup-select-drop">
                        <dx-select-box (onValueChanged)="selectDoc($event)" [dataSource]="showDocumentData"
                            valueExpr="DocumentGUID" displayExpr="DocumentName" value="DocumentGUID"
                            [value]="selectedDropdown">
                        </dx-select-box>
                    </div>
                    <div class="doc-popup-ad-btn">
                        <a href="javascript:void(0);" (click)="addDocument()">
                            <i aria-hidden="true" class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</dx-popup>

<!-- Add Document Modal -->
<div class="addDocumentModal">

    <dx-popup class="popup" [width]="800" [height]="400" [showTitle]="true" title="Add Document" [dragEnabled]="false"
        [closeOnOutsideClick]="true" [(visible)]="popupVisibleAddDoc">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view [height]="400" showScrollbar="always" direction="both">

                <form action="your-action" (submit)="onFormSubmitDocAdd(addNewDocument)">
                    <dx-form id="form" [formData]="addNewDocument" [readOnly]="false" [showColonAfterLabel]="true"
                        [showValidationSummary]="true" validationGroup="customerData">

                        <dxi-item dataField="DocumentDate" editorType="dxDateBox">
                            <dxo-label text="Document Date"></dxo-label>
                            <dxi-validation-rule type="required" message="Employee Name is required">
                            </dxi-validation-rule>
                        </dxi-item>

                        <dxi-item dataField="DocumentType" editorType="dxSelectBox"
                            [editorOptions]="{ dataSource : documentTypeList , displayExpr: 'text', valueExpr: 'id' }">
                        </dxi-item>

                        <dxi-item dataField="DocumentName" caption="Document Name">
                            <dxi-validation-rule type="required" message="Employee Name is required">
                            </dxi-validation-rule>
                        </dxi-item>

                        <dxi-item dataField="DocumentFilePath" caption="File Path">
                            <dxo-label text="File Path">
                            </dxo-label>
                            <dx-file-uploader selectButtonText="Select File" labelText=""
                                accept="image/*,application/pdf" [multiple]="true" uploadMode="useForm"
                                (onValueChanged)="onImageSelectDoc($event)" reset="resetUploader">
                            </dx-file-uploader>
                        </dxi-item>

                    </dx-form>
                    <br />
                    <div class="btn-grp-wrap">
                        <dx-button text="Add" type="success" validationGroup="customerData" [useSubmitBehavior]="true">
                        </dx-button>
                        <dx-button text="Cancel" (onClick)="cancelDeleteVoucher()">
                        </dx-button>
                    </div>
                </form>

                <ngx-loading [show]="addDocPopupLoading"></ngx-loading>
            </dx-scroll-view>
        </div>
    </dx-popup>
</div>

<!-- Add Employee Model -->
<dx-popup class="popup add-emp-popup" [width]="800" [minHeight]="600" [showTitle]="true" title="Add Employee"
    [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="popupAddEmployeeInfoVisible">

    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view [height]="500" showScrollbar="always" direction="both">

            <form action="your-action" (submit)="AddEmployeeDetails(empGeneral)">
                <dx-form id="form" [formData]="empGeneral" [colCount]="2" [readOnly]="false"
                    [showColonAfterLabel]="true" [showValidationSummary]="true" validationGroup="addGeneralDetails"
                    (onFieldDataChanged)="onFieldDataChanged($event)">

                    <dxi-item dataField="EmployeeName">
                        <dxi-validation-rule type="required" message="Employee Name is required">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="pattern" [pattern]="namePattern"
                            message="Do not use digits in the Name"></dxi-validation-rule>
                        <dxi-validation-rule type="stringLength" [min]="2" message="Name must have at least 2 symbols">
                        </dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="FatherName">
                        <dxi-validation-rule type="required" message="Father Name is required">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="pattern" [pattern]="namePattern"
                            message="Do not use digits in the Name"></dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="SexId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: sexTypes, displayExpr: 'SexName', valueExpr: 'SexId'  }">
                        <dxo-label text="Sex"></dxo-label>
                        <!-- <dxi-validation-rule type="required" message="Sex is required">
                        </dxi-validation-rule> -->
                    </dxi-item>

                    <dxi-item dataField="DateOfBirth" editorType="dxDateBox"
                        [editorOptions]="{ type: 'date', max : maxDate , min : minDate, displayFormat: 'dd/MM/yyyy' }">
                    </dxi-item>

                    <dxi-item dataField="Email">
                        <dxi-validation-rule type="required" message="Email is required">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="email"></dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="TinNumber">
                        <dxi-validation-rule type="required">
                        </dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="Phone" editorType="dxNumberBox"
                        [editorOptions]="{  mode: 'number', minLength:10, maxLength: 14}">
                        <dxi-validation-rule type="custom"
                            [validationCallback]="validateRange(1000000000, 99999999999999)" message="Out of range">
                        </dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="ProfessionId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: professionTypeDropdown, displayExpr: 'ProfessionName', valueExpr: 'ProfessionId' }">
                        <dxo-label text="Profession"></dxo-label>
                        <!-- <dxi-validation-rule type="required">
                        </dxi-validation-rule> -->
                    </dxi-item>

                    <dxi-item dataField="OfficeId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: officecodelist, displayExpr: 'OfficeName', valueExpr: 'Office', value : Office, readOnly : true }">
                        <dxo-label text="Office"></dxo-label>
                        <!-- <dxi-validation-rule type="required">
                        </dxi-validation-rule> -->
                    </dxi-item>

                    <dxi-item dataField="CountryId">
                        <dxo-label text="Country"></dxo-label>
                        <dx-select-box (onValueChanged)="getStateType($event.value)"
                            [(dataSource)]="countryTypeDropdown" valueExpr="CountryId" searchEnabled="true"
                            [(value)]="CountryId" displayExpr="CountryName">
                        </dx-select-box>
                        <dxi-validation-rule type="required" message="Country is required">
                        </dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="ProvinceId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: stateTypeDropdown, displayExpr: 'ProvinceName', valueExpr: 'ProvinceId', searchEnabled: true }">
                        <dxo-label text="State"></dxo-label>
                        <!-- <dxi-validation-rule type="required" message="ProvinceId is required">
                        </dxi-validation-rule> -->
                    </dxi-item>

                    <dxi-item dataField="PermanentAddress" editorType="dxTextArea" [editorOptions]="{height: 100}">
                    </dxi-item>

                    <dxi-item dataField="CurrentAddress" editorType="dxTextArea" [editorOptions]="{height: 100}">
                    </dxi-item>

                    <dxi-item dataField="MaritalStatus" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: maritalStatusDropdown, displayExpr: 'MaritalStatusName', valueExpr: 'MaritalStatusId'  }">
                        <dxo-label text="Marital Status"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="BirthPlace">
                    </dxi-item>

                    <dxi-item dataField="City">
                    </dxi-item>

                    <dxi-item dataField="PassportNo">
                    </dxi-item>

                    <dxi-item dataField="University">
                    </dxi-item>

                    <dxi-item dataField="HigherQualificationId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: qualificationTypeDropdown, displayExpr: 'QualificationName', valueExpr: 'QualificationId'  }">
                        <dxo-label text="Qualification"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="ExperienceYear" editorType="dxNumberBox" dataType="number"
                        [editorOptions]="{ max: 100, min: 0 }">
                    </dxi-item>

                    <dxi-item dataField="ExperienceMonth" editorType="dxNumberBox" dataType="number"
                        [editorOptions]="{ max: 12, min: 0 }">
                    </dxi-item>

                    <dxi-item dataField="PreviousWork">
                    </dxi-item>

                    <dxi-item dataField="IssuePlace">
                    </dxi-item>

                    <dxi-item dataField="ReferBy">
                    </dxi-item>



                </dx-form>

                <div class="btn-grp-wrap">
                    <dx-button text="Save" type="success" validationGroup="addGeneralDetails"
                        [useSubmitBehavior]="true"></dx-button>
                    <dx-button text="Cancel" (click)="closeEmployeeForm()"></dx-button>
                </div>
            </form>

        </dx-scroll-view>
        <ngx-loading [show]="addEmployeePopupLoading" [config]="{ backdropBackgroundColour:'rgba(0,0,0,0.07)' }">
        </ngx-loading>

    </div>
</dx-popup>

<!-- Image Update Conformation Model -->
<dx-popup class="popup" [width]="600" [height]="300" [showTitle]="true" title="Update Profile" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupImageUpdateVisible">

    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view [height]="350" showScrollbar="always" direction="both">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <img src="{{imageURL}}" height="100px" width="100px" alt="Profile Image" />
                </div>
            </div>
            <div class="text-center">Do you wanna Update Profile Image ?</div>
            <div class="btn-grp-wrap">
                <dx-button text="Save" type="success" (click)="ChangeEmployeeImage()"
                    validationGroup="imgGeneralDetails" [useSubmitBehavior]="true"></dx-button>
                <dx-button text="Cancel" [useSubmitBehavior]="false" (click)="closeImageUpdateForm()"></dx-button>
            </div>

            <ngx-loading [show]="profileImageChangePopupLoading"
                [config]="{ backdropBackgroundColour:'rgba(0,0,0,0.07)' }"></ngx-loading>
        </dx-scroll-view>
    </div>
</dx-popup>

<!-- Edit Employee Info Model -->
<dx-popup class="popup" [width]="800" [minHeight]="600" [showTitle]="true" title="Edit Employee" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupEmployeeInfoVisible">

    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view [height]="500" showScrollbar="always" direction="both">
            <form action="your-action" (submit)="EditEmployeeDetails(editGeneralShowData)">
                <dx-form id="form" [formData]="editGeneralShowData" [colCount]="2" [readOnly]="false"
                    [showColonAfterLabel]="true" [showValidationSummary]="true" validationGroup="editGeneralDetails"
                    (onFieldDataChanged)="onFieldDataChanged($event)">

                    <dxi-item dataField="EmployeeName">
                        <dxi-validation-rule type="required" message="Employee Name is required">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="pattern" [pattern]="namePattern"
                            message="Do not use digits in the Name"></dxi-validation-rule>
                        <dxi-validation-rule type="stringLength" [min]="2" message="Name must have at least 2 symbols">
                        </dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="FatherName">
                        <dxi-validation-rule type="required" message="Father Name is required">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="pattern" [pattern]="namePattern"
                            message="Do not use digits in the Name"></dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="SexId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: sexTypes, displayExpr: 'SexName', valueExpr: 'SexId'  }">
                        <dxo-label text="Sex"></dxo-label>
                        <!-- <dxi-validation-rule type="required" message="Sex is required">
                        </dxi-validation-rule> -->
                    </dxi-item>

                    <dxi-item dataField="DateOfBirth" editorType="dxDateBox"
                        [editorOptions]="{ type: 'date', max : maxDate , min : minDate, displayFormat: 'dd/MM/yyyy' }">

                    </dxi-item>

                    <dxi-item dataField="Email">
                        <dxi-validation-rule type="required" message="Email is required">
                        </dxi-validation-rule>
                        <dxi-validation-rule type="email"></dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="TinNumber">
                        <dxi-validation-rule type="required">
                        </dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="CountryId">
                        <dxo-label text="Country"></dxo-label>
                        <dx-select-box (onValueChanged)="getStateType($event.value)"
                            [(dataSource)]="countryTypeDropdown" valueExpr="CountryId" [(value)]="CountryId"
                            displayExpr="CountryName">
                        </dx-select-box>
                        <!-- <dxi-validation-rule type="required" message="Country is required">
                        </dxi-validation-rule> -->
                    </dxi-item>

                    <dxi-item dataField="ProvinceId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: stateTypeDropdown, displayExpr: 'ProvinceName', valueExpr: 'ProvinceId' }">
                        <dxo-label text="State"></dxo-label>
                        <!-- <dxi-validation-rule type="required" message="ProvinceId is required">
                        </dxi-validation-rule> -->
                    </dxi-item>

                    <dxi-item dataField="Phone" editorType="dxNumberBox"
                        [editorOptions]="{  mode: 'number', minLength:10, maxLength: 14}">
                        <dxi-validation-rule type="custom"
                            [validationCallback]="validateRange(1000000000, 99999999999999)" message="Out of range">
                        </dxi-validation-rule>
                    </dxi-item>

                    <dxi-item dataField="City">
                    </dxi-item>

                    <dxi-item dataField="PermanentAddress">
                    </dxi-item>

                    <dxi-item dataField="CurrentAddress">
                    </dxi-item>

                    <dxi-item dataField="MaritalStatus" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: maritalStatusDropdown, displayExpr: 'MaritalStatusName', valueExpr: 'MaritalStatusId'  }">
                        <dxo-label text="Marital Status"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="BirthPlace">
                    </dxi-item>

                    <dxi-item dataField="PassportNo">
                    </dxi-item>

                    <dxi-item dataField="University">
                    </dxi-item>

                    <dxi-item dataField="HigherQualificationId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: qualificationTypeDropdown, displayExpr: 'QualificationName', valueExpr: 'QualificationId'  }">
                        <dxo-label text="Qualification"></dxo-label>
                    </dxi-item>

                    <dxi-item dataField="ProfessionId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: professionTypeDropdown, displayExpr: 'ProfessionName', valueExpr: 'ProfessionId'  }">
                        <dxo-label text="Profession"></dxo-label>
                        <!-- <dxi-validation-rule type="required"> </dxi-validation-rule> -->
                    </dxi-item>

                    <dxi-item dataField="ExperienceYear" editorType="dxNumberBox" dataType="number"
                        [editorOptions]="{ max: 100, min: 0 }">
                    </dxi-item>

                    <dxi-item dataField="ExperienceMonth" editorType="dxNumberBox" dataType="number"
                        [editorOptions]="{ max: 12, min: 0 }">
                    </dxi-item>

                    <dxi-item dataField="PreviousWork">
                    </dxi-item>

                    <dxi-item dataField="IssuePlace">
                    </dxi-item>

                    <dxi-item dataField="ReferBy" [colSpan]="2">
                    </dxi-item>

                </dx-form>
                <div class="btn-grp-wrap">
                    <dx-button text="Save" type="success" validationGroup="editGeneralDetails"
                        [useSubmitBehavior]="true"></dx-button>
                    <dx-button text="Cancel" (click)="closeForm()"></dx-button>
                </div>
                <br>
            </form>
        </dx-scroll-view>
        <ngx-loading [show]="editEmployeePopupLoading" [config]="{ backdropBackgroundColour:'rgba(0,0,0,0.07)' }">
        </ngx-loading>

    </div>
</dx-popup>

<!-- Assign Leave -->
<dx-popup class="popup" [width]="850" [height]="400" [showTitle]="true" title="Assign Leave" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupAssignLeaveVisible">

    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view showScrollbar="always" direction="both">

            <div class="row">
                <div class="col-sm-12">
                    <dx-button text="Save Leaves" type="success" (click)="saveEmployeeLeave()"></dx-button>
                    <br>
                    <dx-data-grid id="gridContainer" [dataSource]="leaveReasonTypeDropdown"
                        [allowColumnReordering]="true" [allowColumnResizing]="true" [columnAutoWidth]="true"
                        (onSelectionChanged)="selectionChangedHandler($event)"
                        (onRowUpdating)="onRowUpdateAssignLeaveEvent($event)" [showRowLines]="true">
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true">
                        </dxo-pager>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>

                        <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple">
                        </dxo-selection>

                        <dxo-editing mode="batch" [allowUpdating]="true"> </dxo-editing>
                        <dxi-column dataField="LeaveReasonId" [visible]="false"></dxi-column>
                        <dxi-column dataField="ReasonName" [editorOptions]="{disabled: true}"></dxi-column>
                        <dxi-column [width]="100" dataField="Unit" [editorOptions]="{disabled: true}">
                        </dxi-column>
                        <dxi-column [width]="100" dataField="AssignUnit">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-column>
                    </dx-data-grid>
                    <br>
                    <br>
                    <br>

                    <ngx-loading [show]="addEmployeePopupLoading"
                        [config]="{ backdropBackgroundColour:'rgba(0,0,0,0.07)' }"></ngx-loading>
                </div>
            </div>
        </dx-scroll-view>
    </div>

</dx-popup>