.main-heading{
  letter-spacing: 2px;
}
.sub-heading{
  margin-top: 20px;;
}
.margin_top_8{
  margin-top: 8px;
}
.margin_top_1{
  margin-top: 1px;
}
.margin_left_25{
  margin-left: 25px;
}
.letter_spacing_1{
  letter-spacing: 1px;
}
.font_weight_600{
  font-weight: 600;
}
.mycontent-right {
  border-right: 1px solid gray;
}
.icon_color_yellow{
  color: darkgoldenrod;
}
.icon_color_red{
  color: #8b0000;
}
