<lib-sub-header-template [headerClass]="'sub_header_template_main1'">
    <span class="action_header">
  New Employee Form
  <hum-button
    [type]="'save'"
    [text]="'Save '"
    [isSubmit]="true"
  ></hum-button>
  <hum-button
    [type]="'cancel'"
    [text]="'Cancel'"
  ></hum-button>
</span>
    <div class="action_section"></div>
</lib-sub-header-template>
<mat-card humAddScroll>
    <div class="row">
        <div class="col-md-12">
            <mat-tab-group>
                <mat-tab label="General">

                </mat-tab>
                <mat-tab label="Profesional Details">
                </mat-tab>
                <mat-tab label="Opening Pension">
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</mat-card>