<div *ngIf="(this.totalCost<=199)">
    <app-purchase-order [requestId]="requestId" [requestStatus]="requestStatus" [totalCost]="this.totalCost" [comparativeStatus]="comparativeStatus" [requestedItems]="requestedItems" (selectedItemChange)='selectedPurchaseItemChange($event)' (StatusChange)="StatusEmit($event)" [goodsNoteSubmitted]="goodsNoteSubmitted"></app-purchase-order>
</div>

<div *ngIf="(this.totalCost>=200 && this.totalCost<=9999)">
  <app-comparative-statement [requestStatus]="requestStatus" [totalCost]="this.totalCost" [comparativeStatus]="comparativeStatus" [requestedItems]="requestedItems" (comparativeStatusChange)="comparativeStatusEmit($event)" (StatusChange)="StatusEmit($event)" (selectedItemChange)='selectedPurchaseItemChange($event)'></app-comparative-statement>
</div>

<div *ngIf="(this.totalCost>=10000 && this.totalCost<=59999)">
  <app-tender-statement [requestStatus]="requestStatus" [totalCost]="this.totalCost"></app-tender-statement>
</div>
