.icon_align{
  font-size: 13em;
  margin-left: 27%;
}
.icon_color_pending{
  color: gray;
}
.icon_color_cancel{
  color: #8b0000;
}
.letter_spacing_2{
  letter-spacing: 2px;
}
.icon_color_yellow{
  color: darkgoldenrod;
}
