<div class="row">
    <div class="col-sm-12">
      <mat-card>
          <div class="row">
              <div class="col-sm-6">
                  <!-- <span (click)="onHideDetailPanel()"><i title="Back to List" class="fas fa-arrow-left"></i></span> -->
              </div>
              <div class="col-sm-6">
                  <div *ngIf="archiveButton" class="col-sm -6 pull-right">
                      <button pTooltip="Archive"
                      tooltipPosition="top"
                        (click)="DeleteTimeCategory(timeCategoryId)"
                        color="warn"
                        mat-icon-button
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  <!-- <div *ngIf="archiveButton" class="col-sm-6"><a class="pull-right" (click)="DeleteTimeCategory(timeCategoryId)">Archive</a></div> -->
              </div>
            </div>
            <form [formGroup]="timeCategoryDetailsForm">
                <div class="row">
                    <div
                    *ngIf="timeCategoryDetailsLoaderFlag; else timeCategoryDetailsTemplate"
                    class="col-sm-12"
                  ><br/>
                    <mat-spinner
                      class="center_loader"
                      diameter="50"
                    ></mat-spinner>
                  </div>
               <ng-template #timeCategoryDetailsTemplate>
                  <div class="col-sm-12">
                      <div class="col-sm-6">
                        <!-- <label>Time Category</label> -->
                        <mat-form-field class="example-full-width">
                        <input (change)="onChange(timeCategoryName.value)" #timeCategoryName formControlName="timeCategoryName"
                        matInput name="timeCategoryName" placeholder="Time Category"/>
                        </mat-form-field>
                      </div>
                  </div>
               </ng-template>
                </div>
            </form>
        </mat-card>
        </div>
        </div>



