<div>
  <h1 mat-dialog-title>
    Hiring Request
    <button mat-icon-button [mat-dialog-close] class="pull-right">
      <mat-icon aria-label="clear">clear</mat-icon>
    </button>
  </h1>
  <form
    class="example-form"
    [formGroup]="addHiringRequestForm"
    (ngSubmit)="onFormSubmit(addHiringRequestForm.value)"
  >
    <div mat-dialog-content>
      <div class="row">
        <div class="col-sm-12">
          <div class="row">

            <div class="col-lg-6 col-sm-6">
              <lib-hum-dropdown
                formControlName="Office"
                [validation]="
                  addHiringRequestForm.controls['Office'].hasError('required')
                "
                [options]="officeList$"
                [placeHolder]="'Duty Station'"
                (change)="onChangeDutyStation($event)"
              ></lib-hum-dropdown>
            </div>

            <div class="col-lg-6 col-sm-6">
                <lib-hum-dropdown
                  formControlName="Position"
                  [validation]="
                    addHiringRequestForm.controls['Position'].hasError('required')
                  "
                  [options]="professionList$"
                  [placeHolder]="'Position'"
                  (change)="onChangePosition($event)"
                ></lib-hum-dropdown>
              </div>

            <div class="col-lg-6 col-sm-6">
              <lib-hum-dropdown
                formControlName="JobCategory"
                [validation]="
                  addHiringRequestForm.controls['JobCategory'].hasError('required')
                "
                [options]="jobList$"
                [placeHolder]="'Job Category'"
                (change)="onChangeJobCategory($event)"
              ></lib-hum-dropdown>
            </div>

            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="MinEducationLevel"
                  placeholder="Minimum Education Level"
                />
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput type = "number" min="1" max="AvailableVacancies"
                  formControlName="TotalVacancy"
                  placeholder="Vacancies (Jobs Availability {{AvailableVacancies}})"
                />
                <mat-error *ngIf="addHiringRequestForm.controls['TotalVacancy'].hasError(max)">
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="Organization"
                  placeholder="Organization"
                />
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="ContractType"
                  placeholder="Contract Type"
                />
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="ContractDuration"
                  placeholder="Contract Duration (Month)"
                  type="number"
                />
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <lib-hum-dropdown
                formControlName="Gender"
                [validation]="
                  addHiringRequestForm.controls['Gender'].hasError('required')
                "
                [options]="genderList$"
                [placeHolder]="'Gender'"
              ></lib-hum-dropdown>
            </div>

            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="SalaryRange"
                  placeholder="Salary Range"
                />
              </mat-form-field>
            </div>

            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [matDatepicker]="AnouncingDatePicker"
                  placeholder="Anouncing Date"
                  formControlName="AnouncingDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="AnouncingDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #AnouncingDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  [matDatepicker]="ClosingDatePicker"
                  placeholder="Closing Date"
                  formControlName="ClosingDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="ClosingDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #ClosingDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
                <lib-hum-dropdown
                  formControlName="Country"
                  [validation]="
                    addHiringRequestForm.controls['Country'].hasError('required')
                  "
                  [options]="countryList$"
                  [placeHolder]="'Country'"
                  (change)="onChangeCountry($event)"
                ></lib-hum-dropdown>
              </div>

              <div class="col-lg-6 col-sm-6">
                  <lib-hum-dropdown
                    formControlName="Province"
                    [validation]="
                      addHiringRequestForm.controls['Province'].hasError('required')
                    "
                    [options]="provinceList$"
                    [placeHolder]="'Province'"
                  ></lib-hum-dropdown>
                </div>
            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="JobType"
                  placeholder="Job Type"
                />
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <lib-hum-dropdown
                formControlName="JobShift"
                [validation]="
                  addHiringRequestForm.controls['JobShift'].hasError('required')
                "
                [options]="jobShiftList$"
                [placeHolder]="'Shift'"
              ></lib-hum-dropdown>
            </div>
            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="JobStatus"
                  placeholder="Job Status"
                />
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-sm-6">
              <lib-hum-dropdown
                formControlName="Nationality"
                [validation]="
                  addHiringRequestForm.controls['Nationality'].hasError('required')
                "
                [options]="countryList$"
                [placeHolder]="'Nationality'"
              ></lib-hum-dropdown>
            </div>
            <div class="col-lg-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  formControlName="Experience"
                  placeholder="Experience"
                />
              </mat-form-field>
            </div>
            <div class="col-lg-12 col-sm-12">
              <mat-form-field class="example-full-width">
                <textarea
                  matInput
                  formControlName="Background"
                  placeholder="Background"
                  matTextareaAutosize
                  matAutosizeMinRows="5"
                  matAutosizeMaxRows="7"
                ></textarea>
              </mat-form-field>
            </div>
            <div class="col-lg-12 col-sm-12">
              <mat-form-field class="example-full-width">
                <textarea
                  matInput
                  formControlName="SpecificDutiesAndResponsibilities"
                  placeholder="Specific Duties And Responsibilities"
                  matTextareaAutosize
                  matAutosizeMinRows="5"
                  matAutosizeMaxRows="7"
                ></textarea>
              </mat-form-field>
            </div>
            <div class="col-lg-12 col-sm-12">
              <mat-form-field class="example-full-width">
                <textarea
                  matInput
                  formControlName="KnowledgeAndSkillsRequired"
                  placeholder="Knowledge And Skills Required"
                  matTextareaAutosize
                  matAutosizeMinRows="5"
                  matAutosizeMaxRows="7"
                ></textarea>
              </mat-form-field>
            </div>
            <div class="col-lg-12 col-sm-12">
              <mat-form-field class="example-full-width">
                <textarea
                  matInput
                  formControlName="SubmissionGuidelines"
                  placeholder="Submission Guidelines"
                  matTextareaAutosize
                  matAutosizeMinRows="5"
                  matAutosizeMaxRows="7"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="pull-right">
      <!-- <button mat-raised-button [mat-dialog-close]>Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button> -->
      <hum-button [type]="'save'" [text]="'save'" [isSubmit]="true"></hum-button>
      <hum-button (click)='onCancelPopup()' [type]="'cancel'" [text]="'cancel'"></hum-button>
    </div>
  </form>
</div>
