<h2 mat-dialog-title>Upload Document</h2>
<form [formGroup]="addDocumentForm" (ngSubmit)="submitAddDocument()">
    <mat-dialog-content class="mat-typography">
        <div class="row">
          <div class="col-sm-6">
              <button mat-raised-button (click)="openInput()">Select File to Upload</button>
    <input id="fileInput" style="display:none" hidden type="file" (change)="fileChange($event.target.files)" name="file">
          </div>
          <div class="col-sm-6">
                <lib-hum-dropdown [validation]="addDocumentForm.controls['documentType'].hasError('required')"
                  [options]="documentTypes$" formControlName='documentType' [placeHolder]="'Document Type'"
                  ></lib-hum-dropdown>
          </div>
        </div>

      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit" cdkFocusInitial>Save</button>
      </mat-dialog-actions>
</form>

