.fnt-label-size {
  font-size: 16px !important;
  color:#0390D1;
}
.font-size{
  font-size:12px;
}
.cdk-overlay-pane {
  left: 790px !important;
}
::ng-deep .monthMenu {
  height: 200px;
  margin-left: 10px;
}
::ng-deep .officeCustomStyle .mat-select-value-text span {
  color: #0390D1;
  text-transform: uppercase;
}
