<lib-sub-header-template [headerClass]="'sub_header_template_main2'">
    <span class="action_header">Employees
        <hum-button [type]="'add'" [text]="'ADD EMPLOYEE'" routerLink="/hr/addEmployee"></hum-button>
        <!-- <hum-button [type]="'delete'" [text]="'DELETE EMPLOYEE'" (click)="deleteEmployee()"></hum-button> -->
        <!-- <button mat-button [matMenuTriggerFor]="OfficeMenu">
            <h5 style="color: #0390D1;">{{selectedOffice.name | uppercase}} &nbsp;<i class="fas fa-caret-down"></i></h5>
        </button> -->
        <mat-select class="officeCustomStyle" placeholder="Offices" [formControl]="Office" multiple style="width:10%; font-size: 14px;">
          <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>
          <mat-option *ngFor="let office of officeDropdown" [value]="office.OfficeId" (click)="togglePerOne(allSelected.viewValue)">
            {{office.OfficeName}}
          </mat-option>
        </mat-select>
        <button mat-button [disabled]="(this.selection.selected.length === 0)" (click)="setAttendance(picker)">
            <h5 [ngStyle]="{'color':  (this.selection.selected.length === 0) ? 'inherit' : '#0390D1' }">SET ATTENDANCE
            </h5>
        </button>
        <mat-form-field style="width:1px;visibility:hidden;">
            <!-- <input matInput [matDatepicker]="picker" (dateChange)="onDateChanged($event)"> -->
            <!-- <mat-datepicker #picker ></mat-datepicker> -->
            <input matInput [satDatepicker]="picker"
                (dateChange)="onDateChanged($event)">
            <sat-datepicker #picker [rangeMode]="true">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
        </mat-form-field>

        <button mat-button [disabled]="(this.selection.selected.length === 0)"
            [matMenuTriggerFor]="SalaryReconfigureMenu">
            <h5 [ngStyle]="{'color':  (this.selection.selected.length === 0) ? 'inherit' : '#0390D1' }">RECONFIGURE
                SALARY &nbsp;<i class="fas fa-caret-down"></i></h5>
        </button>
        <button *ngIf="!isLoading" mat-button [disabled]="(this.selection.selected.length != 0)"
            (click)="createAllEmployeesToUser()" matTooltip="Create all employees to users">
            <h5 [ngStyle]="{'color':  (this.selection.selected.length != 0) ? 'inherit' : '#0390D1' }">CREATE USERS</h5>
        </button>
        <label *ngIf="isLoading">

            <h5>
                <mat-spinner style="position: absolute !important;" [diameter]="15"></mat-spinner><span
                    style="margin-left:20px;">CREATING USERS</span>
            </h5>
        </label>
        <button mat-button [disabled]="(this.selection.selected.length === 0)" [matMenuTriggerFor]="AdministerSalaryMenu">
          <h5 [ngStyle]="{'color':  (this.selection.selected.length === 0) ? 'inherit' : '#0390D1' }">ADMINISTER PAYROLL &nbsp;<i class="fas fa-caret-down"></i></h5>
        </button>
        <button mat-button [disabled]="disableExportPdf()" [matMenuTriggerFor]="PayrollExcelMenu">
          <h5 [ngStyle]="{'color':  disableExportPdf() ? 'inherit' : '#0390D1' }">EXPORT PAYROLL &nbsp;<i class="fas fa-caret-down"></i></h5>
        </button>
        <!-- <mat-menu #OfficeMenu="matMenu">
            <button (click)="selectedOfficeChanged(office)" *ngFor="let office of officeDropdown$ | async"
                mat-menu-item>{{office.name}}</button>
        </mat-menu> -->
        <mat-menu #SalaryReconfigureMenu="matMenu">
            <button (click)="setFixedSalary()" mat-menu-item>Set a Fixed Salary</button>
            <button (click)="incrementDecrementSalary()" mat-menu-item>Increment/Decrement Salary</button>
        </mat-menu>
        <mat-menu #AdministerSalaryMenu="matMenu" class="monthMenu">
            <button (click)="administerPayroll(item.value, item.name)" mat-menu-item *ngFor="let item of MonthsList$ | async">{{item.name}}</button>
        </mat-menu>
        <mat-menu #PayrollExcelMenu="matMenu" class="monthMenu">
          <button (click)="exportPayrollExcel(item.value, item.name)" mat-menu-item *ngFor="let item of MonthsList$ | async">{{item.name}}</button>
      </mat-menu>
    </span>
    <div class="action_section">
    </div>

</lib-sub-header-template>
<mat-divider></mat-divider>

<div class="container-fluid">
    <form [formGroup]="employeeListFilterForm" (ngSubmit)="filterEmployee(employeeListFilterForm.value)">
        <h4>Filters
            <hum-button class="pull-right" [type]="'filter'" [text]="'APPLY FILTER'" [isSubmit]="true"></hum-button>
            <hum-button class="pull-right" [type]="'reset'" [text]="'RESET FILTER'" (click)="resetFilter()">
            </hum-button>
        </h4>
        <div class="row">
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" formControlName="Name" placeholder="Name">
                </mat-form-field>
            </div>
            <!-- <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="LastName" placeholder="Last Name">
        </mat-form-field>
      </div> -->
            <div class="col-md-2">
                <lib-hum-dropdown formControlName="Sex" [validation]="
        employeeListFilterForm.controls['Sex'].hasError()" [options]="genderList$" [placeHolder]="'Sex'">
                </lib-hum-dropdown>
            </div>
            <div class="col-md-2">
                <lib-hum-dropdown formControlName="EmploymentStatus" [validation]="
        employeeListFilterForm.controls['EmploymentStatus'].hasError()" [options]="accountStatusList$"
                    [placeHolder]="'Employment Status'"></lib-hum-dropdown>
            </div>
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" formControlName="EmployeeId" placeholder="EmployeeId">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div class="row" humAddScroll [height]="250">
    <div class="col-md-12">
        <mat-table #table [dataSource]="employeeDataSource">
            <ng-container matColumnDef="select">
                <th style="border-bottom-width:0px" mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td style="border-bottom-width:0px" mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="Code">
                <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Code}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="FatherName">
                <mat-header-cell *matHeaderCellDef> Father Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.FatherName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Designation">
              <mat-header-cell *matHeaderCellDef> Designation </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Designation}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Sex">
              <mat-header-cell *matHeaderCellDef> Sex </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Sex}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="EmploymentStatus">
                <mat-header-cell *matHeaderCellDef> Employment Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.EmploymentStatus}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="CreatedDate">
                <mat-header-cell *matHeaderCellDef> Created Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.CreatedDate}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="HiredDate">
              <mat-header-cell *matHeaderCellDef> Hired Date </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.HiredDate}}
              </mat-cell>
          </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToDetails(row)"></mat-row>
        </mat-table>
        <mat-paginator [length]="TotalCount" [pageSize]="filterModel.PageSize" [pageIndex]="filterModel.PageIndex"
            [pageSizeOptions]="[10, 25, 50, 100]" (page)="pageEvent($event)"></mat-paginator>
    </div>
</div>
