<div>
  <h1 mat-dialog-title> Generator Usage Form</h1>
  <div mat-dialog-subtitle>Please enter number of Hours the Generator has been used.</div>
  <div mat-dialog-subtitle><b>Note:</b> User may provide a negative value if the generator's total incurred usage needs
    to be reduced for some reason.</div>
  <br />
  <form [formGroup]="addUsageHourForm" (ngSubmit)="addHours()">


    <mat-dialog-content>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput type="number" placeholder="Usage(Hours)" formControlName="Hours">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="Month" placeholder="Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker (monthSelected)="monthSelected($event)" startView="multi-year"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="items-float-right">
      <hum-button *ngIf="!isAddUsageHourFormSubmitted" [disabled]="!addUsageHourForm.valid" [type]="'save'" [text]="'save'" [isSubmit]='true'></hum-button>
      <hum-button *ngIf="isAddUsageHourFormSubmitted" [type]="'loading'" [text]="'Saving....'"></hum-button>
      <hum-button (click)='onCancelPopup()' [type]="'cancel'" [text]="'cancel'"></hum-button>
    </mat-dialog-actions>

  </form>
</div>
