<div class="row">
  <div class="col-md-12">
    <h3 class="letter_spacing_1">Purchase Final Cost</h3>
    <span class="font_14">Please specify the final cost for this item purchase</span>
    <table class="table table-striped" style="width:100%;margin-top: 35px;">
        <tr>
          <td class="font_weight_600">Item Code</td>
          <td>{{data.ItemCode}}</td>
        </tr>
        <tr>
          <td class="font_weight_600">Item Name</td>
          <td>{{data.ItemName}}</td>
        </tr>
        <tr>
          <td class="font_weight_600">Requested Units</td>
          <td>{{data.RequestedUnits}}</td>
        </tr>
    </table>
    <form [formGroup]="finalCostForm">
      <mat-form-field class="example-full-width">
          <input matInput type="number" formControlName="FinalUnitCost" placeholder="Final Cost">
      </mat-form-field>
      <hum-button  (click)="submitFinalCost()" [type]="'save'" [text]="'Save'"></hum-button>
      <hum-button  (click)="closePopup()" [type]="'cancel'" [text]="'Cancel'"></hum-button>
    </form>
  </div>
</div>
