<div class="container">
  <form [formGroup]="purchaseFormFilters">


  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <lib-hum-dropdown [options]="inventoryType$" [formControl]="InventoryType" [placeHolder]="'Inventory'" (change)="getSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
        <lib-hum-dropdown [options]="animals" [formControl]="ReceiptType" [placeHolder]="'Receipt Type'" (change)="getSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
          <lib-hum-dropdown [options]="animals" [formControl]="OfficeId" [placeHolder]="'Office'" (change)="getSelectedValue($event)"></lib-hum-dropdown>
        </div>
      <div class="col-md-3">
          <lib-hum-dropdown [options]="animals" [formControl]="CurrencyId" [placeHolder]="'Currency'" (change)="getSelectedValue($event)"></lib-hum-dropdown>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
          <lib-hum-dropdown [options]="animals" [formControl]="ProjectId" [placeHolder]="'Project'" (change)="getSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
          <lib-hum-dropdown [options]="animals" [formControl]="JobId" [placeHolder]="'Job'" (change)="getSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
          <mat-form-field>
              <input matInput [formControl]="DateOfPurchase" [matDatepicker]="DateOfPurchase" placeholder="Date of Purchase">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
      </div>
      <div class="col-md-3">
          <mat-form-field>
              <input matInput [formControl]="DateOfIssue" [matDatepicker]="DateOfIssue" placeholder="Date of Issue">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
          <lib-hum-dropdown [options]="animals" [formControl]="InventoryMaster" [placeHolder]="'Inventory(Master)'" (change)="getSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
          <lib-hum-dropdown [options]="animals" [formControl]="ItemGroup" [placeHolder]="'Item Group'" (change)="getSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
          <lib-hum-dropdown [options]="animals" [formControl]="Item" [placeHolder]="'Item'" (change)="getSelectedValue($event)"></lib-hum-dropdown>
      </div>
    </div>
  </div>
</form>
</div>

