<lib-sub-header-template>
  <span class="action_header">Add a new purchase
    <span> <a>Save</a> </span>
    <span> <a>Cancel</a> </span>
  </span>
  <div class="action_section">
  </div>
</lib-sub-header-template>
<div class="container">
  <div class="row">
    Item Detail
    <div class="col-md-12">
      <div class="col-md-4"> Test </div>
      <div class="col-md-4"> Test </div>
      <div class="col-md-4"> Test </div>
    </div>
  </div>
  <div class="row">
    Item Detail
    <div class="col-md-12">
      <div class="col-md-4">
        <lib-hum-dropdown [options]="animals" [formControl]="animalControl" [placeHolder]="'placeholder'" (change)="getSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-4">
        <lib-hum-dropdown [options]="animals" [formControl]="animalControl" [placeHolder]="'placeholder'"></lib-hum-dropdown>
      </div>
      <div class="col-md-4">
        <lib-hum-dropdown [options]="animals" [formControl]="animalControl" [placeHolder]="'placeholder'"></lib-hum-dropdown>
      </div>
    </div>
  </div>
  <div class="row">
    Item Detail
  </div>
</div>