<lib-sub-header-template>
  <span class="action_header">Add a new purchase
    <hum-button [type]="'save'" [text]="'save'"></hum-button>
    <hum-button [type]="'cancel'" [text]="'cancel'"></hum-button>

  </span>
  <div class="action_section">
  </div>
</lib-sub-header-template>
<mat-card>
  <div class="row">
    <div class="col-md-12">
      <h4>Item Detail</h4>
      <div class="col-md-3">
        <lib-hum-dropdown [options]="inventoryType$" [placeHolder]="'Inventory'"
          (change)="getInventoryTypeSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
        <lib-hum-dropdown [options]="storeInventory$"
          [placeHolder]="'Inventory(Master)'" (change)="getMasterInventorySelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
        <lib-hum-dropdown [options]="storeItemGroups$" [placeHolder]="'Item Group'"
          (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
        <lib-hum-dropdown [options]="storeItems$" [placeHolder]="'Item'"
          (change)="getItemSelectedValue($event)"></lib-hum-dropdown>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Project & Analytical Information</h4>
      <div class="col-md-3">
        <lib-hum-dropdown [options]="offices$" [placeHolder]="'Office'"
          (change)="getInventoryTypeSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
        <lib-hum-dropdown [options]="project$"[placeHolder]="'Project'"
          (change)="getMasterInventorySelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
        <lib-hum-dropdown [options]="budgetLine$" [placeHolder]="'Budget Line'"
          (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Purchase Detail</h4>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Purchase Order No">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput [matDatepicker]="PurchaseOrderDate" placeholder="Purchase Order Date">
          <mat-datepicker-toggle matSuffix [for]="PurchaseOrderDate"></mat-datepicker-toggle>
          <mat-datepicker #PurchaseOrderDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput [matDatepicker]="InvoiceDate" placeholder="Invoice Date">
          <mat-datepicker-toggle matSuffix [for]="InvoiceDate"></mat-datepicker-toggle>
          <mat-datepicker #InvoiceDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Invoice No">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Finance Voucher No">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput [matDatepicker]="FinanceVoucherDate" placeholder="Finance Voucher Date">
          <mat-datepicker-toggle matSuffix [for]="FinanceVoucherDate"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <lib-hum-dropdown [options]="assetType$" [placeHolder]="'Asset Type'"
          (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Quantity & Price Detail</h4>
      <div class="col-md-3">
          <lib-hum-dropdown [options]="unit$" [placeHolder]="'Unit'"
          (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
          <mat-form-field>
              <input matInput placeholder="Quantity">
            </mat-form-field>
      </div>
      <div class="col-md-3">
          <lib-hum-dropdown [options]="currency$" [placeHolder]="'Currency'"
          (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
          <mat-form-field>
              <input matInput placeholder="Price">
            </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Receipt Voucher No">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput [matDatepicker]="ReceiptVoucherDate" placeholder="Receipt Voucher Date">
          <mat-datepicker-toggle matSuffix [for]="ReceiptVoucherDate"></mat-datepicker-toggle>
          <mat-datepicker #ReceiptVoucherDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <lib-hum-dropdown [options]="storeSource$" [placeHolder]="'Received From Location'"
          (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
      </div>
      <div class="col-md-3">
          <lib-hum-dropdown [options]="employeeList$" [placeHolder]="'Received From Employee'"
            (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
            <lib-hum-dropdown [options]="receiptType$" [placeHolder]="'Receipt Type'"
              (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
          </div>
          <div class="col-md-3">
              <lib-hum-dropdown [options]="statusList$"[placeHolder]="'Status'"
                (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
            </div>
      </div>
    </div>
</mat-card>
