<form [formGroup]='addPurchaseForm' (ngSubmit)="purchaseFormSubmit()">
<lib-sub-header-template>
  <span class="action_header">{{headerText}}
    <hum-button *ngIf="!isAddPurchaseFormSubmitted" [isSubmit]="true" [type]="'save'" [text]="'save'">
    </hum-button>
    <hum-button *ngIf="isAddPurchaseFormSubmitted" [type]="'loading'" [text]="'Saving....'"></hum-button>
    <hum-button (click)='cancelButtonClicked()' [type]="'cancel'" [text]="'cancel'"></hum-button>

  </span>
  <div class="action_section">
  </div>
</lib-sub-header-template>
<mat-divider></mat-divider>

<div class="alert alert-warning" *ngIf="exchangeRateMessage != '' && exchangeRateMessage != null" role="alert">
  <p class="txt-center-align">{{exchangeRateMessage}}</p>
</div>

<mat-card [ngStyle]="scrollStyles">

    <div class="row">
        <h4>Item Detail</h4>
        <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['InventoryTypeId'].hasError('required')"
            [options]="inventoryType$" formControlName="InventoryTypeId" [placeHolder]="'Inventory'"
            (change)="getInventoryTypeSelectedValue($event)">
          </lib-hum-dropdown>
        </div>

        <!-- <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['InventoryId'].hasError('required')"
            [options]="storeInventory$" formControlName='InventoryId' [placeHolder]="'Inventory(Master)'"
            (change)="getMasterInventorySelectedValue($event)"></lib-hum-dropdown>
        </div> -->

        <div class="col-sm-3">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Inventory(Master)" aria-label="Number" matInput formControlName="InventoryId"
              (keyup)="filterInventoryName($event)" name="InventoryId" [matAutocomplete]="matAutocomplete1">
            <mat-autocomplete #matAutocomplete1="matAutocomplete">
              <mat-option (onSelectionChange)="onChangeStoreInventoryValue($event,item.value)"
                *ngFor="let item of storeInventory$ | async" [value]="item.name">{{item.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint>Please enter altest 3 characters to search</mat-hint>
            <mat-spinner *ngIf="purchasepinner" diameter="20" matSuffix></mat-spinner>
         </mat-form-field>
         <div class="alert alert-warning" *ngIf="inventoryErr!==null">{{inventoryErr}}</div>
        </div>




        <!-- <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['ItemGroupId'].hasError('required')"
            [options]="storeItemGroups$" formControlName='ItemGroupId' [placeHolder]="'Item Group'"
            (change)="getItemGroupSelectedValue($event)"></lib-hum-dropdown>
        </div> -->

        <div class="col-sm-3">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Item Group" aria-label="Number" matInput formControlName="ItemGroupId"
              (keyup)="filterItemGroupName($event)" name="ItemGroupId" [matAutocomplete]="matAutocomplete2">
            <mat-autocomplete #matAutocomplete2="matAutocomplete">
              <mat-option (onSelectionChange)="onChangeItemGroupValue($event,item.value)"
                *ngFor="let item of storeItemGroups$ | async" [value]="item.name">{{item.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint>Please enter altest 3 characters to search</mat-hint>
            <mat-spinner *ngIf="itemGroupspinner" diameter="20" matSuffix></mat-spinner>
         </mat-form-field>
         <div class="alert alert-warning" *ngIf="itemerr!==null">{{itemerr}}</div>
        </div>



        <!-- <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['ItemId'].hasError('required')"
            [options]="storeItems$" formControlName='ItemId' [placeHolder]="'Item'"
            (change)="getItemSelectedValue($event)"></lib-hum-dropdown>
        </div> -->

        <div class="col-sm-3">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Item" aria-label="Number" matInput formControlName="ItemId"
              (keyup)="filterItemName($event)" name="ItemId" [matAutocomplete]="matAutocomplete3">
            <mat-autocomplete #matAutocomplete3="matAutocomplete">
              <mat-option (onSelectionChange)="onChangeItemValue($event,item.value)"
                *ngFor="let item of storeItems$ | async" [value]="item.name">{{item.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint>Please enter altest 3 characters to search</mat-hint>
            <mat-spinner *ngIf="itemSpinner" diameter="20" matSuffix></mat-spinner>
         </mat-form-field>
        </div>
    </div>

    <div class="row">
        <h4>Project & Analytical Information</h4>
        <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['OfficeId'].hasError('required')"
            [options]="offices$" formControlName='OfficeId' [placeHolder]="'Office'"
            (change)="getOfficeSelectedValue($event)"></lib-hum-dropdown>
        </div>
        <!-- <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['ProjectId'].hasError('required')"
            [options]="project$" formControlName='ProjectId' [placeHolder]="'Project'"
            (change)="getProjectSelectedValue($event)"></lib-hum-dropdown>
        </div> -->

        <div class="col-sm-3">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Project" aria-label="Number" matInput formControlName="ProjectId"
              (keyup)="filterProjectName($event)" name="ProjectId" [matAutocomplete]="matAutocomplete4">
            <mat-autocomplete #matAutocomplete4="matAutocomplete">
              <mat-option (onSelectionChange)="onChangeProjectValue($event,item.value)"
                *ngFor="let item of project$ | async" [value]="item.name">{{item.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint>Please enter altest 3 characters to search</mat-hint>
            <mat-spinner *ngIf="projectSpinner" diameter="20" matSuffix></mat-spinner>
         </mat-form-field>
        </div>


        <!-- <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['BudgetLineId'].hasError('required')"
            [options]="budgetLine$" formControlName='BudgetLineId' [placeHolder]="'Budget Line'"
            ></lib-hum-dropdown>
        </div> -->

        <div class="col-sm-3">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Budget Line" aria-label="Number" matInput formControlName="BudgetLineId"
              (keyup)="filterBudgetLineName($event)" name="BudgetLineId" [matAutocomplete]="matAutocomplete5">
            <mat-autocomplete #matAutocomplete5="matAutocomplete">
              <mat-option (onSelectionChange)="onChangeBudgetLineValue($event,item.value)"
                *ngFor="let item of budgetLine$ | async" [value]="item.name">{{item.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint>Please enter altest 3 characters to search</mat-hint>
            <mat-spinner *ngIf="budgetSpinner" diameter="20" matSuffix></mat-spinner>
         </mat-form-field>
        </div>
    </div>

    <!-- Transport Details-->
    <div class="row">

      <div *ngIf="(ItemGroupTransportCategory == ItemTransportCategoryEnum.Vehicle && ItemTransportCategory ==ItemTransportCategoryEnum.Vehicle) ||
      (ItemGroupTransportCategory == ItemTransportCategoryEnum.Generator && ItemTransportCategory ==ItemTransportCategoryEnum.Generator)">
        <div class="col-md-10">
          <strong>Note:</strong>The item you have selected is <strong>{{selectedItemName}}</strong>. Therefore, the
          following <strong>transport related metadata</strong> must be filled out.
        </div>

        <div class="col-md-2" *ngIf="addPurchaseForm.get('PurchaseId').value == null">
          <div class="items-float-right">
            <hum-button (click)='addTransportItemButtonClicked(addPurchaseForm.controls["ItemId"].value)'
              [type]="'add'" [text]="'Add'"></hum-button>
          </div>
        </div>
        <br>

      <div class="row" *ngIf="ItemTransportCategory ==ItemTransportCategoryEnum.Vehicle">
        <div class="col-md-12">
          <mat-accordion>
            <mat-expansion-panel formArrayName="TransportVehicles"
              *ngFor="let item of addPurchaseForm.controls['TransportVehicles'].controls; let i= index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>New Vehicle Detail Form - {{item.get('PlateNo').value}}</h4>
                </mat-panel-title>
                <hum-button (click)='deleteVehicle(i)' [type]="'remove'" [text]="'Remove'" *ngIf="addPurchaseForm.get('PurchaseId').value == null && addPurchaseForm.controls['TransportVehicles'].length > 1"></hum-button>
              </mat-expansion-panel-header>
              <app-vehicle-detail [formGroupName]="i" [officeId]='addPurchaseForm.controls["OfficeId"].value'
                [vehicleDetailForm]='item'></app-vehicle-detail>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>

      <div class="row" *ngIf="ItemTransportCategory ==ItemTransportCategoryEnum.Generator">
        <div class="col-md-12">
          <mat-accordion>
            <mat-expansion-panel formArrayName="TransportGenerators"
              *ngFor="let item of addPurchaseForm.controls['TransportGenerators'].controls; let i= index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>New Generator Detail Form - {{item.get('Voltage').value}}</h4>
                </mat-panel-title>
                <hum-button (click)='deleteGenerator(i)' [type]="'remove'" [text]="'Remove'" *ngIf="addPurchaseForm.get('PurchaseId').value == null && addPurchaseForm.controls['TransportGenerators'].length > 1"></hum-button>
              </mat-expansion-panel-header>
              <app-generator-detail [formGroupName]="i" [officeId]='addPurchaseForm.controls["OfficeId"].value'
                [generatorDetailForm]='item'></app-generator-detail>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>

      <div *ngIf="enablePurchaseItem()" class="paddingleft">
      <div class="row">
        <div class="col-md-12">
          <strong>Note:</strong>The item you have selected is <strong>{{selectedItemName}}</strong>. Therefore, the
          following <strong>transport
            related metadata</strong> must be filled out.
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['TransportItemId'].hasError('required')"
            [options]="purchaseItemDataSource$" formControlName='TransportItemId' [placeHolder]="transportItemPlaceholder"></lib-hum-dropdown>
        </div>
      </div>
      </div>
    </div>

    <div class="row">
        <h4>Purchase Detail</h4>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput formControlName='PurchaseName' placeholder="Purchase Name">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput type="number" formControlName='PurchaseOrderNo' placeholder="Purchase Order No">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput [matDatepicker]="PurchaseOrderDate" (dateChange)="PurchaseDateChange($event)"
              formControlName='PurchaseOrderDate' placeholder="Purchase Order Date">
            <mat-datepicker-toggle matSuffix [for]="PurchaseOrderDate"></mat-datepicker-toggle>
            <mat-datepicker #PurchaseOrderDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput [matDatepicker]="InvoiceDate" formControlName='InvoiceDate' placeholder="Invoice Date">
            <mat-datepicker-toggle matSuffix [for]="InvoiceDate"></mat-datepicker-toggle>
            <mat-datepicker #InvoiceDate></mat-datepicker>
          </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <input matInput type="number" formControlName='InvoiceNo' placeholder="Invoice No">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['AssetTypeId'].hasError('required')"
            [options]="assetType$" formControlName='AssetTypeId' [placeHolder]="'Asset Type'"
            ></lib-hum-dropdown>
        </div>
    </div>

    <div class="row">
        <h4>Quantity & Price Detail</h4>
        <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['Unit'].hasError('required')" [options]="unit$"
            formControlName='Unit' [placeHolder]="'Unit'"></lib-hum-dropdown>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput type="number" formControlName='Quantity' placeholder="Quantity">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['CurrencyId'].hasError('required')"
            [options]="currency$" formControlName='CurrencyId' [placeHolder]="'Currency'"
            ></lib-hum-dropdown>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput type="number" formControlName='Price' placeholder="Price">

          </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <input matInput [matDatepicker]="ReceiptDate" formControlName='ReceiptDate' placeholder="Receipt Date">
            <mat-datepicker-toggle matSuffix [for]="ReceiptDate"></mat-datepicker-toggle>
            <mat-datepicker #ReceiptDate></mat-datepicker>
          </mat-form-field>
        </div>
        <!-- <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['ReceivedFromLocation'].hasError('required')"
            [options]="storeSource$" formControlName='ReceivedFromLocation' [placeHolder]="'Received From Location'"
            ></lib-hum-dropdown>
        </div> -->


        <div class="col-sm-3">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Received From Location" aria-label="Number" matInput formControlName="ReceivedFromLocation"
              (keyup)="filterReceivedFromLocationeName($event)" name="ReceivedFromLocation" [matAutocomplete]="matAutocomplete6">
            <mat-autocomplete #matAutocomplete6="matAutocomplete">
              <mat-option (onSelectionChange)="onChangeReceivedFromLocValue($event,item.value)"
                *ngFor="let item of storeSource$ | async" [value]="item.name">{{item.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint>Please enter altest 3 characters to search</mat-hint>
            <mat-spinner *ngIf="receivedFromLocSpinner" diameter="20" matSuffix></mat-spinner>
         </mat-form-field>

        </div>


        <!-- <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['ReceivedFromEmployeeId'].hasError('required')"
            [options]="employeeList$" formControlName='ReceivedFromEmployeeId' [placeHolder]="'Received From Employee'"
            ></lib-hum-dropdown>
        </div> -->

        <div class="col-sm-3">
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="Received From Employee" aria-label="Number" matInput formControlName="ReceivedFromEmployeeId"
              (keyup)="filterReceivedFromEmployeeName($event)" name="ReceivedFromEmployeeId" [matAutocomplete]="matAutocomplete7">
            <mat-autocomplete #matAutocomplete7="matAutocomplete">
              <mat-option (onSelectionChange)="onChangeReceivedFromEmployeeValue($event,item.value)"
                *ngFor="let item of employeeList$ | async" [value]="item.name">{{item.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint>Please enter altest 3 characters to search</mat-hint>
            <mat-spinner *ngIf="receivedFromEmpSpinner" diameter="20" matSuffix></mat-spinner>
         </mat-form-field>
         <div class="alert alert-warning" *ngIf="err!==null">{{err}}</div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['ReceiptTypeId'].hasError('required')"
            [options]="receiptType$" formControlName='ReceiptTypeId' [placeHolder]="'Receipt Type'"
            ></lib-hum-dropdown>
        </div>
        <div class="col-md-3">
          <lib-hum-dropdown [validation]="addPurchaseForm.controls['StatusId'].hasError('required')"
            [options]="statusList$" formControlName='StatusId' [placeHolder]="'Status'"
            ></lib-hum-dropdown>
        </div>
    </div>

    <div class="row">
        <h4>Depreciation</h4>
        <div class="col-md-3">
          <mat-checkbox formControlName='ApplyDepreciation'>Apply Depreciation</mat-checkbox>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <input matInput type="number" formControlName='DepreciationRate' placeholder="Depreciation Rate(%)">
          </mat-form-field>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <h4 style="padding-left: 0px !important">Documents
          <hum-button [type]="'add'" [text]="'add'" (click)="openAddDocumentDialog()"></hum-button>
        </h4>
        <app-document-upload [showDownloadButton]="showDownloadButton" [hideColums$]="hideUnitColums" [purchasedDocumentFiles]="uploadedPurchasedFiles" (documentButtonClicked)="onPurchaseDocumentButtonClick($event)"></app-document-upload>
      </div>
    </div>
</mat-card>
</form>
