<div class="container-fluid">
  <div class="row">
    <div *ngIf="projectJobsDetailLoader; else projectJobsDetailtemplate">
      <mat-spinner class="center_loader" diameter="50"></mat-spinner>
    </div>
    <ng-template #projectJobsDetailtemplate>
      <div class="col-sm-12">
        <h4>Project Job</h4>
      </div>

      <!-- <div *ngIf="editProjectJobsDetailLoader; else showArchive" class="loader-mr-left pull-right">
              <mat-spinner class="margin_top_10" diameter="20">
              </mat-spinner>
            </div>
            <ng-template #showArchive>
              <div *ngIf="archiveButton" class="pull-right">
                <button (click)="DeleteProjectJob(projectJobId)" mat-icon-button>
                  <mat-icon matTooltip="Archive">delete</mat-icon>
                </button>
              </div>
            </ng-template> -->

      <div class="col-sm-12">
        <div class="col-sm-6 margin_top_10">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Project Job Name" [(ngModel)]="projectJobsDetail.ProjectJobName"
              (change)="onProjectJobsValuechange()" />
          </mat-form-field>
        </div>
        <div class="col-sm-6 margin-top: 7px;" *ngIf=" projectJobsDetail.CanDelete==null; else notallowed">
          <mat-icon class="icon_cursor small_icon tp_15 icon_width" color="warn"
            (click)="DeleteProjectJob(projectJobsDetail.ProjectJobId)">
            delete
          </mat-icon>
        </div>
        <ng-template #notallowed>
          <td>
            <mat-icon class="icon_cursor small_icon tp_15 icon_width" color="darkgray"
              matTooltip="Project Job is selected in Project Budget Line hence not able to Delete.">
              delete
            </mat-icon>
          </td>
        </ng-template>
      </div>

    </ng-template>
  </div>
</div>
