<div class="voucher-detail-main">
  <app-voucher-summary [currentCredit]="totalCredits" [currentDebit]="totalDebits"></app-voucher-summary>

  <br />

  <mat-card [ngStyle]="scrollStyles">
    <div class="row">
      <div class="col-sm-12" *ngIf="voucherDetailLoader; else voucherDetailtemplate">
        <mat-spinner class="center_loader" diameter="50"></mat-spinner>
      </div>

      <ng-template #voucherDetailtemplate>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="border_bottom padding_bottom_10">
                <div class="row">
                  <div class="col-sm-5">
                    <button *ngIf="voucherDetail.IsVoucherVerified" mat-raised-button color="accent"
                      pTooltip="Voucher validated" tooltipPosition="top" aria-label="Voucher validated"
                      (click)="onVoucherVerify()">
                      <mat-icon aria-label="icon-button done icon" class="margin_left_minus_5">done</mat-icon>
                      Validate
                    </button>
                    <button *ngIf="!voucherDetail.IsVoucherVerified" mat-stroked-button pTooltip="Validate voucher"
                      tooltipPosition="top" aria-label="Verify voucher" (click)="onVoucherVerify()">
                      <mat-icon aria-label="icon-button done icon" class="margin_left_minus_5">
                        done
                      </mat-icon>
                      Invalidate
                    </button>
                  </div>

                  <div class="col-sm-1 pull-right ">

                    <!-- Filter -->
                    <div *ngIf="!fileUploadLoader; else documentUploadtemplate">
                      <mat-icon class="icon_cursor padding_top_5" aria-label="icon-button done icon"
                        pTooltip="Documents" tooltipPosition="top" [matMenuTriggerFor]="menu">attach_file</mat-icon>
                    </div>
                    <ng-template #documentUploadtemplate>
                      <mat-spinner class="center_loader" diameter="15" *ngIf="fileUploadLoader"></mat-spinner>
                    </ng-template>
                    <mat-menu #menu="matMenu">
                      <input id="fileInput" style="display: contents;" hidden type="file"
                        (change)="fileChange($event.target.files)">
                      <button mat-button (click)="openInput()">Upload Document
                      </button>
                      <button mat-button (click)="openDocumentsDialog()">View Documents</button>
                    </mat-menu>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <h4>
                {{ voucherDetail.ReferenceNo }}
              </h4>
            </div>
            <div class="col-sm-12">
              <br />
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Leave a comment" [(ngModel)]="voucherDetail.Description"
                      (change)="onVoucherValuechange()" [disabled]="!isEditingAllowed"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <!-- Voucher date -->
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="voucherDatepicker" placeholder="Voucher Date"
                      [(ngModel)]="voucherDetail.VoucherDate" (dateChange)="onVoucherValuechange()"
                      [disabled]="!isEditingAllowed" />
                    <mat-datepicker-toggle matSuffix [for]="voucherDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #voucherDatepicker></mat-datepicker>
                  </mat-form-field>
                </div>

                <!-- Currency -->
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Currency" [(ngModel)]="voucherDetail.CurrencyId"
                      (selectionChange)="onVoucherValuechange()" [disabled]="!isEditingAllowed">
                      <mat-option *ngFor="let item of currencyList" [value]="item.CurrencyId">
                        {{ item.CurrencyName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- Journal -->
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Journal" [(ngModel)]="voucherDetail.JournalCode"
                      (selectionChange)="onVoucherValuechange()" [disabled]="!isEditingAllowed">
                      <mat-option *ngFor="let item of journalList" [value]="item.JournalCode">
                        {{ item.JournalName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <!-- Voucher Type -->
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Voucher Type" [(ngModel)]="voucherDetail.VoucherTypeId"
                      (selectionChange)="onVoucherValuechange()" [disabled]="!isEditingAllowed">
                      <mat-option *ngFor="let item of voucherTypeList" [value]="item.VoucherTypeId">
                        {{ item.VoucherTypeName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- Office -->
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Office" [(ngModel)]="voucherDetail.OfficeId"
                      (selectionChange)="onVoucherValuechange()" [disabled]="!isEditingAllowed">
                      <mat-option *ngFor="let item of officeList" [value]="item.OfficeId">
                        {{ item.OfficeName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- Check No -->
                <div class="col-sm-12">
                  <mat-form-field class="example-form-field">
                    <input matInput type="text" placeholder="Cheque No" [(ngModel)]="voucherDetail.ChequeNo"
                      (change)="onVoucherValuechange()" [disabled]="!isEditingAllowed" />
                  </mat-form-field>
                </div>
              </div>

              <!-- transaction -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="transaction-main">
                    <div class="row border_bottom">

                      <br />
                      <div class="col-sm-3">
                        <h4>TRANSACTIONS</h4>
                      </div>
                      <div class="col-sm-2">
                        <div class="inside_btn pull-right margin_top_10">
                          <div *ngIf="
                              checkTransactionFlag;
                              else checkTransactionTemplate
                            ">
                            <mat-spinner diameter="20"></mat-spinner>
                          </div>
                          <ng-template #checkTransactionTemplate>
                            <button mat-icon-button color="accent" pTooltip="Save Transaction" tooltipPosition="top"
                              (click)="onTransactionListVerify()" *ngIf="isEditingAllowed">
                              <mat-icon aria-label="icon-button done icon">done</mat-icon>
                            </button>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <!-- debits -->
                      <div class="col-sm-12">
                        <div class="total_debit clearfix">
                          <h6>
                            <strong>Debits</strong>
                            <span>Total Debits: {{ totalDebits }}</span>
                          </h6>
                          <button mat-icon-button (click)="onAddTransactionDebit()"
                            *ngIf="isEditingAllowed && !voucherDetail.IsVoucherVerified">
                            <mat-icon aria-label="icon-button add icon">add</mat-icon>
                          </button>
                        </div>

                        <!-- debits table -->
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="responsive_table-responsive ">
                              <table class="table table-bordered">
                                <tbody>
                                  <!-- <tr *ngFor="let item in transactionCreditList"> -->
                                  <tr *ngFor="let item of transactionDebitList">
                                    <td width="1%">
                                      <p class="width_8"></p>
                                    </td>

                                    <td width="12%" class="text-center">
                                      <!-- <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Account" [(ngModel)]="item.AccountNo" (selectionChange)="
                                          onTransactionDetailChanged(item, 'Account')
                                        " [disabled]="!isEditingAllowed">
                                        <mat-option *ngFor="
                                            let i of inputLevelAccountList
                                          " [value]="i.AccountCode">
                                          {{ i.AccountName }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field> -->

                                      <lib-search-dropdown placeholder="Accounts" [multiSelect]="false"
                                        placeholderSearchLabel="Find Account..."
                                        noEntriesFoundLabel="No matching account found" [dataSource]="accountDataSource"
                                        [selectedValue]="item.AccountNo" (openedChange)="
                                          openedChange($event, item)
                                        ">
                                      </lib-search-dropdown>
                                    </td>
                                    <td width="16%" class="text-center" text-align="left">
                                      <mat-form-field class="example-form-field">
                                        <input matInput type="text" placeholder="Description"
                                          [(ngModel)]="item.Description" (change)="
                                            onTransactionDetailChanged(
                                              item,
                                              'Description'
                                            )
                                          " [disabled]="!isEditingAllowed" />
                                      </mat-form-field>
                                    </td>
                                    <td width="12%" class="text-center" text-align="left">
                                      <mat-form-field class="example-form-field">
                                        <input matInput min="0" type="number" placeholder="Amount"
                                          [(ngModel)]="item.Debit" (change)="
                                            onTransactionDetailChanged(
                                              item,
                                              'Debit'
                                            )
                                          " [disabled]="!isEditingAllowed" />
                                      </mat-form-field>
                                    </td>
                                    <td width="12%" class="text-center">
                                      <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Project" [(ngModel)]="item.ProjectId"
                                          (selectionChange)="
                                            onTransactionDetailChanged(
                                              item,
                                              'Project'
                                            )
                                          " [disabled]="!isEditingAllowed">
                                          <mat-option *ngFor="let i of projectList" [value]="i.ProjectId">
                                            {{ i.ProjectNameCode }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    </td>
                                    <td width="12%" class="text-center">
                                      <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Budget Line" [(ngModel)]="item.BudgetLineId"
                                          (selectionChange)="
                                            onTransactionDetailChanged(
                                              item,
                                              'BudgetLine'
                                            )
                                          " [disabled]="!isEditingAllowed">
                                          <mat-option *ngFor="
                                              let i of item.BudgetLineList
                                            " [value]="i.BudgetLineId">
                                            {{ i.BudgetName }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    </td>
                                    <td width="12%" class="text-center">
                                      Job: {{ item.JobName }}
                                      <!-- <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Project Job">
                                        <mat-option *ngFor="let i of projectJobList" [value]="i.ProjectJobId">
                                          {{ i.JobName }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                                    </td>
                                    <td width="12%" class="text-center" text-align="left">
                                      <button mat-icon-button (click)="onTransactionDebitDelete(item)" *ngIf="
                                          isEditingAllowed &&
                                          !voucherDetail.IsVoucherVerified
                                        ">
                                        <mat-icon aria-label="delete">delete</mat-icon>
                                      </button>
                                    </td>

                                    <td width="1%" class="text-center"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- credits -->
                      <div class="col-sm-12">
                        <div class="total_debit first_child clearfix">
                          <h6>
                            <strong>Credits</strong>
                            <span> Total Credits : {{ totalCredits }}</span>
                          </h6>
                          <button mat-icon-button (click)="onAddTransactionCredit()"
                            *ngIf="isEditingAllowed && !voucherDetail.IsVoucherVerified">
                            <mat-icon aria-label="icon-button add icon">add</mat-icon>
                          </button>
                        </div>

                        <!-- credit table -->
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="responsive_table-responsive ">
                              <table class="table table-bordered">
                                <tbody>
                                  <!-- <tr *ngFor="let item in transactionCreditList"> -->
                                  <tr *ngFor="let item of transactionCreditList">
                                    <td width="1%">
                                      <p class="width_8"></p>
                                    </td>

                                    <td width="12%" class="text-center">
                                      <!-- <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Account" [(ngModel)]="item.AccountNo" (selectionChange)="
                                          onTransactionDetailChanged(item, 'Account')
                                        " [disabled]="!isEditingAllowed">
                                        <mat-option *ngFor="
                                            let i of inputLevelAccountList
                                          " [value]="i.AccountCode">
                                          {{ i.AccountName }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                                      <lib-search-dropdown placeholder="Accounts" [multiSelect]="false"
                                        placeholderSearchLabel="Find Account..."
                                        noEntriesFoundLabel="No matching account found" [dataSource]="accountDataSource"
                                        [selectedValue]="item.AccountNo" (openedChange)="
                                          openedChange($event, item)
                                        ">
                                      </lib-search-dropdown>
                                    </td>
                                    <td width="16%" class="text-center" text-align="left">
                                      <mat-form-field class="example-form-field">
                                        <input matInput type="text" placeholder="Description"
                                          [(ngModel)]="item.Description" (change)="
                                            onTransactionDetailChanged(
                                              item,
                                              'Description'
                                            )
                                          " [disabled]="!isEditingAllowed" />
                                      </mat-form-field>
                                    </td>
                                    <td width="12%" class="text-center" text-align="left">
                                      <mat-form-field class="example-form-field">
                                        <input matInput min="0" type="number" placeholder="Amount"
                                          [(ngModel)]="item.Credit" (change)="
                                            onTransactionDetailChanged(
                                              item,
                                              'Credit'
                                            )
                                          " [disabled]="!isEditingAllowed" />
                                      </mat-form-field>
                                    </td>
                                    <td width="12%" class="text-center">
                                      <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Project" [(ngModel)]="item.ProjectId"
                                          (selectionChange)="
                                            onTransactionDetailChanged(
                                              item,
                                              'Project'
                                            )
                                          " [disabled]="!isEditingAllowed">
                                          <mat-option *ngFor="let i of projectList" [value]="i.ProjectId">
                                            {{ i.ProjectNameCode }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    </td>
                                    <td width="12%" class="text-center">
                                      <mat-form-field class="example-full-width">
                                        <mat-select placeholder="Budget Line" [(ngModel)]="item.BudgetLineId"
                                          (selectionChange)="
                                            onTransactionDetailChanged(
                                              item,
                                              'BudgetLine'
                                            )
                                          " [disabled]="!isEditingAllowed">
                                          <mat-option *ngFor="
                                              let i of item.BudgetLineList
                                            " [value]="i.BudgetLineId">
                                            {{ i.BudgetName }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    </td>
                                    <td width="12%" class="text-center">
                                      Job: {{ item.JobName }}
                                      <!-- <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Project Job" [disabled]="!isEditingAllowed" >
                                        <mat-option *ngFor="let i of projectJobList" [value]="i.ProjectJobId">
                                          {{ i.ProjectJobName }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                                    </td>
                                    <td width="12%" class="text-center" text-align="left">
                                      <button mat-icon-button (click)="
                                          onTransactionCreditDelete(item)
                                        " *ngIf="
                                          isEditingAllowed &&
                                          !voucherDetail.IsVoucherVerified
                                        ">
                                        <mat-icon aria-label="delete">delete</mat-icon>
                                      </button>
                                    </td>

                                    <td width="1%" class="text-center"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </mat-card>
</div>