<div>
  <form [formGroup]='applyLeaveForm' (ngSubmit)="applyLeave()">
    <h4 mat-dialog-title>
      Apply Leave
    </h4>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field class="example-full-width">
            <input formControlName="LeaveType" [readOnly]="true" matInput placeholder="Leave Type">
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field>
            <input [matDatepickerFilter]="myFilter" matInput [satDatepicker]="resultPicker" formControlName="LeaveDate">
            <sat-datepicker
                #resultPicker
                [rangeMode]="true">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="resultPicker"></sat-datepicker-toggle>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field class="example-full-width">
            <input type="number" matInput (change)="onAppliedHourChange($event)" formControlName="LeaveApplied" placeholder="Applied Hours" type="number">
            <mat-error *ngIf="applyLeaveForm.controls['LeaveApplied'].hasError('min')">unit should be greater than 0</mat-error>
            <mat-error *ngIf="applyLeaveForm.controls['LeaveApplied'].hasError('max')">Max unit allowed is {{data.HourBalance}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field class="example-full-width">
            <input formControlName="BalanceLeave" [readOnly]="true" matInput placeholder="Balance Leave">
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field class="example-full-width">
            <textarea matInput formControlName="Remarks" placeholder="Remarks"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="items-float-right">
      <hum-button *ngIf="!isFormSubmitted" [type]="'save'" [text]="'save'" [isSubmit]="true"
        [disabled]="!applyLeaveForm.valid || !applyLeaveForm.dirty"></hum-button>
      <hum-button *ngIf="isFormSubmitted" [type]="'loading'" [text]="'Saving....'"></hum-button>
      <hum-button (click)='closeDialog()' [type]="'cancel'" [text]="'cancel'"></hum-button>
    </div>
  </form>
</div>
