<div class="hiring-control-main">
  <div class="hiring">
    <div class="row">
      <div class="col-sm-4 font_larger">
        Hiring Control
        <button mat-icon-button (click)="hiringAddFlag = !hiringAddFlag">
          <mat-icon aria-label="add">add</mat-icon>
        </button>
      </div>
    </div>

    <div class="row" *ngIf="hiringAddFlag">
      <div class="col-sm-9 col-sm-offset-1">
        <app-people-add-form
          [userList]="userList"
          [roleList]="roleList"
          (addForm)="onAddForm($event)"
        ></app-people-add-form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <app-listing-delete
          [userList]="userList"
          [roleList]="roleList"
          [tableContentList]="tableContentList"
          (editForm)="editForm($event)"
          (deleteConfirm)="deleteConfirm($event)"
        ></app-listing-delete>
      </div>
    </div>
  </div>
</div>
