<div class="main-exchange-gain-loss">
    <div class="row">
        <div class="col-sm-12">
            <div class="main-heading clearfix">
                <h3 class="page-headin">Exchange Gain/Loss Transaction</h3>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 dxagninptblk">

            <form action="your-action" (submit)="onApplyingFilter(exchangeGainLossFilter)">
                <div class="row">
                    <div class="col-sm-10">

                        <dx-form id="form" [(formData)]="exchangeGainLossFilter" [colCount]="2" [readOnly]="false" [showColonAfterLabel]="true" [showValidationSummary]="true"
                            (onFieldDataChanged)="onFieldDataChanged($event)" validationGroup="customerData">


                            <dxi-item dataField="AccountList" editorType="dxTagBox" showCheckBoxesMode="normal" [editorOptions]="{ dataSource: accountDropdown, displayExpr: 'AccountName', valueExpr: 'AccountCode', multiline: false, maxDisplayedTags: 1, showClearButton:'true', placeholder: 'Select Accounts', selectAllMode: 'allPages', showSelectionControls: true,  searchEnabled: true }">
                                <dxo-label text="Accounts"></dxo-label>
                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                            </dxi-item>

                            <dxi-item dataField="DateRange" class="dsplcal cal-custom-outer">
                                <!-- <p-calendar dateFormat="dd/mm/yy" placeholder="Date Range" [showIcon]="true" [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"></p-calendar> -->
                                <p-calendar name="exchangeGainLossDateRange" [(ngModel)]="exchangeGainLossDateRange" dateFormat="dd/mm/yy" selectionMode="range"
                                    showIcon="true" [style]="{'position': 'relative', 'overflow': 'visible', 'z-index': '999'}"></p-calendar>
                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="DateOfComparison" editorType="dxDateBox" [editorOptions]="{type: 'date',  width: '100%', displayFormat: 'dd/MM/yyy', showClearButton: 'true' }">

                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                            </dxi-item>


                            <dxi-item dataField="ComparisonCurrencyId" editorType="dxSelectBox" [editorOptions]="{ dataSource: currencyDropdown, displayExpr: 'CurrencyCode', valueExpr: 'CurrencyId', showClearButton:'true' , placeholder: 'Select Currency' }">
                                <dxo-label text="Comparison Currency"></dxo-label>
                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="TransactionType" editorType="dxSelectBox" [editorOptions]="{ dataSource: transactionTypeDropdown, displayExpr: 'TransactionTypeName', valueExpr: 'TransactionTypeId', showClearButton:'true' , placeholder: 'Select Transaction Type' }">
                                <dxo-label text="Transaction Type"></dxo-label>
                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                            </dxi-item>

                        </dx-form>

                    </div>
                    <!-- <div style="margin-top: 80px"> -->
                    <div>
                        <div class="col-sm-2">
                            <dx-button style="margin-top: 20px; width: -webkit-fill-available" text="Create Voucher" type="success" [disabled]="!exchangeGainOrLossDataSource?.length"
                                (click)="onShowAddVoucherForm(exchangeGainLossFilter)"></dx-button>
                        </div>
                        <!-- <div class="col-sm-2">
                           
                        </div> -->
                        <div class="col-sm-2">
                            <dx-button style="margin-top: 20px; width: -webkit-fill-available" text="Update Filter" type="success" validationGroup="customerData"
                                [useSubmitBehavior]="true"></dx-button>
                        </div>

                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <dx-button text="Delete Voucher" type="success" (click)="onShowDeleteVoucherPopUp(exchangeGainLossFilter)"></dx-button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <dx-data-grid id="gridContainer" [dataSource]="exchangeGainOrLossDataSource" [allowColumnReordering]="true" [allowColumnResizing]="true"
                [columnAutoWidth]="true">

                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

                <dxi-column dataField="TransactionDate" caption="TransactionDate" dataType="date" format="dd/MM/yyyy">
                </dxi-column>

                <dxi-column dataField="CreditOrDebit" caption="Credit Or Debit">
                </dxi-column>

                <dxi-column dataField="OriginalCurrency" caption="Original Currency">
                    <dxo-lookup [dataSource]="currencyDropdown" displayExpr="CurrencyCode" valueExpr="CurrencyId"></dxo-lookup>
                </dxi-column>

                <dxi-column dataField="TransactionAmount" caption="Transaction Amount">
                </dxi-column>

                <dxi-column dataField="OriginalExchangeValue" caption="Original Exchange Value">
                </dxi-column>

                <dxi-column dataField="CurrentExchangeValue" caption="Current Exchange Value">
                </dxi-column>

                <dxi-column dataField="GainLossAmount" caption="Gain Loss Amount">
                </dxi-column>

                <dxo-summary>
                    <dxi-total-item column="TransactionAmount" summaryType="sum">
                    </dxi-total-item>
                    <dxi-total-item column="OriginalExchangeValue" summaryType="sum">
                    </dxi-total-item>
                    <dxi-total-item column="CurrentExchangeValue" summaryType="sum">
                    </dxi-total-item>
                    <dxi-total-item column="GainLossAmount" summaryType="sum">
                    </dxi-total-item>
                </dxo-summary>

                <dxo-remote-operations [sorting]="true" [paging]="true"> </dxo-remote-operations>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"></dxo-pager>

            </dx-data-grid>
        </div>
    </div>

</div>
<!-- Voucher Add PopUp -->
<dx-popup class="popup" [width]="810" [height]="450" [showTitle]="true" title="Voucher" [dragEnabled]="false" [closeOnOutsideClick]="true"
    [(visible)]="addEditVoucherFormPopupVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view showScrollbar="always" direction="both">

            <div class="row">
                <div class="text-center col-sm-12">

                    <div *ngIf="gainLossAmountFlag; else lossAmountFlag">
                        Gain Amount: {{voucherDetailsForm?.ExchangeGainLossAmount}}
                    </div>

                    <ng-template #lossAmountFlag>
                        Loss Amount: {{voucherDetailsForm?.ExchangeGainLossAmount}}
                    </ng-template>

                </div>
            </div>
            <br>

            <form action="your-action" (submit)="onVoucherFormSubmit(voucherDetailsForm)">
                <dx-form id="form" [formData]="voucherDetailsForm" [readOnly]="false" [showColonAfterLabel]="true" [showValidationSummary]="true"
                    validationGroup="voucherData" (onFieldDataChanged)="onFieldDataChanged($event)">
                    <dxi-item itemType="group" [colCount]="2">

                        <dxi-item dataField="FinancialYearId" editorType="dxSelectBox" [editorOptions]="{ dataSource: financialYearArr, value: voucherDetailsForm.FinancialYearId, valueExpr: 'FinancialYearId', displayExpr: 'FinancialYearName', searchEnabled: true, showClearButton: false  }">
                            <dxo-label text="Financial Year" alignment="left"></dxo-label>
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                        </dxi-item>

                        <dxi-item dataField="CurrencyId" editorType="dxSelectBox" [editorOptions]="{ dataSource: currencyDropdown, value: voucherDetailsForm.CurrencyId, disabled:true,  valueExpr: 'CurrencyId', displayExpr: 'CurrencyCode', searchEnabled: true, showClearButton: false  }">
                            <dxo-label text="Currency" alignment="left"></dxo-label>
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                        </dxi-item>

                        <dxi-item dataField="OfficeId" editorType="dxSelectBox" [editorOptions]="{ dataSource: officeDropdown, value: voucherDetailsForm.OfficeId, valueExpr: 'OfficeId', disabled:true, displayExpr: 'OfficeName', searchEnabled: true, showClearButton: false  }">
                            <dxo-label text="Office" alignment="left"></dxo-label>
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                        </dxi-item>

                        <dxi-item dataField="VoucherDate" editorType="dxDateBox" [editorOptions]="{type: 'date', width: '100%', showClearButton: 'true' , displayFormat: 'dd/MM/yyyy'}">
                            <dxo-label alignment="left"></dxo-label>
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="JournalCode" editorType="dxSelectBox" [editorOptions]="{ dataSource: journalDropdown, value: voucherDetailsForm.JournalCode, valueExpr: 'JournalCode', displayExpr: 'JournalName', searchEnabled: true, showClearButton: false  }">
                            <dxo-label text="Journal" alignment="left"></dxo-label>
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                        </dxi-item>

                        <dxi-item dataField="VoucherTypeId" editorType="dxSelectBox" [editorOptions]="{ dataSource: voucherTypeArr, value: voucherDetailsForm.VoucherTypeId, valueExpr: 'VoucherTypeId', displayExpr: 'VoucherTypeName', searchEnabled: true, showClearButton: false  }">
                            <dxo-label text="Voucher Type" alignment="left"></dxo-label>
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                        </dxi-item>

                        <dxi-item dataField="Description">
                            <dxo-label alignment="left"></dxo-label>
                            <dxi-validation-rule type="required">
                            </dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="BudgetLineId" editorType="dxSelectBox" [editorOptions]="{ dataSource: budgetLineFilteredList, value: voucherDetailsForm.BudgetLineId, valueExpr: 'BudgetLineId', displayExpr: 'Description', searchEnabled: true, showClearButton: true  }">
                            <dxo-label text="Budget Line" alignment="left"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="AccountCodeCredit" editorType="dxSelectBox" [editorOptions]="{dataSource:levelFourAccounts, valueExpr: 'AccountCode', displayExpr: 'AccountName', showClearButton: true  }">
                            <dxo-label text="Exchange Account(Credit)" alignment="left"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="AccountCodeDebit" editorType="dxSelectBox" [editorOptions]="{dataSource:levelFourAccounts, valueExpr: 'AccountCode', displayExpr: 'AccountName', showClearButton: true  }">
                            <dxo-label text="Exchange Account(Debit)" alignment="left"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="ExchangeGainLossAmount" [editorOptions]="{value: voucherDetailsForm.ExchangeGainLossAmount, disabled:true, valueExpr: 'ExchangeGainLossAmount', displayExpr: 'ExchangeGainLossAmount', showClearButton: true  }">
                            <dxo-label text="Gain/Loss Amount" alignment="left"></dxo-label>
                        </dxi-item>
                    </dxi-item>
                </dx-form>

                <div class="btn-grp-wrap">
                    <dx-button text="Save" type="success" validationGroup="voucherData" [useSubmitBehavior]="true"></dx-button>
                    <dx-button text="Cancel" (onClick)="hideAddEditVoucherForm()"></dx-button>
                </div>
            </form>
            <ngx-loading [show]="addEditVoucherFormPopupLoading" [config]="{ backdropBackgroundColour:'rgba(0,0,0,0.07)' }"></ngx-loading>
        </dx-scroll-view>
    </div>
</dx-popup>

<!-- Exchange Gain/Loss Voucher Delete PopUp -->
<dx-popup class="popup" [width]="400" [height]="170" [showTitle]="true" title="Delete Exchange Gain Loss Voucher" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="deleteVoucherPopupVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view showScrollbar="always" direction="both">
            <form action="your-action" (submit)="onDeleteVoucher(voucherDetailsForm)">
                <dx-form id="form" [formData]="voucherDetailsForm" [readOnly]="false" [showColonAfterLabel]="true" [showValidationSummary]="true"
                    validationGroup="voucherData" (onFieldDataChanged)="onFieldDataChanged($event)">
                    <dxi-item dataField="VoucherNo" editorType="dxSelectBox" [editorOptions]="{ dataSource: voucherList, valueExpr: 'VoucherNo', displayExpr: 'ReferenceNo', searchEnabled: true, showClearButton: false  }">
                        <dxo-label text="Vouchers" alignment="left"></dxo-label>
                        <dxi-validation-rule type="required">
                        </dxi-validation-rule>
                    </dxi-item>

                    <dx-button style="margin-top: 20px;" text="Delete Voucher" type="danger"></dx-button>

                </dx-form>

                <div class="btn-grp-wrap">
                    <dx-button text="Delete" type="danger" validationGroup="voucherData" [useSubmitBehavior]="true"></dx-button>
                    <dx-button text="Cancel" (onClick)="hideDeleteVoucherPopUp()"></dx-button>
                </div>
            </form>
            <ngx-loading [show]="addEditVoucherFormPopupLoading" [config]="{ backdropBackgroundColour:'rgba(0,0,0,0.07)' }"></ngx-loading>
        </dx-scroll-view>
    </div>
</dx-popup>

<ngx-loading [show]="exchangeGainLossLoader"></ngx-loading>