<div class="main-currency-exchange-analysis">
  <div class="row">
    <div class="col-sm-12">
      <div class="main-heading clearfix">
        <h3 class="page-headin">Currency Exchange Analysis</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 dxagninptblk">


      <form action="your-action" (submit)="onApplyingFilter(currencyExchangeFilter)">
        <dx-form id="form" [(formData)]="currencyExchangeFilter" [colCount]="5" [readOnly]="false" [showColonAfterLabel]="true" [showValidationSummary]="true"
          validationGroup="currencyData" (onFieldDataChanged)="onFieldDataChanged($event)">
         
          <dxi-item dataField="OfficesList" editorType="dxTagBox" showCheckBoxesMode="normal" [editorOptions]="{ dataSource: officeDropdown, displayExpr: 'OfficeName', valueExpr: 'OfficeId', multiline: false, maxDisplayedTags: 1, placeholder: 'Select Office', searchEnabled: true, showClearButton:'true'  }">
            <dxo-label text="Office"></dxo-label>
            <dxi-validation-rule type="required"> </dxi-validation-rule>
          </dxi-item>

          <dxi-item dataField="Journal" editorType="dxSelectBox" [editorOptions]="{ dataSource: journalDropdown, value: 'null', displayExpr: 'JournalName', valueExpr: 'JournalCode', placeholder: 'Select Journal', searchEnabled: true, showClearButton: true }">
            <dxi-validation-rule type="required"> </dxi-validation-rule>
          </dxi-item>

          <dxi-item dataField="Voucher" editorType="dxTagBox" showCheckBoxesMode="normal" [editorOptions]="{ dataSource: voucherFilteredDropdown, displayExpr: 'ReferenceNo', valueExpr: 'VoucherNo', multiline: false, maxDisplayedTags: 1, placeholder: 'Select Voucher', searchEnabled: true, showClearButton:'true'  }">
            <dxo-label text="Voucher"></dxo-label>
            <dxi-validation-rule type="required"> </dxi-validation-rule>
          </dxi-item>

          <dxi-item dataField="Project" editorType="dxTagBox" showCheckBoxesMode="normal" [editorOptions]="{ dataSource: projectDropdown, displayExpr: 'ProjectName', valueExpr: 'ProjectId', multiline: false, maxDisplayedTags: 1, placeholder: 'Select Project', searchEnabled: true, showClearButton:'true'  }">
            <dxo-label text="Project"></dxo-label>
            <dxi-validation-rule type="required"> </dxi-validation-rule>
          </dxi-item>


          <dxi-item dataField="Date" class="dsplcal">
            <dxi-validation-rule type="required"> </dxi-validation-rule>
            
            <p-calendar name="trialBalanceDateRange" placeholder="Date Range" [(ngModel)]="trialBalanceDateRange" dateFormat="dd/mm/yy"
              selectionMode="range" showIcon="true" [style]="{'position': 'relative', 'overflow': 'visible', 'z-index': '999'}"></p-calendar>
          </dxi-item>

          <dxi-item dataField="DateOfComparison" editorType="dxDateBox" [editorOptions]="{type: 'date',  width: '100%', placeholder:'Select Date of Comparison', showClearButton: 'true' }">
            <dxi-validation-rule type="required"> </dxi-validation-rule>
          </dxi-item>

          <dxi-item dataField="CurrencyId" editorType="dxSelectBox" [editorOptions]="{ dataSource: currencyDropdown, value: '1', displayExpr: 'CurrencyCode', valueExpr: 'CurrencyId', placeholder: 'Select Currency', searchEnabled: true, showClearButton:'true'  }">
            <dxo-label text="Comparison Currency"></dxo-label>
            <dxi-validation-rule type="required"> </dxi-validation-rule>
          </dxi-item>

        </dx-form>
        <br>
        <div class="row">
          <div class="col-md-offset-2 col-md-8 text-center">
            <dx-button text="Update Filter" type="success" validationGroup="currencyData" [useSubmitBehavior]="true"></dx-button>
          </div>
        </div>

      </form>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div>
        <dx-data-grid id="gridContainer" [dataSource]="currencyAnalysisDataSource" [allowColumnReordering]="true" [allowColumnResizing]="true"
          [columnAutoWidth]="true">
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"></dxo-pager>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-header-filter [visible]="true"></dxo-header-filter>
          <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
          
          <dxi-column dataField="TransactionDate" caption="TransactionDate" dataType="date" format="dd/MM/yyy">
          </dxi-column>

          <dxi-column dataField="OriginalCurrency" caption="OriginalCurrency">
          </dxi-column>

          <dxi-column dataField="TransactionAmount" caption="TransactionAmount">
          </dxi-column>

          <dxi-column dataField="OriginalExchangeValue" caption="OriginalExchangeValue">
          </dxi-column>

          <dxi-column dataField="CurrentExchangeValue" caption="CurrentExchangeValue">
          </dxi-column>

          <dxi-column dataField="Amount" caption="Gain/Loss Amount">
          </dxi-column>

          <dxo-summary>
            <dxi-total-item column="TransactionAmount" summaryType="sum">
            </dxi-total-item>
            <dxi-total-item column="OriginalExchangeValue" summaryType="sum">
            </dxi-total-item>
            <dxi-total-item column="CurrentExchangeValue" summaryType="sum">
            </dxi-total-item>
            <dxi-total-item column="Amount" summaryType="sum">
            </dxi-total-item>
          </dxo-summary>

        </dx-data-grid>
      </div>
    </div>
  </div>

  <div>
  </div>



</div>