<lib-sub-header-template>
  <span class="action_header"> Master Inventories
    <hum-button [type]="'add'" [text]="'add new'" (click)="addMasterInventory()"></hum-button>
  </span>
  <div class="action_section">

  </div>
</lib-sub-header-template>
<mat-divider></mat-divider>

<mat-card>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <button mat-icon-button></button>
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      {{node.code}} - {{node.name}}
      <hum-button *ngIf="node.level !=2" [type]="'add'" [text]="node.addText"
        (click)="openItem(node.level,node.id,node.invId, node.isTransportCategory)">
      </hum-button>
      <hum-button [type]="'edit'" [text]="node.editText"
        (click)="openEditItem(node.level,node.id,node.invId, node.groupId,node.isTransportCategory,node.itemTypeCategory )">
      </hum-button>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.code}} - {{node.name}}
      <hum-button [type]="'add'" [text]="node.addText"
        (click)="openItem(node.level,node.id,node.invId,node.isTransportCategory)"></hum-button>
      <hum-button [type]="'edit'" [text]="node.editText"
        (click)="openEditItem(node.level,node.id, node.invId, node.groupId,node.isTransportCategory, node.itemTypeCategory)">
      </hum-button>
    </mat-tree-node>
  </mat-tree>
</mat-card>