.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header_mat_card {
  height: 77px;
}

// .header {
//   overflow: hidden;
//   position: fixed;
//   top: 0;
//   width: 100%;
// }
